page-publicite {
  ion-content {
    background: transparent !important;
    .scroll-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .close-modal {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .main-modal {

    opacity: 1;
    z-index: 1000000;
    position: relative;
    background: #fff !important;
    width: 90%;
    margin: 0px auto;
    height: auto;
    display: block;
    overflow: auto;
  }
  .closeicon{
    position: absolute;
    left: auto;
    right: 5%;
    top: 25%;
    width: 30px;
    z-index: 999999999999;
  }
  /*.btnvert{
    background: url(../assets/img/panier.png), linear-gradient(to right, #f6c505, #78a85b, #6fa067);
    background-size: 20px,auto;
    background-position: 7% 45%;
    background-repeat: no-repeat;
  }*/
  .alert-ios .alert-wrapper,.alert-md .alert-wrapper {
    border-radius: 0;
    overflow: auto;
    max-width: 100%;
    text-align: center;
    height:47%;
    position: relative;
  }
  .imgProduct{
    margin: 5% auto;
    width: 90%;
  }
}
