<!--
  Generated template for the DetailFoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="food-detail alert-ios">
  <ion-row class="close-modal" (click)="close()" ></ion-row>
  <img src="assets/img/close.png" class="closeicon" (click)="close()"  />
  <div class="main-modal alert-wrapper" >
    <ion-row scroll-y="true" style="background-image: linear-gradient(0deg, #6a1410,#6a1410,#be171a, #be171a);">
      <div class="writing_style"  *ngIf="pub">
        <img src="https://extranet.novo-burger.fr/uploads/publicity/{{ pub.path }}" class="imgProduct"/>
      </div>


    </ion-row>
  </div>
</ion-content>