page-horaire-bo {

    .content{
        background-color:#f4f4f4 ;
    }
    ion-col{
        overflow: hidden;
        text-overflow: initial;
        white-space: normal;
    }
    .choiceWeek{
        background: transparent !important;
       *{ color: #000 !important;
       padding: 0 5px}
        .text-input-md, .text-input-ios,.label{
            margin: 0 !important;
        }
        .text-input-md, .text-input-ios{
            font-weight: bold;
        }
    }
    .sale_off {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0px 0px 8px;
        .badge {
            width: 50px;
            height: 50px;
        }
        p {
            margin-top: -2px;
            padding-right: 7px;
            text-align: right;
            width: 100%;
            line-height: 1.3rem;
            font-size: 1.6rem !important;
            letter-spacing: -1px;
            display: block;
            position: absolute;
            color: #e91e3c !important;
            font-weight: bold;
            b {
                letter-spacing: 0.5px;
                font-family: 'Montserrat_regular';
                padding-right: 3px;
                color: #212739;
                font-size: 1.3rem;
            }
            small {
                font-weight: 900;
                font-size: 1.2rem;
                letter-spacing: -2px;
            }
        }
    }
    .item_style {
        position: relative;
        margin-bottom: 15px;
        .item-title {
            //font-size: 18px;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 5px;
            font-family: 'Montserrat_regular';
            font-weight: 500;
            color: #212739 !important;
            display: inline-block;
        }
        p {
            color: #7e7e7e;
            font-size: 1.3rem;
        }
        .price {
            font-family: Montserrat_bold;
            display: inline-block;
            color: #f6c505;
            font-size: 1.5rem;
            margin-bottom: 5px;
            text-transform: capitalize;
            font-weight: bold;
            margin-right: 10px;
            &.old-price {
                font-style: italic;
                text-decoration: line-through;
                color: #7e7e7e;
            }
        }
        button {
            text-transform: lowercase;
            color: #fff;
            font-weight: normal;
            ion-icon {
                color: #fff;
            }
        }
    }
    .item-md ion-thumbnail ion-img,
    .item-md ion-thumbnail img {
        width: 100px;
        height: auto;
    }
    .checkbox-md .checkbox-icon {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .checkbox-md .checkbox-checked .checkbox-inner {
        left: 8px;
        top: 0px;
        position: absolute;
        width: 12px;
        height: 20px;
        border-radius: 3px;
        border-top-width: 0;
        border-right-width: 3px;
        border-bottom-width: 3px;
        border-left-width: 0;
    }
    .imgright{
        float: right;
        margin-left: 2px;
        width: 30%;
        max-width: 30px;
    }
    ion-item.margTop20.item.item-block.item-md{
        background-color: #fff;
        border-radius: 0;
        width: 100%;
        margin: 0;
    }
    ion-item.margTop20.item.item-block.item-md:first-child{
        background-color: #fff;
        border-radius: 0;
        width: 100%;
        margin: 0 !important;
    }
    .grid .row .col {
        margin: auto;
    }
    .dayName_style{
        font-family: Montserrat_bold;
    }
}
