<!--
  Generated template for the HoraireBoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'schedule'|translate}} Bo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item class="choiceWeek">
    <ion-label>{{'choice_week'|translate}} : </ion-label>
    <ion-input [(ngModel)]="week" (ionChanged)="weekChanged($event,week)" type="number" class="week_input_style" disabled></ion-input>
  </ion-item>
  <ion-list class="listeCommandesStyle" *ngIf="horaire" >
    <ion-item *ngFor="let day of horaire.data.horaire"  class="margTop20">
        <ion-label class="dayLabel_style">
            <ion-grid>
              <ion-row>
                <ion-col>
                    <h2 class="dayName_style">{{day.dayName}}</h2>
                </ion-col>
                <ion-col>
                    <img src="assets/img/view.png" (tap)="getdayDetails($event, day)" class="imgright"/>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        <ion-checkbox [checked]="getDayService(day.ouverture)"  (ionChange)="updateWeek($event,day)"></ion-checkbox>
      <!-- <ion-label>{{day.dayName}}</ion-label>
      <ion-toggle (tap)="updateWeek($event)"  [checked]="getDayService(day.ouverture)"></ion-toggle> -->
    </ion-item>
  </ion-list>
</ion-content>
