<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Delivery'|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-list>
    <ion-item>
      <ion-row >
         <ion-col col-9>
          <div class="card-title">Immoblesx</div>
          <h6>Horaire</h6>
          <p>Mardi : 9:30h à 12:30h  /  14:00h à 19:00h<br>
            Mrcredi : 9:30h à 12:30h  /  14:00h à 19:00h<br>
            Jeudi : 9:30h à 12:30h  /  14:00h à 19:00h<br>
            Vendredi : 9:30h à 12:30h  /  14:00h à 19:00h<br>
            Samedi : 9:30h à 12:30h  /  14:00h à 19:00h</p>
        </ion-col>
        <ion-col text-right col-3>
          <img src="assets/img/imgPR.png" width="60px"/>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <!--<ion-fab bottom right>
    <button ion-fab>{{'contact' | translate}}</button>
    <ion-fab-list side="left">
      <button ion-fab (tap)="twitter()"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab (tap)="facebook()"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab (tap)="call()"><ion-icon name="call"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>-->
</ion-content>
