page-about {
	btnBack{
	height:60px;
	width:60px;
	}

	.content{
		background: #f4f4f4;
	}
	.map{
		filter: grayscale(100%) contrast(105%);
		iframe{
			border-bottom: 3px solid #ddd !important;
		}
		&:after{
			content: "";
			width: 0;
			height: 0;
			border: 10px solid;
			border-color: #ddd transparent transparent transparent;
			margin-left: 15px;
		}
	}
	.label{
		margin:0 !important;
	}
	.address{
		margin-top: 20px;
		h4{
			margin-bottom: 20px;
			font-family: 'Montserrat_regular';
			font-size: 3rem;
			color: #212739;
		}
		ion-icon{
			font-size: 2.5rem;
			margin-top: 1.4rem;
			color: #7e7e7e;
		}
		p{
			font-size: 1.3rem;
			color: #7e7e7e;
		}
		.social{
			margin-top: 50px;
			h5{
				color: #212739;
				font-size: 1.3rem;
				text-transform: uppercase;
				font-weight: bold;
				width: 100%;
				margin-bottom: 20px;
			}
			button{
				height: auto !important;
				padding: 5px 0px;
			    margin: 2px;
			    border: none;
				ion-icon{
					margin-top: 0 !important;
				}
			}
		}
	}
	.ter_cond{
		margin-top: 30px;
		h5{
			color: #212739;
			font-size: 1.3rem;
			text-transform: uppercase;
			font-weight: bold;
			width: 100%;
		}
		p{
			line-height: 2.2rem;
			font-size: 1.3rem;
			color: #7e7e7e;
			width: 100%;
		}
	}
	.form-contact{
		margin-top: 40px;
		margin-bottom: 70px;
		h4{
		/*	margin-bottom: 30px;
			font-family: 'Montserrat_regular';
			font-size: 3rem;
			color: #E8B900;*/
		}
		form{
			width: 100%;
			background: none !important;
			ion-item{
				background: none !important;
				padding: 0;
				margin-bottom: 10px;
				.item-inner{
					padding-left: 5px !important;
					border: none !important;
				}
				.input-wrapper{
					overflow: initial !important;
				}
			}
		}
		input, textarea{
			width: 100%;
			background: #fff;
			padding: 5px 15px;
			font-size: 1.4rem;
			margin: 0;
			height: 42px;
			border: none;
			border-radius: 0;
		}
		textarea{
			min-height: 100px;
		}
		input{
			height: 42px;
		}
		button{
			background: #E8B900;
			text-transform: uppercase;
			color: #fff;
			margin-top: 10px;
			&.activated{
				color: #212739;
			}
		}
	}
}
