<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'contact'|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row padding class="form-contact">
<!--
		<h4>Formulaire de contact</h4>
-->
    <form [formGroup]="form_contact" (ngSubmit)="send_message()">
      <ion-item>
        <input type="text" formControlName="full_name" placeholder="{{'full_name'|translate}}"/>
      </ion-item>

      <ion-item>
        <input type="email" formControlName="email" placeholder="{{'email'|translate}}"/>
      </ion-item>
      <ion-item>
        <textarea formControlName="message" placeholder="{{'message'|translate}}"></textarea>
      </ion-item>
      <button ion-button type="submit" class="btnlight">{{'send'|translate}}</button>
    </form>
  </ion-row>
</ion-content>
