page-login {
	.content{
		background-color: #f4f4f4 !important;
		//background-image: url("../assets/img/bglogin.png");
		background-size: cover;
		background-position: center;
	}
	.decouvr{
		margin-left:15%;
		color:white;
		width:70%;
		background-color: black;
		background-image: none !important;
	}
	.closeicon {
		position: absolute;
		left: auto;
		right: 5%;
		top: 5%;
		width: 30px;
		padding: 0 !important;
		z-index: 999999999999;
	}


	 .apple-sign-in {
  appearance: none;
  -webkit-appearance: none;
  padding: 15px 70px;
  border: none;
  background: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 15px;
  
  

  font-family: 'Play_Regular' !important;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  
  vertical-align: middle;
  position: relative;
  

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: auto !important;
  min-height: 40px;

  line-height: initial !important;
  align-items: center;
  text-transform: initial !important;
  overflow: hidden;
  cursor: pointer;
 ion-icon{
 margin-left:-80px;
 position:absolute;
 
 }
 }
 
	.content-login{

		.wrapper-login{
			position: absolute;
			width: 100%;
			top: 0;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			>div{
				margin-top: -20px;
			}
		}
		.role_login_style{
			background:transparent;
			color: #000;
			padding: 0 ;
			margin: 0 auto;
			.label{
				margin: auto;
			}
			h3{
				color: #000;
				margin: 0;
			}
		}

		.logo{
			margin: auto;
		}
		img {
			max-width: 60%;
			padding: 15px;
			height: auto;
			margin: auto;
		}
		.brand{
			text-align: center;
			color: #fff;
			margin-bottom: 30px;
			h2{
				width: 100%;
				display: block;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 3.5rem;
			}
			p{
				padding: 0px 10%;
				text-transform: uppercase;
				font-size: 1rem;
			}
		}
		.form-login{
			input {
				font-family: "Montserrat_regular";
				width: 100%;
				height: 42px;
				padding: 0 15px;
				background: #fff;
				border: none;
				-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
				box-shadow: none;
				margin: 5px 0;
				font-weight: 500;
				color: #000;
				border-radius: 20px;
			}
			::placeholder{
				color: black;
				text-transform: initial;

			}

			/*	button{
                    background: #e91e3c;
                    text-transform: uppercase;
                    color: #fff;
                    margin: 10px auto !important;
                    &.activated{
                        color: #212739;
                    }
                }*/
		}
		.toggle.toggle-checked .toggle-icon {
			background-color: #a4d4bc;
		}
		.toggle-md.toggle-checked .toggle-inner,.toggle-ios.toggle-checked .toggle-icon {
			background-color: #E8B900;
		}

		.more-opt{
			text-align: center;
			display: flex;
			justify-content:  center;
			color: #fff;
			button.m2pObli{
				color: #000;
				font-family: Montserrat_regular;
				font-size: 1.2rem !important;
				padding-left: 15px;
				padding-right: 5px;
				font-weight: normal;
			}
			button.subscribe{
				color: #000;
				text-decoration: underline;
				font-family: Montserrat_bold;
				font-size: 1.2rem !important;
				padding-left: 5px;
				padding-right: 15px;
			}
		}
	}


}
