<ion-content class="content-login">
	<!--
        <img src="https://image.freepik.com/free-photo/food-background-food-concept-with-various-tasty-fresh-ingredients-for-cooking-italian-food-ingredients-view-from-above-with-copy-space_1220-1373.jpg" alt="">
    -->
	<div padding class="wrapper-login">
		<div>
			<ion-row class="logo">
				<img src="assets/img/logo.png" alt="logo"/>
			</ion-row>
			<!--<ion-row class="role_login_style">
				<ion-label *ngIf="isClient"><h3>Connexion client</h3></ion-label>
				<ion-label *ngIf="!isClient"><h3>Connexion admin</h3></ion-label>
				<ion-toggle [(ngModel)]="isClient" (tap)="roleChanged($event)"></ion-toggle>
			</ion-row>-->
			<ion-row class="form-login">
				<input [(ngModel)]="user_name" type="email" placeholder="E-mail">
				<input [(ngModel)]="password" type="password" placeholder="Mot de passe">
				<p class="err" *ngIf="msg_err != null || msg_err != ''">{{msg_err}}</p>
			</ion-row>
			<ion-row class="more-opt">
				<button ion-button clear class="m2pObli" (tap)="forgetPassword()">Mot de passe oublié ?</button>
				<button ion-button clear class="subscribe"  (tap)="signup()">S'INSCRIRE</button>
			</ion-row>
			<ion-row class="form-login ">
				<button ion-button class="btnlight" (tap)="login()">Se connecter</button>
			</ion-row>
			<ion-row class="more-login">
				<button ion-button class="btnfb" (tap)="fb_login()">{{'login_with_facebook' | translate}}</button>
			</ion-row>
		 <ion-row class="more-login">
            <button (tap)="apple_login()"  class="apple-sign-in "   >
    <ion-icon expand="full" name="logo-apple" slot="start"></ion-icon>
 Se connecter avec Apple
  </button> 
        </ion-row>


			<!--<ion-row class="form-login margTop20">
				<button ion-button class=" btnlight decouvr" (tap)="fb_login()">Découvrir nos produis</button>
			</ion-row>-->
			<img src="assets/img/close.png" (tap)="decouvrir()" class="closeicon"/>

		</div>
	</div>
</ion-content>