<!--
  Generated template for the AddCodePromoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Ajouter un code promo</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-list class="listeCommandesStyle margTop20" *ngIf="codePromo">
        <ion-item class="item_style">
            <ion-label floating>Code Promo</ion-label>
            <ion-input type="text" [(ngModel)]="codePromo.code"></ion-input>
        </ion-item>
        <ion-item class="item_style montant">
            <ion-label floating>Montant</ion-label>
            <ion-input type="number" [(ngModel)]="codePromo.montant"></ion-input>
        </ion-item>
        <ion-item class="item_style montant">
            <ion-label floating>{{'quantity'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="codePromo.qte"></ion-input>
        </ion-item>
        <ion-item class="item_style reduction">
            <ion-label>Type</ion-label>
            <ion-select [(ngModel)]="codePromo.reduction" okText="Ok" cancelText="Annuler">
                <ion-option value="pourcentage">Pourcentage</ion-option>
                <ion-option value="montant">Montant</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="item_style horaire">
            <ion-label>Date de debut</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="codePromo.date_from"></ion-datetime>
        </ion-item>
        <ion-item class="item_style horaire">
            <ion-label>Date de fin</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="codePromo.date_to"></ion-datetime>
        </ion-item>
    </ion-list>
    <button class="btnlight" (tap)="addCodePromo()" ion-button>Ajouter</button>

</ion-content>
