page-add-code-promo {

    .group-btn-nav button ion-icon {
        font-size: 3.5rem;
        margin-right: 5px;
    }
    .content {
        background-color: #f6f6f6;
    }

    .item_style {
        position: relative;
        margin-bottom: 15px !important;
        padding: 12px;
        background-color: #fff;



    }
    .label.label-md,.label.label-ios {
        color: #000 !important;
        font-size: medium !important;
        font-family: Montserrat_bold !important;
        margin-bottom: 10px;
    }
    .item-inner{
        padding: 0 !important;
    }
    .label{
        margin: 0 !important;
    }

   .horaire{
        background-image: url("../assets/img/horaire.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 40px;
        margin: auto;
    }
    .reduction{
        background-image: url("../assets/img/reduction.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 40px;
        margin: auto;
    }
    .montant{
        background-image: url("../assets/img/montant.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 40px;
        margin: auto;
    }
    .back-button{
        display: block;
    }
}
