<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'pickUpPoint'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <h5>{{'choosePoint'|translate}}</h5>
    <ion-list radio-group class="margTop20">
        <div class="block-ptR" *ngFor="let item of myZone">
            <ion-item (tap)="onChangePoint(item.id)">
                <ion-label></ion-label>
                <ion-radio></ion-radio>
            </ion-item>
            <ion-row>
                <ion-col col-3>
                    <img src="https://extranet.novo-burger.fr/{{item.path}}" width="auto"/>
                </ion-col>

                <ion-col col-8>
                    <div class="card-title">{{item.name}}</div>
                    <p class="calender" *ngIf="item.phone != ''">{{item.phone}}</p>
                    <p class="lieu">{{item.adresse}}</p>

                </ion-col>
            </ion-row>
            <ion-row id="horaire">
                <ion-col col-12>
                    <h6>{{'schedule'|translate}}</h6>
                    <p *ngFor="let hor of item.horaire" >

                        <span>
                         {{hor.from}}:{{hor.to}}<br>
                    </span>
                        <span *ngIf="hor.enable==0">
                        {{'closing'|translate}}
                    </span>
                    </p>


        </ion-col>
      </ion-row>

    </div>
  </ion-list>
  <button class="btnlight" ion-button  block  (tap)="goBack()">
    {{'continue'|translate}}
  </button>
    <ion-fab bottom right>
        <button ion-fab>{{'contact' | translate}}</button>
        <ion-fab-list side="left">
            <button ion-fab (tap)="twitter()">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-fab (tap)="facebook()">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button ion-fab (tap)="call()">
                <ion-icon name="call"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
