page-point-retrait {
  .content-md,.content-ios{
    background-color:#f6f6f6 ;
  }
  div.block-ptR {
    margin-bottom: 10px !important;
    background: #fff;
    padding: 20px 10px;

    .item-md,.item-ios{
    min-height: 70px;
    z-index: 9999;
    position: absolute;
    background: transparent;
  }
  }
  .card-background-page {
    ion-card {
      position: relative;
      color: #fff;
      max-height: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    // img{
    // 	filter: blur(1.5px);
    // }
    .wrapper-bg{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba(0,0,0,0.7);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .card-title {
      font-family: "DaysOne-Regular";
      font-weight: 500;
      font-size: 14px;
    }

    p.calender{
      background-image: url("../assets/img/calender.png");
      color: #000;
      background-position: left 5px;
      background-repeat: no-repeat;
      background-size: 20px;
      padding: 5px 0 5px 30px;
      font-weight: 100;
      margin-left: 0;
      overflow: hidden;
      white-space: normal;
    }
    p.lieu{
      background-image: url(../assets/img/gps.png);
      color: #000;
      background-position: left 7px;
      background-repeat: no-repeat;
      background-size: 11px;
      padding: 5px 0 5px 15px;
      font-weight: 100;
      margin-left: 0;
      overflow: hidden;
      white-space: normal;
    }
    a{
      color: #f6c505;
      text-decoration: underline;
    }
    h5{
      padding-left: 15px;
    }
  }
  .list-md p,.list-ios p {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
    white-space: normal;
    padding-bottom: 5px;
  }
}
