<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="obj">{{obj.name}}</ion-title>

    </ion-navbar>
</ion-header>

<ion-content *ngIf="obj">
    <!--<img src="{{obj.image}}" style="width:100%" />-->
    <ion-list class="listeCommandesStyle margTop20">
        <!--<img src="http://tiliem.fr/uploads/foods/50_2018/4138691d146435c07a387665f6c3e510.jpg"
             style="width:100%"/>-->
        <ion-item>
            <br>
            <img src="https://extranet.novo-burger.fr/{{obj.image}}"  style="width:100%">
        </ion-item>


        <ion-item class="item_style">
            <ion-label floating>{{'quantity'|translate}}</ion-label>
            <ion-input type="text" name="qte" [(ngModel)]="obj.qte"></ion-input>
        </ion-item>





        <ion-item class="item_style">
            <ion-label floating>{{'value'|translate}}</ion-label>
            <ion-input type="text" name="val" [(ngModel)]="obj.valeur"></ion-input>
        </ion-item>

        <ion-item *ngIf="obj.offre && obj.offre.etat" class="item_style">
            <ion-label floating>{{'percent_reduction'|translate}}</ion-label>
            <ion-input type="text" [value]="obj.offre.reduction"></ion-input>
        </ion-item>
        <ion-item *ngIf="obj.offre && obj.offre.etat" class="item_style">
        <ion-label floating>{{'description_offer'|translate}}</ion-label>
            <ion-input type="text" [value]="obj.offre.description"></ion-input>
        </ion-item>


    </ion-list>
    <ion-row style="display: flex;margin-top: 20px;padding: 0 16px;" *ngIf="obj.offre">
        <ion-checkbox name="etat" [(ngModel)]="obj.offre.etat" class="checkbox">
        </ion-checkbox>
        <label class="label-checkbox">
            {{'activate_offer'|translate}}
        </label>
    </ion-row>
    <ion-row style="display: flex;margin-top: 20px;padding: 0 16px;">
        <ion-checkbox [checked]="obj.activated" class="checkbox">
        </ion-checkbox>
        <label class="label-checkbox">
            {{'activate'|translate}}
        </label>
    </ion-row>
    <br>
    <br>
    <button ion-button class="btnlight" (tap)="send()">{{'add'|translate}}</button>
    <br> <br>

</ion-content>
