page-food-detail-commmerct {

	.content {
		background-color: #f6f6f6;
	}
	.item_style {
		position: relative;
		margin-bottom: 15px !important;
		padding: 12px;
		background-color: #fff;
	}
	.label.label-md,.label.label-ios {
		color: #000 !important;
		font-size: medium !important;
		font-family: Montserrat_bold !important;
		margin-bottom: 10px;
	}
	.item-inner{
		padding: 0 !important;
	}
	.label{
		margin: 0 !important;
	}
	.label-checkbox {
		font-family: Montserrat_regular;
		font-style: initial;
		color: #000 !important;
		font-weight: initial !important;
		display: inline-flex !important;
		padding: 5px 7px;
	}
	.checkbox {
		display: inline-flex !important;
	}
}
