<ion-content padding class="food-detail alert-ios">
  <ion-row class="close-modal" (tap)="dismiss()"></ion-row>
  <ion-row class="main-modal alert-wrapper">
    <ion-list *ngIf="list != null" radio-group [(ngModel)]="select_size">
      <ion-list-header>{{ "select_size" | translate }}</ion-list-header>
      <ion-item *ngFor="let lst of list">
        <ion-label>{{ lst.name }}</ion-label>
        <ion-label *ngIf="discount == 0 || discount == null">
          {{ currencyProvider.formatMoney(lst.price) }}
        </ion-label>
        <ion-label *ngIf="discount != 0 && discount != null">
          {{
            currencyProvider.formatMoney(
              lst.price - (lst.price * discount) / 100
            )
          }}
        </ion-label>
        <ion-radio
          value="{{ lst.name }}"
          (tap)="selectSize(lst.name, lst.price)"
        ></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="list == null" radio-group [(ngModel)]="select_size">
      <ion-list-header>{{ "select_size" | translate }}</ion-list-header>
      <ion-item>
        <ion-label>default </ion-label>
        <ion-label>
          {{ currencyProvider.formatMoney(price - (price * discount) / 100) }}
        </ion-label>
        <ion-radio
          checked
          value=""
          (tap)="selectSize(lst.name, lst.price)"
        ></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="list_ext != null">
      <ion-list-header>{{ "select_extras" | translate }}</ion-list-header>
      <ion-item *ngFor="let lst of list_ext; let i = index">
        <ion-label>{{ lst.name }}</ion-label>
        <ion-label>
          {{ currencyProvider.formatMoney(lst.price) }}
        </ion-label>
        <ion-checkbox (ionChange)="selectExt(lst.price, lst.id)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <div class="add-button">
      <div class="total-price">
        <p>
          {{ "total" | translate }}:

          <b>{{ currencyProvider.formatMoney(total_price) }} </b>
        </p>
      </div>
      <button ion-button clear block round (tap)="addToCart()">
        {{ "ok" | translate }}
      </button>
    </div>
  </ion-row>
</ion-content>
