page-en-livraison {

  .content {
    background-color: #f6f6f6;
  }
  ion-col {
    overflow: hidden;
    text-overflow: initial;
    white-space: normal;
  }
  .choiceWeek {
    background: transparent !important;
    * {
      color: #000 !important;
      padding: 0 5px
    }

    .text-input-md, .text-input-ios, .label {
      margin: 0 !important;
    }
    .datetime-text {
      font-weight: bold;
    }
  }
  .label{
    margin: 0 !important;
  }
  [col-8].col{
    padding-left: 15px;
  }
    .item_style {
    position: relative;
    margin-bottom: 15px;
    .item-title {
      //font-size: 18px;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 5px;
      font-family: 'Montserrat_regular';
      font-weight: 500;
      color: #212739 !important;
      display: inline-block;
    }
    p {
      color: #000;
      font-size: smaller;
      font-family: Montserrat_light;
      background-size: auto 15px;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 30px;
    }
    p.total {
      color: #000 !important;
      font-size: medium !important;
      font-family: Montserrat_bold !important;
      padding: 0 !important;
      margin-bottom: 10px;
    }
    .listeCommandesStyle h1 {
      font-family: Montserrat_bold;
      color: #f6c505;
    }

  }
  .listeCommandesStyle h1 {
    color: #f6c505;
    text-transform: capitalize;
  }
  ion-item.margTop20.item.item-block.item-md {
    background-color: #fff;
    border-radius: 0;
    width: 100%;
    margin: 0;
  }
  ion-item.margTop20.item.item-block.item-md:first-child {
    background-color: #fff;
    border-radius: 0;
    width: 100%;
    margin: 0 !important;
  }
  .grid .row .col {
    margin: auto;
  }
  .dayName_style {
    font-family: Montserrat_bold;
  }
  .date {
    background: url("../assets/img/calender.png");
  }

  .typeEmp {
    background: url("../assets/img/iconaemporter.png");
  }
  .typeLiv {
    background: url("../assets/img/iconenlivraison.png");
  }
  .nbrAchat {
    background: url("../assets/img/menu/panier.png");
  }
  .item-input .label-md, .item-select .label-md, .item-datetime .label-md{
    color:#000;
  }
}
