<!--
  Generated template for the EnLivraisonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  
  <ion-navbar>
    <button ion-button menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'in_delivery'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-item  class="choiceWeek">
    <ion-label>{{'search_date'|translate}} :</ion-label>
    <ion-datetime (ionChange)="dateChanged($event)" displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
  </ion-item>

  <ion-list class="listeCommandesStyle pad0" *ngIf="commandesList"  >
    <ion-item *ngFor="let commande of commandesList" class="item_style pad0">
      <!-- <ion-thumbnail item-left>
        <img src="">
      </ion-thumbnail> -->
      
      <ion-grid class="pad0 marg0">
        <ion-row class="pad0 marg0">
          <ion-col col-8 (tap)="opendDetails(commande)">
            <h2>ID:{{commande.cmd.id}}</h2>
            <h1>{{commande.cmd.full_name}}</h1>
            <p class="total">

            Total:&nbsp;
              {{commande.cmd.total}}</p>
            <p class="date"> Date : {{commande.cmd.date }} </p>
            <p class="date" *ngIf="commande.cmd.quand!=''"> Quand : {{commande.cmd.quand }} </p>

            <p class="nbrAchat">
              Nombre d'achats : {{commande.detail.length}}</p>
            <p>
            <p class="typeLiv">

            <p>{{commande.cmd.status}}</p>
          </ion-col>
          <ion-col col-4>
            <ion-row  *ngIf="commande.cmd.validate == 1">
<!--
             <button class="btnlight" *ngIf="commande.cmd.status=='en cours de traitement'" (tap)="modifyDateCommand(commande.cmd)" ion-button>{{'when'|translate}}</button>
-->
              <button class="btnlight" *ngIf="commande.cmd.status=='en cours de traitement'" (tap)="validateCommand(commande.cmd)" ion-button>{{'treated'|translate}}</button>
            </ion-row>
            <ion-row *ngIf="commande.cmd.validate == 0" >
              <button class="btnlight" *ngIf="commande.cmd.status!='en cours de traitement'" (tap)="acceptCommand(commande.cmd)" ion-button>{{'accepted'|translate}}</button>
            </ion-row>
            <ion-row>
              <button class="btnrouge" *ngIf="commande.cmd.status!='en cours de traitement'" (tap)="refuseCommand(commande.cmd)" ion-button>{{'refused'|translate}}</button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
