page-searchStore {
  .wrapper_search {
    height: 80%;

    .list.margTop {
      height: 100%;
      max-height: 100%;
    }
  }
  .content-md, .content-ios {
    background-color: #f4f4f4;
  }
.scroll-content{
  overflow-y: auto;

}
  .ouverture {
    font-family: "Montserrat_regular";
    text-transform: uppercase;
    text-align: left;
    color: #F6C507;
    width:max-content;
    font-size: 9px;
    display: block;
    font-weight: 100;
    margin-left: 0;
    overflow: hidden;
    text-overflow: initial;
    white-space: normal;
    background: #4C4C4C;
    padding: 5px 20px;
    border-radius: 25px;
  }
.service{
  p{
    font-family: Montserrat_regular !important;
    font-size: x-small !important;
    background: #fff;
    color: #000 !important;
    text-transform: uppercase !important;
    padding: 5px 15px;
    border-radius: 25px;
  }
  position: absolute;
  top: 15px;
  left: 15px;
}
  .label-md, .label-ios {
    margin: 0 !important;
    overflow: hidden;
    border-radius: 25px;
  }
.myStore{
  background-size: cover !important;
  background-position: center;
  min-height: 250px;
  position: relative;
}
  .bgProduct {
    position: absolute;
    top: -25%;
    bottom: auto;
    left: 0;
    width: 100%;
    z-index: -1;
  }


  ion-slides {
    padding: 8px;
    margin-bottom: 8px;
  }
  .card-background-page {
    ion-card {
      position: relative;
      color: #fff;
      min-height: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // img{
    // 	filter: blur(1.5px);
    // }
    .wrapper-bg {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .item-md, .item-ios {
      display: inline-block;
      padding-left: 8px;
      background: transparent;
      margin-bottom: 5px;
      height: 50%;

      .item-inner {
        height: 100%;
      }
    }


    .card-title {
      font-family: "Uber_Move_Bold";
      text-transform: uppercase;
      color: #fff;
      text-align: left;
      font-size: large;
      white-space: normal;
      margin-bottom: 10px;
    }

    p {
      font-family: "Uber_Move_Medium";
      text-align: left;
      color: #fff;
      font-size: 1.2rem;
      display: block;
      font-weight: 100;
      margin-left: 0;
      overflow: hidden;
      text-overflow: initial;
      white-space: normal;
      margin-bottom: 7px;
    }
    .whiteblockSlide{
      position: relative;
      text-align: center;
      border-radius: 0;
      padding: 0px 10px 0;
      border: 1px solid #fff;
      overflow: hidden;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .whiteblock {
      border-radius: 0;
      padding: 0px 10px 0;
      overflow: hidden;
      min-height: 150px;
      display: flex;
      justify-content: center;
      align-items: end;
      bottom: 0;
      position: absolute;
      width: 100%;
      background: linear-gradient(180deg,transparent 0%, #000000de 53%);
    }

    .voirPlus {
      position: relative;
      top: 30px;
      width: 120px;
      margin: 0;
      border: 6px solid #f9faf9;
      box-shadow: none;
      border-radius: 25px;
    }

    ion-col, .col {
      position: relative;

    }

    .item {
      background: transparent;
      margin-bottom: 5px;
    }

  }
  .offreblock {
    height: 20%;
    min-height: 150px;
    width: auto;
    border-radius: 0;

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  .offreblock.gif {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff
  }
}
