<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Restaurants


        </ion-title>
        <div class="group-btn-nav">
        </div>
    </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
    <div class="offreblock gif" [ngStyle]="{'background-image': 'url(assets/img/loading.gif)'}"
         *ngIf="slider && sliderLength>0">
        <ion-slides pager="true" loop="true" speed="500" autoplay="2000" #mySlider *ngIf="slider">
            <ion-slide *ngFor="let lst of slider; let i = index">
                <div [ngStyle]="{'background-image': 'url('+base_url+lst.path+')'}"
                     style="background-size: cover !important; background-position: center;height:150px;">
                    <div style="padding: 10px;background: #00000073;position: relative;width: inherit;height: inherit;">
                        <!-- <img src="{{base_url+itemAc.path}}" class="bgProduct">-->
                        <ion-row class="whiteblockSlide">
                        </ion-row>
                    </div>
                </div>

            </ion-slide>
        </ion-slides>
    </div>
    <div class="wrapper_search">

        <ion-list class="margTop10">

            <ion-item *ngFor="let lst of listStore" (tap)="openPage(lst)" col-12>
                <div class="myStore" [ngStyle]="{'background-image': 'url('+base_url+lst.path+')'}">
                    <!-- <img src="{{base_url+lst.path}}" class="bgProduct">-->
                    <div class="whiteblock">

                        <ion-row class="w-100">
                            <ion-col col-10>
                                <h1 class="card-title">{{lst.name}}</h1>

                                <p><img src="assets/img/iconGps.png" width="7px"/> {{lst.adresse}}</p>
                                <p *ngIf="lst.has_ouverture=='Ouvert'" class="ouverture">Ouvert</p>
                                <p *ngIf="lst.has_ouverture!='Ouvert'" class="ouverture">Fermé</p>
                            </ion-col>
                            <ion-col col-2 text-right>
                                <img src="assets/img/go.png" width="20%"/>
                            </ion-col>
                        </ion-row>

                    </div>

                    <div class="service">
                        <p>Click & Collect - Livraison</p>
                    </div>
                </div>

            </ion-item>
        </ion-list>
    </div>
</ion-content>
<!--

<ion-footer>
    <button clear small  color="light" ion-button class="cart-nav panier" (tap)="openCartPage()">
        <img src="assets/img/panierblanc.png"/>
        <p>{{total_card}}</p>
    </button>
</ion-footer>-->

<ion-footer>
    <button clear small color="light" ion-button class="panier btnpanier" (tap)="cart()">
    </button>
</ion-footer>