page-choose-adress {

  ion-content {
    background: transparent !important;
    .scroll-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .basket {
    background: #000;
  }

  .close-modal {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .main-modal {

    opacity: 1;
    z-index: 1000000;
    position: relative;
    background: #fff !important;
    width: 90%;
    margin: 0px auto;
    height: auto;
    display: block;
    overflow: auto;
  }

  ion-list {
    margin-bottom: 20px !important;
    width: 100%;
    &.list-md {
      margin-bottom: 40px !important;
      &:nth-child(2) {
        margin-bottom: 15px !important;
      }
    }
    &:last-child {
      margin-bottom: 10px !important;
    }
    ion-list-header {
      border-top: none !important;
      font-weight: bold !important;
      margin-bottom: 0 !important;
      &.list-header-wp {
        font-size: 1.4rem !important;
      }
    }

  }
  .writing_style{
    width: 100%;
    padding: 10px;
  }


  .item_style{
    font-family: Montserrat_regular;
    text-transform: initial;
    color: #E8B900;
    max-width: 80%;
    margin: auto;
    //font-size: 2.5rem;
  }


  .closeicon{
    position: absolute;
    left: auto;
    right: 5%;
    top: 5%;
    width: 30px;
    z-index: 999999999999;
  }
  /*.btnvert{
    background: url(../assets/img/panier.png), linear-gradient(to right, #E8B900, #78a85b, #6fa067);
    background-size: 20px,auto;
    background-position: 7% 45%;
    background-repeat: no-repeat;
  }*/
  .alert-ios .alert-wrapper,.alert-md .alert-wrapper {
    border-radius: 0;
    padding: 50px 0px;
    overflow: auto;
    max-width: 100%;
    text-align: center;
    height:max-content;
    position: relative;
  }
  .btnOptionSelected {
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    color: #000;
  }

  .btnOptionSelected {
    height: auto;
    min-height: 42px;
    padding: 3px 0;
  }
  .btnOptionSelected ion-row ion-col:last-child {
    text-align: left !important;
    line-height: 2;
  }
  .btnOptionSelected ion-row ion-col:first-child {
    text-align: center;
    height: 30px;
  }
  .btnOptionSelected h3{
    font-family: Montserrat_regular;
    text-align: left;
    font-size: 14px;
    text-transform: none;
    margin: 8px 0px 8px 15px !important;
    color:#787878;
  }
  .btnOptionSelected h6{
    font-family: Montserrat_regular;
    text-align: left;
    font-size: 14px;
    text-transform: none;
    margin: 8px 0px 8px 15px !important;
    color:#000;
  }
  .btnSelectOp {
    width: 20px !important;
    height: 20px !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center;
  }
  .plusOptionSelected ion-row {
    padding: 0 10px;
  }
  .plusOptionSelected h5 {
    margin: 0 0 0 0 !important;
    text-transform: initial;
  }
  .chez-moi{
    background-image: url("../assets/img/homeBlack.png");
  }
  .bureau{
    background-image: url("../assets/img/bureauBlack.png");
  }
  .aucun{
    background-image: url("../assets/img/gpsBlack.png");
  }
  .autre{
    background-image: url("../assets/img/autreBlack.png");
  }
  .form01.col {
    padding: 0;
  }

  .input{
    border: 1px solid #e9e9e9;
    border-radius: 20px;
  }
  .row{
    width: 100%;
  }
  .edit {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    color: #fff;
    font-weight: 500;
    float: right;
    padding: 0px;
    margin: 0;
  }
  ion-content {
    background: transparent !important;
    .scroll-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .btnTransparent {
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 50%;
    min-width: 200px;
    text-transform: initial;
    b {
      font-family: Montserrat_bold;
      font-size: medium;
      padding-left: 5px;
    }
  }
  .row .col:first-child {
    font-family: Montserrat_bold;
    font-size: small;
    background-image: url("../assets/img/border-left.png");
    background-position: right center;
    background-size: auto 60%;
    background-repeat: no-repeat;
  }
  .row .col:first-child img {
    height: 20px;
    position: relative;
    top: 4px;
  }
  .row .col:last-child img {
    height: 10px;
    float: right;
    text-align: right;
  }
  .row .col:last-child{
    display: flex;
    img{
      margin: auto;
    }
  }
  .row .col {
    white-space: normal;
  }
  .item {
    border-top: 1px solid #e9e9e9
  }
  .item:last-child {
    border-bottom: 1px solid #e9e9e9
  }
}
