<ion-content class="food-detail alert-ios">
  <ion-row class="close-modal" (tap)="dismiss()"></ion-row>
  <div class="main-modal alert-wrapper">
<!--
    <img src="assets/img/close.png" (tap)="dismiss()" class="closeicon"/>
-->
    <ion-list>
    <ion-item *ngFor="let lst of list" >
      <ion-row (tap)="chooseAdrr(lst)">
        <ion-col col-4>
          <img src="assets/img/gpsRed.png"/>
          <span>{{lst.title_adr}} </span>
        </ion-col>
        <ion-col col-7>
          <p>{{lst.adr}}</p>
        </ion-col>
        <ion-col col-1>
          <img  src="assets/img/goBlack.png"/>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>
  </div>
</ion-content>