page-edit-address {

  .basket {
    background: #000;
  }
  .searchbar{
    padding: 0;
    ::placeholder{
      font-size: 14px !important;
    }
  }
  .searchbar-input::placeholder{
    font-size: 14px !important;
    color: #000;
  }

  .searchbar .searchbar-input {
    padding: 6px 30px;
    border-radius: 45px;
  }
  .searchbar-md .searchbar-search-icon, .searchbar-ios .searchbar-search-icon {
    left: auto;
    right: 5px;
    top: 11px;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #000;
  }
  .close-modal {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .main-modal {

    opacity: 1;
    z-index: 1000000;
    position: relative;
    background: #fff !important;
    width: 90%;
    margin: 0px auto;
    height: auto;
    display: block;
    overflow: auto;
  }

  ion-list {
    margin-bottom: 20px !important;
    width: 100%;
    &.list {

        margin-bottom: 40px !important;
        border: 1px solid #dedede;
        border-radius: 20px;
        margin-top: 5px;
      ion-item-sliding{
        background: transparent !important;
        .item{
          background: transparent;
        }

      }
      &:nth-child(2) {
        margin-bottom: 15px !important;
      }
    }
    &:last-child {
      margin-bottom: 10px !important;
    }
    ion-list-header {
      border-top: none !important;
      font-weight: bold !important;
      margin-bottom: 0 !important;
      &.list-header-wp {
        font-size: 1.4rem !important;
      }
    }
    ion-item {
      min-height: 3rem !important;
      font-size: 1.4rem !important;
      &:last-child {
        border: none !important;
      }
      ion-checkbox {
        margin-right: 10px !important;
      }
      ion-label {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
        &:last-child {
          text-align: right;
        }
        &:first-child {
          text-align: left !important;
        }
      }
      ion-radio,
      ion-checkbox {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
  .writing_style{
    width: 100%;
    padding: 10px;
    margin-top: 7vh!important;
  }


  .item_style{
    font-family: dancingscript-bold;
    text-transform: initial;
    color: #000;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    //font-size: 2.5rem;
  }


  .closeicon{
    position: absolute;
    left: auto;
    right: 5%;
    top: 5%;
    width: 30px;
    z-index: 999999999999;
  }
  /*.btnvert{
    background: url(../assets/img/panier.png), linear-gradient(to right, #f6c505, #78a85b, #6fa067);
    background-size: 20px,auto;
    background-position: 7% 45%;
    background-repeat: no-repeat;
  }*/
  .alert-ios .alert-wrapper,.alert-md .alert-wrapper {
    border-radius: 0;
    overflow: auto;
    max-width: 100%;
    text-align: center;
    height:100%;
    position: relative;
  }
  .btnOptionSelected {
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    color: #000;
  }

  .btnOptionSelected {
    height: auto;
    min-height: 42px;
    padding: 3px 0;
  }
  .btnOptionSelected ion-row ion-col:last-child {
    text-align: left !important;
    line-height: 2;
  }
  .btnOptionSelected ion-row ion-col:first-child {
    text-align: center;
    height: 30px;
  }
  .btnOptionSelected h3{
    font-family: Montserrat_regular;
    text-align: left;
    font-size: 14px;
    text-transform: none;
    margin: 8px 0px 8px 15px !important;
    color:#787878;
  }
.btnOptionSelected h6{
  font-family: Montserrat_regular;
  text-align: left;
    font-size: 14px;
    text-transform: none;
    margin: 8px 0px 8px 15px !important;
    color:#000;
  }
  .btnSelectOp {
    width: 20px !important;
    height: 20px !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center;
  }
  .plusOptionSelected ion-row {
    padding: 0 10px;
  }
  .plusOptionSelected h5 {
    margin: 0 0 0 0 !important;
    text-transform: initial;
  }
  .chez-moi{
    background-image: url("../assets/img/homeBlack.png");
  }
  .bureau{
    background-image: url("../assets/img/bureauBlack.png");
  }
  .aucun{
    background-image: url("../assets/img/gpsBlack.png");
  }
  .autre{
    background-image: url("../assets/img/autreBlack.png");
  }
  .form01.col {
    padding: 0;
  }

    .footer::before{
    background: none;
  }
  .input{
    border: 1px solid #e9e9e9;
    border-radius: 20px;
  }
  .row{
    width: 100%;
  }
}
