<!--
  Generated template for the DetailFoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ajouter une nouvelle <br/>adresse</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="adresse_content" padding>
<div class="centredBlock">
  <!--<h4 class="item_style">Ajouter une nouvelle <br/>adresse</h4>-->
  <div class="btnOptionSelected margTop20">
    <ion-row (tap)="selectOption(1)">
      <ion-col col-2>
        <ion-icon class="btnSelectOp {{name}}"></ion-icon>
      </ion-col>
      <ion-col class="form01" col col-10><h6>{{type_address}}</h6></ion-col>
    </ion-row>
    <div *ngIf="optionSelected(1)" class="plusOptionSelected">
      <ion-row class="pad0" (tap)="typeAddress(1)">
        <ion-col col-2>
          <ion-icon class="btnSelectOp chez-moi"></ion-icon>
        </ion-col>
        <ion-col class="form01" col col-10>
          <h3>Chez moi</h3>
        </ion-col>
      </ion-row>
      <ion-row class="pad0" (tap)="typeAddress(2)">
        <ion-col col-2>
          <ion-icon class="btnSelectOp bureau"></ion-icon>
        </ion-col>
        <ion-col class="form01" col col-10>
          <h3>Bureau</h3>
        </ion-col>
      </ion-row>
      <!--<ion-row class="pad0" (tap)="typeAddress(3)">
        <ion-col col-2>
          <ion-icon class="btnSelectOp aucun"></ion-icon>
        </ion-col>
        <ion-col class="form01" col col-10>
          <h3>Aucun</h3>
        </ion-col>
      </ion-row>-->
      <ion-row class="pad0" (tap)="typeAddress(4)">
        <ion-col col-2>
          <ion-icon class="btnSelectOp aucun"></ion-icon>
        </ion-col>
        <ion-col class="form01" col-10>
          <h3>Autre</h3>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-row>


    <ion-searchbar class="margTop10" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"
                   [showCancelButton]="false"
                   placeholder="Votre adresse"></ion-searchbar>
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item-sliding *ngFor="let item of autocompleteItems">
        <ion-item tappable (tap)="selectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-item-sliding>
    </ion-list>
    <ion-input type="text" [(ngModel)]="comp" placeholder="Complément adresse" class="margTop10"></ion-input>
  </ion-row>
  <!-- <ion-row>
         <ion-col col-12>
           <ion-input type="text" [(ngModel)]="comp" placeholder="complément adress"></ion-input>
         </ion-col>
       </ion-row>
 -->
</div>

</ion-content>

<ion-footer class="footer_action_button" padding>
  <button ion-button (tap)="addMyAdress()" class="btnlight">
    Ajouter
  </button>
</ion-footer>