<!--
  Generated template for the AddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Adresses enregistrées</ion-title>
        <div class="group-btn-nav">
            <button clear small color="light" ion-button class="edit cart-nav" (tap)="editCard()">
                <img src="assets/img/edit.png"/>
            </button>
        </div>
    </ion-navbar>
</ion-header>

<ion-content class="adresse_content">
    <button ion-button class="btnTransparent" (tap)="addCard()">Ajouter moyen de paiement <b>+</b></button>
    <ion-list>
        <ion-item>
            <ion-row>
                <ion-col col-3>
                    <img src="assets/img/masterCard.png">
                </ion-col>
              <ion-col col-8>
                  <!--<div *ngIf="myCardData!=null" class="oldCard">
                       <h6>MasterCard</h6>
                       <p>Ending {{myCardData.last4}}</p>
                  </div>-->
                  <div  class="oldCard">
                       <h6>MasterCard</h6>
                       <p>Ending 4202</p>
                  </div>
                </ion-col>
                <ion-col col-1>
                    <img src="assets/img/goBlack.png"/>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
        <small *ngIf="panierLength">{{panierLength}}</small>
    </button>
</ion-footer>