page-list-card {

  .edit {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    color: #fff;
    font-weight: 500;
    float: right;
    padding: 0px;
    margin: 0;
  }
  .btnTransparent {
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 50%;
    min-width: 200px;
    text-transform: initial;
    b {
      font-family: Montserrat_bold;
      font-size: medium;
      padding-left: 5px;
    }
  }
  .row .col:first-child {
    font-family: Montserrat_bold;
    font-size: small;
  }
  .row .col:first-child img {
    width: auto;
    position: relative;
    top: 4px;
  }
  .row .col:last-child img {
    height: 10px;
    float: right;
    text-align: right;
  }
  .row .col {
    white-space: normal;
  }
  .item {
    border-top: 1px solid #e9e9e9;
    .col:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
  .item:last-child {
    border-bottom: 1px solid #e9e9e9
  }
.oldCard {
  h6{

  font-family: Montserrat_regular;
  text-transform: initial;
}
  p{
    font-size: 11px;
  }
}
}
