<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Panier</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="no-item" *ngIf="(list == 0||!list)&&nodata">
        <img src="assets/img/paniervide.gif" class="vide" (tap)="commander()">
        <p>Votre panier est vide. </p>
    </div>


    <div *ngIf="list != 0 && list">
        <h5>Mes commandes</h5>
        <ion-list>
            <ion-item-sliding *ngFor="let lst of list; let i = index">
                <ion-item>
                    <ion-row>
                        <!-- <ion-col col-2>
                             <img src="{{ lst.image }}"/>
                         </ion-col>-->
                        <ion-col col-8>
                            <h2>{{ lst.name }}</h2>
                            <p class="description" [innerHTML]="getSafehtml(lst.description)"></p>
                        </ion-col>
                        <ion-col col-3>
                        <span class="price">
                            {{ currencyProvider.formatMoney(lst.total_price * lst.quantity) }}
                        </span><br>
                            <div class="qtyCart">
                                <button clear small ion-button (tap)="minus(lst.quantity, i)">
                                    -
                                </button>
                                <input type="number" [(ngModel)]="lst.quantity" (blur)="enter_quantity(lst)" readonly/>
                                <button clear small ion-button (tap)="plus(lst.quantity, i)">
                                    +
                                </button>
                            </div>
                        </ion-col>


                        <ion-col col-1 text-center>
                            <img
                                    src="assets/img/delete.png"
                                    width="15px"
                                    (tap)="remove(i)"/>
                        </ion-col>

                    </ion-row>
                    <div class="acp">
                        <ion-row *ngFor="let acp of lst.supplements">
                            <ion-col col-6 *ngIf="acp.checked">{{acp.name}}</ion-col>
                            <ion-col col-6 *ngIf="acp.checked"> {{acp.price}} €</ion-col>
                        </ion-row>
                        <ion-row *ngFor="let acp2 of lst.boisson">
                            <ion-col col-6 *ngIf="acp2.checked">{{acp2.name}}</ion-col>
                            <ion-col *ngIf="acp2.checked" col-6></ion-col>
                        </ion-row>
                        <ion-row *ngFor="let acp3 of lst.accompagenement">
                            <ion-col col-6 *ngIf="acp3.checked">{{acp3.name}}</ion-col>
                            <ion-col col-6 *ngIf="acp3.checked"><br></ion-col>
                        </ion-row>
                        <ion-row *ngFor="let acp4 of lst.sauces">
                            <ion-col col-6 *ngIf="acp4.checked">{{acp4.name}}</ion-col>
                            <ion-col col-6 *ngIf="acp4.checked"></ion-col>
                        </ion-row>
                        <ion-row *ngFor="let acp5 of lst.dessert">
                            <ion-col col-6 *ngIf="acp5.checked">{{acp5.name}}</ion-col>
                            <ion-col col-6 *ngIf="acp5.checked"></ion-col>
                        </ion-row>
                    </div>
                </ion-item>
                <!--<ion-item-options side="right">
                          <button ion-button color="danger" (tap)="remove(i)">
                              <ion-icon name="close"></ion-icon>
                          </button>
                      </ion-item-options>-->
            </ion-item-sliding>
        </ion-list>

        <div class="footer">

            <ion-row class="payment">

                <div class="fee"
                     *ngIf="data && (data.livraisonObject.frais_livraison || data.livraisonObject.frais_petit_commande!='0.00' || data.livraisonObject.frais_service) ">
                    <p>Frais : </p>
                    <p *ngIf="data.livraisonObject.frais_livraison">
                        Livraison : {{ data.livraisonObject.frais_livraison }} € </p>
                    <p *ngIf="data.livraisonObject.frais_petit_commande!='0.00'">
                        Commande : {{ data.livraisonObject.frais_petit_commande }} € </p>
                    <p *ngIf="data.livraisonObject.frais_service">
                        Service : {{ data.livraisonObject.frais_service }} € </p>
                </div>
                <p class="fee" *ngIf="discount!=''|| montant!=''|| reduction!=0">

                    <span *ngIf="discount!='' || montant!='' ">Réduction :</span>
                    <span *ngIf="discount!=''">{{ currencyProvider.formatMoney((pay.total * discount) / 100) }}</span>
                    <span *ngIf="montant!=''">{{ currencyProvider.formatMoney(montant) }}</span>
                    <span *ngIf="reduction!=0">{{ currencyProvider.formatMoney(reduction) }}</span>
                </p>
                <p class="fee total-pay">
                    <span>Total :</span>
                    <span *ngIf="discount==''&& montant==''">{{ currencyProvider.formatMoney(pay.total - reduction) }}</span>
                    <span *ngIf=" montant!=''">{{ currencyProvider.formatMoney(pay.total - (montant + reduction)) }}</span>
                    <span *ngIf="discount!=''">{{ currencyProvider.formatMoney((pay.total - (pay.total * discount) / 100) - reduction)}}</span>
                </p>
                <p *ngIf="!validatePrice  &&minimumPrice" class="minimum_price_style ">
                    Minimum commande : {{ currencyProvider.formatMoney(minimumPrice) }}<br>
                    Vos points : {{ myPoints }}
                </p>
                <ion-row style="width: 100%">
                    <ion-col col-4>
                        <ion-label>Code Promo</ion-label>
                    </ion-col>
                    <ion-col col-2>
                        <ion-label style="color:green;" *ngIf="isCode||(data&&data.code_promos)">
                            <ion-icon name="checkmark"></ion-icon>
                        </ion-label>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button class="promo btnpromo" text-center
                                (tap)="promo()">
                        </button>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>Message</ion-label>
                    </ion-col>
                    <ion-col col-2>
                        <ion-label style="color:green;" *ngIf="isNote||(data&&data.note)">
                            <ion-icon name="checkmark"></ion-icon>
                        </ion-label>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button class="note btnnote" text-center
                                (tap)="note()">
                        </button>
                    </ion-col>
                </ion-row>

            </ion-row>
            <ion-row class="err_show" *ngIf="validate">
                <p class="err">
                    {{'fillFields'|translate}}
                </p>
            </ion-row>
            <ion-row class="err_show" *ngIf="validate &&data && data.type == 'stuart'">
                <p class="err">
                    Seulement le paiement par CB est autorisé pour type Stuart
                </p>
            </ion-row>

            <ion-row>
                <ion-col col-6>
                    <h6 *ngIf="!(savedData && savedData.type)">
                        Choisir un mode de retrait
                    </h6>
                    <h6 class="saved" *ngIf="savedData && savedData.type">
                        <ion-icon name="md-checkmark"></ion-icon>
                        <span>{{savedData.type}}</span></h6>
                </ion-col>
                <ion-col col-6>
                    <button ion-button class="btnTransparent" (tap)="livraison()">
                        <span *ngIf="!(savedData && savedData.type)">Ajouter</span>
                        <span *ngIf="(savedData && savedData.type)">Modifier</span>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <h6 *ngIf="!(savedData && savedData.type_Paiement)">
                        Choisir un mode de paiement
                    </h6>
                    <h6 class="saved" *ngIf="savedData && savedData.type_Paiement=='livraison'">
                        <ion-icon name="md-checkmark"></ion-icon>
                        Paiement à la livraison
                    </h6>
                    <h6 class="saved" *ngIf="savedData && savedData.type_Paiement=='par_carte'">
                        <ion-icon name="md-checkmark"></ion-icon>
                        Paiement par carte
                    </h6>
                </ion-col>
                <ion-col col-6>
                    <button ion-button class="btnTransparent" (tap)="paiement()">
                        <span *ngIf="!(savedData && savedData.type_Paiement)">Ajouter</span>
                        <span *ngIf="(savedData && savedData.type_Paiement)">Modifier</span>
                    </button>
                </ion-col>
            </ion-row>
            <button ion-button class="btndark" (tap)="checkout()">
                Finaliser la commande
            </button>
        </div>
    </div>
</ion-content>