page-cart {
  .content {
    background: #fff;
  }

  .description *{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  ion-item {
    ion-thumbnail {
      min-height: 50px !important;
      min-width: 50px !important;
      img {
        width: 50px !important;
        height: 50px !important;
      }
    }
    h2 {
      color: #000;
      font-family: 'Montserrat_bold';
      font-size: medium;
      margin: 0;
    }
    .close {
      color: #fff;
      margin-right: 0 !important;
      ion-icon.icon-wp, ion-icon.icon-ios {
        font-size: 2.2rem !important;
      }
    }
    .qtyCart {
      text-align: right;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-items: right;
      align-items: center;
      justify-content: flex-end;
      input {
        width: 32px;

      }
      button:first-child {
        border-left: 1px solid #e9e9e9;
      }
      button:last-child {
        border-right: 1px solid #e9e9e9;
      }
      button, input {
        font-family: Montserrat_regular;
        border: none;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        display: inline-block;
        height: 30px;
        border-radius: 0;
        font-size: 14px;
        text-align: center;
        margin: 0;
        padding: 5px;
        color: #000;
      }
    }
    ion-col {

      margin: auto !important;
      overflow: hidden;
      white-space: normal;
    }

    button, input {
      display: inline-block;
      height: 40px;
      text-align: center;
      margin: 0;
      color: #000;
    }
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }
  ion-footer{
    background: #fff;
  }
  .price {
    font-family: 'Montserrat_bold';
    display: inline-block;
    color: #000 !important;
    font-size: small;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
    text-align: right;
  }
  p {
    display: block;
    align-items: center;
    font-size: 1.2rem !important;
    margin: 5px 0;
    color: #212739;
    input {
      width: 40px;
      // border: none;
      height: 20px;
      padding: 0;
      text-align: center;
      font-weight: bold;
    }
    button {
      margin: 0 10px !important;
      height: 1.8rem !important;
      ion-icon {
        color: #212739;
      }
    }
  }
  h5 {

    text-transform: initial;
    color: #000;
    padding: 0 16px;
    text-align: center;
    font-family: 'MONTSERRAT_BOLD';
  }
  h6{
      padding: 0 7px;
      font-size: small;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      margin: 0;
      height: 100%;

  }
  .saved {
    color: green;
    span:first-letter{
      text-transform: uppercase;
    }
  }
  .saved .icon {
    color: green;
    margin-right: 7px;
  }
  .button.add span{
    white-space: inherit;
    color: #f6c505;
    text-transform: uppercase;
    font-family: 'Montserrat_bold';
  }
  .fee.total-pay.frais {
    border: none;
    span,p{
      color: #000;
      margin: 5px 0;
      font-family: Montserrat_regular;
    }
  }
  .list .item-wrapper {
    background: transparent;
    margin-bottom: 0px;

      border-radius: 0px;
      border-top:1px solid #e9e9e9 !important;
      &:last-child{
        border-top:1px solid #e9e9e9;
        border-bottom:1px solid #e9e9e9 !important;

      }
    .item{

    }
  }
  .addUser{
    background-color: #f7f0f0;
    padding:  16px;
    .item,.item-inner{
      padding-left: 0;
      padding-right: 0 !important;
    }
    .item{
      margin-bottom: 10px;
h6{
  padding: 0;
}
    }
  }
  .compteur {

    display: inline-flex;
    height: 45px;
    border: 1px solid #c0c0c0;
    text-align: center;
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    input {
      width: 40px;
      border: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      text-align: center;
      font-family: Montserrat_regular;

    }
  }
  .qty {
    display: inline-block;
    height: 45px;
    border: 1px solid #c0c0c0;
    border-left: 0;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .payment {
    padding: 0 ;
    .fee {
      font-family: Montserrat_light;
      width: 100%;
      display: block;
      margin: 0px;
      padding: 0px 16px;
      span:first-child, p:first-child {
        font-size: medium;
        color: #000;
        margin: 5px 0;
      }
      span:last-child {
        font-family: Montserrat_bold;
        float: right;
        font-size: medium;
        color: #000;
        margin: 5px 0;
      }
      &.total-pay {
        font-size: 15px;
        border-top: 3px solid #000;
        background: #f6c505;
        padding: 10px 16px;
      }
    }
  }
  .no-item {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    p {
      font-family: Uber_Move_Bold;
      padding: 0px 16px;
      font-size: 20px !important;
      margin: 5px 0;
      text-align: center;
      color: #000;
    }
  }
  .last-row {

    width: 100%;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    .item {
      box-shadow: 1px 1px 20px #ccc;
      margin-bottom: 10px;
      ion-col img {
        height: 30px;
      }
      ion-col h2 {
        font-family: Montserrat_regular;
        color: #000;
        text-align: left;
        font-size: 12px;
      }
      ion-col p {
        font-family: Montserrat_regular;
        color: #f6c505;
        margin: 5px 0;
      }

    }

  }
  .btnBack{

    top: 11px;
    background-color: transparent;
    border-radius: 50%;
  }
  button.btnlight.button.button-md.button-default.button-default-md {
    margin-bottom: 18px;
  }
  .minimum_price_style {
    width: 100% !important;
    padding: 0 16px;
    margin: 5px 0;
  }
  .err {
    color: red;
    font-family: Montserrat_bold;
    width: 90%;
    margin: 0 !important;
  }
  @media screen and (max-width: 380px) {

    .compteur input {
      width: 30px !important;
      font-size: smaller;
    }
    [col-1] {
      padding: 0 !important;
    }
  }
  div.footer{
    position: sticky;
    width: 100%;
    bottom: 0;
    background: #fff;
  }
  .btnTransparent,.btndark{
    margin-bottom: 15px;
    width: 90%;


  }
  .acp ion-col:first-child{
    text-align: left;
    font-size: small;

  }
  .acp ion-col:last-child{
    text-align: right;
    font-size: small;
  }
}
