<!--
  Generated template for the DetailFoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="food-detail alert-ios">
    <ion-row class="close-modal" (tap)="dismiss()"></ion-row>
    <img src="assets/img/close.png" (tap)="dismiss()" class="closeicon"/>
    <div class="main-modal alert-wrapper">
        <ion-row scroll-y="true">
            <div class="writing_style" ion-row>
                <ion-col class="pad0" col-12>
                    
                      <img *ngIf="!food.image" src="assets/img/loading.gif" class="imgProduct"/>
                    <img *ngIf="food.image" src="https://extranet.novo-burger.fr/{{ food.image }}" class="imgProduct"/>
                </ion-col>
                <ion-col col-12>
                    <h6 class="item_style">{{ food.name }} </h6>
                </ion-col>
                <div text-center *ngIf="food.description" [innerHTML]="getSafehtml(food.description)"></div>
            </div>

        </ion-row>
        <ion-row class="food-check-detail">
            <ion-row class="margBTM10" *ngIf="food.accompagenement && (food.accompagenement).length>0">
                <ion-col *ngIf="food.accompagenement && (food.accompagenement).length>0" (tap)="btnhide(1)" col-10><h6>
                    Accompagnement</h6></ion-col>
                <ion-col *ngIf="food.accompagenement && (food.accompagenement).length>0" col-2>
                    <div [ngClass]="showDiv1 ? 'btnhide down':'btnhide up'" (tap)="btnhide(1)"></div>
                </ion-col>

                <ion-list [ngClass]="showDiv1 ? 'show':'hide'"
                          *ngIf="food.accompagenement && (food.accompagenement).length>0" radio-group
                          [(ngModel)]="acpSchoosen">
                    <ion-item *ngFor="let acp of food.accompagenement;let i= index;">
                        <ion-label>{{acp.name}}  </ion-label>
                        <ion-radio value="{{i}}"></ion-radio>
                    </ion-item>

                </ion-list>
            </ion-row>
            <ion-row class="margBTM10" *ngIf="food.sauces && (food.sauces).length>0">

                <ion-col col-10 *ngIf="food.sauces && (food.sauces).length>0" (tap)="btnhide(2)"><h6>Sauces</h6>
                </ion-col>
                <ion-col col-2 *ngIf="food.sauces && (food.sauces).length>0">
                    <div [ngClass]="showDiv2 ? 'btnhide down':'btnhide up'" (tap)="btnhide(2)"></div>
                </ion-col>

                <ion-list [ngClass]="showDiv2 ? 'show':'hide'" *ngIf="food.sauces && (food.sauces).length>0">
                    <ion-item *ngFor="let sauce of food.sauces">
                        <ion-label>{{sauce.name}} </ion-label>
                        <ion-checkbox [(ngModel)]="sauce.checked" (click)="check(sauce)"
                                      [disabled]="!sauce.checked && checkeds === 2"></ion-checkbox>
                    </ion-item>

                </ion-list>
            </ion-row>
            <ion-row class="margBTM10" *ngIf="food.boisson && (food.boisson).length>0">

                <ion-col *ngIf="food.boisson && (food.boisson).length>0" col-10 (tap)="btnhide(3)"><h6>Boisson</h6>
                </ion-col>
                <ion-col *ngIf="food.boisson && (food.boisson).length>0" col-2>
                    <div [ngClass]="showDiv3 ? 'btnhide down':'btnhide up'" (tap)="btnhide(3)"></div>
                </ion-col>

                <ion-list [ngClass]="showDiv3 ? 'show':'hide'" *ngIf="food.boisson && (food.boisson).length>0"
                          radio-group [(ngModel)]="boissonSchoosen">
                    <ion-item *ngFor="let boi of food.boisson; let j= index;">
                        <ion-label>{{boi.name}} </ion-label>
                        <ion-radio value="{{j}}"></ion-radio>
                    </ion-item>


                </ion-list>
            </ion-row>
            <ion-row class="margBTM10" *ngIf="food.supplements && (food.supplements).length>0">
                <ion-col *ngIf="food.supplements && (food.supplements).length>0" (tap)="btnhide(4)" col-10><h6>
                    Suppléments</h6></ion-col>
                <ion-col *ngIf="food.supplements && (food.supplements).length>0" col-2>
                    <div [ngClass]="showDiv4 ? 'btnhide down':'btnhide up'" (tap)="btnhide(4)"></div>
                </ion-col>

                <ion-list [ngClass]="showDiv4 ? 'show':'hide'" *ngIf="food.supplements && (food.supplements).length>0">
                    <ion-item *ngFor="let supp of food.supplements">
                        <ion-label>{{supp.name}} {{supp.price}}€</ion-label>
                        <ion-checkbox [(ngModel)]="supp.checked"></ion-checkbox>
                    </ion-item>

                </ion-list>
            </ion-row>
            <ion-row class="margBTM10" *ngIf="food.dessert && (food.dessert).length>0">
                <ion-col *ngIf="food.dessert && (food.dessert).length>0" col-10 (tap)="btnhide(5)"><h6>Produit
                    Offert</h6></ion-col>
                <ion-col *ngIf="food.dessert && (food.dessert).length>0" col-2>
                    <div [ngClass]="showDiv5 ? 'btnhide down':'btnhide up'" (tap)="btnhide(5)"></div>
                </ion-col>


                <ion-list [ngClass]="showDiv5 ? 'show':'hide'" *ngIf="food.dessert && (food.dessert).length>0"
                          radio-group [(ngModel)]="dessertSchoosen">
                    <ion-item *ngFor="let desrt of food.dessert; let j= index;">
                        <ion-label>{{desrt.name}}</ion-label>
                        <ion-radio value="{{j}}"></ion-radio>
                    </ion-item>


                </ion-list>
            </ion-row>
            <!-- <h6>Précisions particuliéres</h6>
            <ion-list>
                <ion-item>
                    <ion-label>Simple, Saignant, Remplacer le steak par des pommes de terre, Frites</ion-label>
                </ion-item>
            </ion-list>-->

        </ion-row>
        <ion-footer class="footer_action_button">
            <ion-col class="qtyCart" col-12>
                <button clear small ion-button (tap)="minus(food.quantity, i)" style="border-right: none">
                    -
                </button>
                <input type="number" [(ngModel)]="food.quantity" (blur)="enter_quantity(lst)" readonly/>
                <button clear small ion-button (tap)="plus(food.quantity, i)" style="border-left: none">
                    +
                </button>
            </ion-col>
            <button ion-button (click)="addToCart(food)" class="btnlight">
                Ajouter au panier <small>
                <img src="assets/img/hamburger.png" *ngIf="food.type=='food'"/>
                <img src="assets/img/menu.png" *ngIf="food.type!='food'"/>
                {{ currencyProvider.formatMoney(food.price * food.quantity) }}</small>
            </button>
        </ion-footer>
    </div>
</ion-content>

<ion-footer>

    <button clear small color="light" ion-button class="panier btnpanier" (tap)="cart()">
        <small *ngIf="panierLength">{{panierLength}}</small>
    </button>
</ion-footer>