page-detail-food {
  ion-content {
    background: transparent !important;

    .scroll-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  button img {
    width: 17px;
  }

  .btnlight small {
    position: absolute;
    right: 5%;
    font-size: 14px;
  }

  .imgProduct {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }

  .qtyCart {
    text-align: center;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      width: 32px;
      background: #e8b900 !important;
      border-radius: 50% !important;
      color: white !important;
    }

    button, input {
      font-family: Montserrat_regular;
      display: inline-block;
      height: 30px;
      border: none;
      font-size: 14px;
      text-align: center;
      margin: 0;
      padding: 5px;
      color: #000;
      background: transparent;
    }

    .button-small {
      font-weight: bold;
    }
  }

  h6, p {
    color: #898989;
  }

  .close-modal {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .main-modal {

    opacity: 1;
    z-index: 1000000;
    position: relative;
    background: #f4f4f4 !important;
    width: 90%;
    margin: 0px auto;
    height: auto;
    display: block;
    overflow: auto;
  }

  ion-list {
    margin-bottom: 0px !important;
    width: 100%;

    &.list {
      padding: 7px;
    }

    ion-list-header {
      border-top: none !important;
      font-weight: bold !important;
      margin-bottom: 0 !important;

      &.list-header-wp {
        font-size: 1.4rem !important;
      }
    }

    ion-item {
      min-height: 3rem !important;
      font-size: 1.4rem !important;

      &:last-child {
        border: none !important;
      }

      ion-checkbox {
        margin-right: 10px !important;
      }

      ion-label {
        margin-top: 8px !important;
        margin-bottom: 8px !important;

        &:last-child {
          text-align: right;
        }

        &:first-child {
          text-align: left !important;
        }
      }

      ion-radio,
      ion-checkbox {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }

  .add-button {
    padding-top: 10px;
    width: 100%;
    background: #f8f8f8;
    text-align: center;

    p {
      margin: 0;
    }

    button {
      color: #e91e3c !important;
    }
  }

  .writing_style {
    width: 100%;
    background: #fff;

    h6 {
      font-family: "Uber_Move_Bold";
      font-size: 23px;
      color: #000;
    }

    div {
      padding: 10px;
      width: 100%;

      p {
        font-family: "Uber_Move_Regular";
        font-size: 16px;
        margin: 0;
      }
    }
  }

  .show {
    display: block;
  }

  .col:last-child {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
  }

  .up {
    background-image: url(../assets/img/goBlack.png);
    background-size: 17%;

  }

  .down {
    background-image: url(../assets/img/goDown.png);
    background-size: 30%;

  }

  .btnhide {
    margin: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .compteur {

    display: inline-flex;
    height: 45px;
    border: 1px solid #c0c0c0;
    text-align: center;
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    input {
      width: 40px;
      border: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      text-align: center;
      font-family: Montserrat_regular;

    }
  }

  .qty {
    display: inline-block;
    height: 45px;
    border: 1px solid #c0c0c0;
    border-left: 0;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .item_style {
    font-family: Montserrat_regular;
    //font-size: 2.5rem;
  }

  .item_style.price {
    font-family: Montserrat_regular;
    color: #fff;
    text-transform: capitalize;
    margin: 0;
    //font-size: 2.5rem;
  }

  .item_style_description {

    font-family: 'Montserrat_regular';
    font-size: 2rem;
  }

  .closeicon {
    position: absolute;
    left: auto;
    right: 5%;
    top: 5%;
    width: 30px;
    z-index: 999999999999;
  }

  /*.btnvert{
    background: url(../assets/img/panier.png), linear-gradient(to right, #E8B900, #78a85b, #6fa067);
    background-size: 20px,auto;
    background-position: 7% 45%;
    background-repeat: no-repeat;
  }*/
  .alert-ios .alert-wrapper, .alert .alert-wrapper {
    border-radius: 8px;
    overflow: auto;
    max-width: 100%;
    text-align: center;
    height: auto;
    position: relative;
  }

  ion-footer.footer_action_button.footer.footer, ion-footer.footer_action_button.footer.footer-ios {
    position: sticky;
    bottom: 0;
    background: #ffffffe8;
    padding: 10px;

  }

  .food-check-detail {
    background: #fff;

    [col-10], [col-2] {
      padding: 8px 5px;
    }

    .margBTM10 {
      padding-bottom: 10px;
      width: 100%;
      background: url(../assets/img/border-bottom.png);
      background-repeat: no-repeat;
      background-position: left 100%;
      background-size: auto;
    }

    padding: 15px;

    h6 {
      text-align: left;
      color: #000;
      margin: 5px 0 !important;
    }

    .item {
      .item-inner {
        border-bottom: 1px solid #dedede !important;
      }

      .label {
        font-family: Montserrat_regular;
        color: #000;
        white-space: normal;

        &:first-letter {
          text-transform: capitalize;
        }
      }

      background: transparent;
      padding: 0;

      .checkbox .checkbox-icon {
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }

    /* .item.item .checkbox {
       position: absolute;
       right: 9px;
       margin: 9px 36px 9px 4px;
       float: right;
     }*/
    .qtyCart {
      text-align: center;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
      justify-content: center;

      input {
        width: 50px;
        border: 1px solid #c1c1c1;
      }

      button, input {
        display: inline-block;
        height: 40px;
        text-align: center;
        margin: 0;
        color: #fff;
      }
    }
  }

  .list > .item-block:last-child ion-label, .list > .item-block:last-child .item-inner, .list > .item-wrapper:last-child ion-label, .list > .item-wrapper:last-child .item-inner {
    border-bottom: 0 !important;
  }
}