<!--
  Generated template for the AproposPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>à propos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content >
    <div class="block-logo">
        <img src="assets/img/logo.png">
    </div>
    <ion-list>
        <ion-item  (tap)="contact()">
            <ion-row>
                <ion-col col-11> Nous contactez au sujet de votre commande</ion-col>
                <ion-col col-1><img src="./assets/img/goBlack.png"></ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row (tap)="gotoM(1)">
                <ion-col col-11>Mentions légales</ion-col>
                <ion-col col-1><img src="./assets/img/goBlack.png"></ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row (tap)="gotoM(2)">
                <ion-col col-11> Politique de confidentialité</ion-col>
                <ion-col col-1><img src="./assets/img/goBlack.png"></ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row (tap)="gotoM(3)">
                <ion-col col-11> Cookies</ion-col>
                <ion-col col-1><img src="./assets/img/goBlack.png"></ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row (tap)="gotoM(4)">
                <ion-col col-11> Conditions Générales de vente</ion-col>
                <ion-col col-1><img src="./assets/img/goBlack.png"></ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row (tap)="gotoM(5)">
                <ion-col col-11> Conditions Générales d'utilisation</ion-col>
                <ion-col col-1><img src="./assets/img/goBlack.png"></ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row (tap)="gotoM(6)">
                <ion-col col-11> Programme fidélité</ion-col>
                <ion-col col-1><img src="./assets/img/goBlack.png"></ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row (tap)="gotoM(7)">
                <ion-col col-11>Règlement jeux concours </ion-col>
                <ion-col col-1><img src="./assets/img/goBlack.png"></ion-col>
            </ion-row>
        </ion-item>
     
    </ion-list>
</ion-content>
<!--

<ion-footer>
    <button clear small color="light" ion-button class="panier btnpanier" (tap)="cart()">
    </button>
</ion-footer>-->
