page-apropos {
  .content{
    background: #f4f4f4;
  }
  .block-logo {
    margin: 20px auto;
    text-align: center;
    img {
      width: 90px;
    }
  }
  .list  .item-block{
    .row .col {
      font-size: small;
        text-align: center;

    }
  }
  .list  .item {
    border-top: 1px solid #e9e9e9;

    &:last-child {

      border-top: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
    }

    .row .col {
      font-size: small;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
  .list img{
    width: 7px;
  }
}
