<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes informations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="profile">

	<ion-row padding class="main-profile head">
			<ion-col col-4>
				<div class="photo2profil" style="background: url(assets/img/logo.png)">
				</div>
			</ion-col>
		<ion-col col-8 class="centredBlock">
				<h6>{{user.full_name}} {{user.user_name}}</h6>
				<p *ngIf="myaddress!=''">{{myaddress}}</p>
			</ion-col>
	</ion-row>

  	<ion-row padding class="main-profile">



			<ion-list radio-group [(ngModel)]="genre" class="civ">
				<ion-row>
					<ion-col col-4>
						<ion-item>
							<ion-label>Mr</ion-label>
							<ion-radio value="Monsieur" ></ion-radio>
						</ion-item>

					</ion-col>
					<ion-col col-4>
						<ion-item>
							<ion-label>Mme</ion-label>
							<ion-radio value="Madame"  ></ion-radio>
						</ion-item>
					</ion-col>
					<ion-col col-4>
						<ion-item>
							<ion-label>Mlle</ion-label>
							<ion-radio value="Mademoiselle" ></ion-radio>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-list>
		<label>Nom</label>
		<input placeholder="Nom" [(ngModel)]="full_name" type="text" >
		<label>Prénom</label>
		<input placeholder="Prénom" [(ngModel)]="user_name" type="text" >
		<label>Email</label>
		<input [(ngModel)]="email" type="email" placeholder="Email" readonly>
		<label>Téléphone</label>
		<input [(ngModel)]="phone" type="number" placeholder="Téléphone">
		<!--<label>Code postal</label>
		<input  placeholder="Code postal" [(ngModel)]="zip" type="number"/>-->
	  <!--	<p style="width: 100%; display: block;" *ngIf="msg_err_edit != '' || msg_err_edit != null">{{this.msg_err_edit}}</p>-->
	  	<button ion-button class="btnlight" (tap)="update_profile()">Confirmer</button>
	</ion-row>
	<!--<ion-row padding class="change-pass">
	  	<h3>{{'change_password'|translate}}</h3>
	  	<input placeholder="{{'old_password'|translate}}" [(ngModel)]="old_pwd" type="Password">
	  	<input [(ngModel)]="new_pwd" type="Password" placeholder="{{'new_password'|translate}}">
	  	<input [(ngModel)]="confirm_pwd" type="Password" placeholder="{{'confirm_password'|translate}}">
	  	<p style="width: 100%; display: block;" *ngIf="msg_err_pwd != '' || msg_err_pwd != null">{{this.msg_err_pwd}}</p>
	  	<button ion-button class="btnlight" (tap)="change_pwd()">{{'change'|translate}}</button>
	</ion-row>-->
</ion-content>
