page-profile {
  .content {
    background-color: #f4f4f4 !important;
  }
  background: #fff;
  .btnTransparent{

    color: #000;
    box-shadow: 0px 0px 14px #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    text-transform: initial !important;
    padding: 0 10px !important;
    height: 30px !important;
    min-height: 25px !important;
    width: max-content;
    b{
      font-family: Montserrat_bold;
      font-size: medium;
      padding-left: 5px;
    }
  }
  .item-block,.item-inner{
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: center;
  }
  .civ{
    width: 100%;
    .radio.radio-disabled, .item.item-radio-disabled ion-label{
      opacity: 1;
    }
  .item{
    border-radius: 25px;

  }}
  .head.main-profile{
    background-image: url("../assets/img/bgsliderProduct.jpg");
    background-size: cover;
  }
  .info-name{
    position: relative;
    top: -60px;
    *{
      font-family: dancingscript-bold;
      text-transform: capitalize;
      text-align: center;
      margin: 0;
    }
  }
  .top{
    position: relative;
    top:-40px
  }
  .info {
    text-align: center;
    margin-bottom: 20px;
    .top-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 170px;
      overflow: hidden;
      img {
        z-index: 0;
        width: calc(100% + 50px);
        filter: blur(7px);
      }
    }
    .main-info {
      z-index: 1;
      margin-top: -70px;
      text-align: center;
      width: 100%;
      img {
        border: 4px solid #ddd;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 0px auto;
      }
      h2 {
        display: block;
        width: 100%;
        margin-bottom: 0 !important;
        margin-top: 15px !important;
        font-size: 3.5rem;
        font-family: 'Montserrat_regular';
        color: #e91e3c;
      }
      p {
        display: block;
        width: 100%;
        margin-top: 0 !important;
        font-size: 1.4rem;
        color: #7e7e7e;
      }
    }
  }
  input, textarea {
    background: #fff;
    border-radius: 20px;
    border: none;
    padding: 15px;
    box-shadow: none;
    margin-bottom: 10px;
    width: 100%;
    ::placeholder{
      text-transform: initial;
    }
  }::placeholder{
     text-transform: initial;
   }
  input {
    height: 36px;
  }
  .header-md::after{
    background: none;
  }
  .header-ios .toolbar-background-ios{
    border:none;
  }
  label {
    font-family: Montserrat_regular;
    display: block;
    width: 90%;
    margin: 5px auto;
    color: #989898;
  }

  button {
    margin-top: 20px;
    background: #e91e3c;
    color: #fff;
  }
  .change-pass {
    margin-bottom: 50px;
  }
  .addPhoto{

    position: relative;
    width: 50px;
    background: transparent;
    right: 40%;
    bottom: -30px;
  }
  .photo2profil{

    background-size: 85%!important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0px auto;
  }
  .centredBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h6,p{
      color: #fff;
      margin-top: 0;
    } }
}
