page-food-list-commerct {

  .content {
    background-color: #f6f6f6;
  }
  ion-col {
    overflow: hidden;
    text-overflow: initial;
    white-space: normal;
  }
  .sale_off {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0px 0px 8px;
    .badge {
      width: 50px;
      height: 50px;
    }

    p {
      margin-top: -2px;
      padding-right: 7px;
      text-align: right;
      width: 100%;
      line-height: 1.3rem;
      font-size: 1.6rem !important;
      letter-spacing: -1px;
      display: block;
      position: absolute;
      color: #e91e3c !important;
      font-weight: bold;
      b {
        letter-spacing: 0.5px;
        font-family: 'Montserrat_regular';
        padding-right: 3px;
        color: #212739;
        font-size: 1.3rem;
      }
      small {
        font-weight: 900;
        font-size: 1.2rem;
        letter-spacing: -2px;
      }
    }
  }
  .item_style {
    position: relative;
    margin-bottom: 15px;
    .item-title {
      //font-size: 18px;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 5px;
      font-family: 'Montserrat_regular';
      font-weight: 500;
      color: #212739 !important;
      display: inline-block;
      text-transform: capitalize;
    }
    p {
      color: #7e7e7e;
      font-size: 1.3rem;
    }

    .price {

      font-family: Montserrat_bold;
      display: inline-block;
      color: #f6c505;
      font-size: 1.5rem;
      text-transform: capitalize;
      font-weight: bold;
      width: 100%;
      margin: 0;
      text-align: right;
      &.old-price {
        font-style: italic;
        text-decoration: line-through;
        color: #7e7e7e;
      }
    }
    button {
      text-transform: lowercase;
      //color: #212739;
      font-weight: normal;
      ion-icon {
      //  color: #212739;
      }
    }
  }

  .bar-button {
    color: #fff;
    display: block !important;
  }
  .blocSearch {

    background: #191919;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: montserrat_bold;
  }
  img.imgright {
    float: right;
    margin-left: 2px;
    width: 30%;
    max-width: 30px;
    min-width: 25px;
  }
  .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left],
  .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
    margin: 0;
    border-radius: 20px;
  }

  ion-item.margTop20.item.item-block.item-md, ion-item.margTop20.item.item-block.item-ios {
    background-color: #fff;
    border-radius: 0;
    width: 100%;
    margin: 0;
  }
  .label {
    margin: 0 !important;
  }
}
