<ion-header>
    <ion-navbar >
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title}} {{'seller'|translate}}</ion-title>

    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of list, let i = index" class="margTop20">
            <ion-thumbnail item-left (tap)="modalDatailFood(item)">
                <img src="https://extranet.novo-burger.fr/{{item.image}}">
                <div class="sale_off" *ngIf="item.discount != 0">
                    <small>-{{('0' + item.discount).slice(-2)}} %</small>

                </div>
            </ion-thumbnail>
            <ion-row class="item_style">
                <ion-col  (tap)="modalDatailFood(item)" col-6 style="margin:auto">
                    <h2 class="item-title">{{item.name}}</h2><br>
                    <p>Chicken - Mayonnaise - Pickles - Salad - Tomatoes</p>
                </ion-col>
                <ion-col col-6 style="margin:auto">
                <p class="price" *ngIf="item.discount == null || item.discount == 0">
                        {{currencyProvider.formatMoney(item.price)}}</p>
                    <p class="price_sale_off" *ngIf="item.discount != null && item.discount != 0">
                        <span class="price old-price"> {{currencyProvider.formatMoney(item.price)}} </span>
                        <span class="price"> {{currencyProvider.formatMoney(item.price - item.price*item.discount/100)}}</span>
                    </p>
                    <button class="btnlight" ion-button full (tap)="modalDatailFood(item)">{{'detail'|translate}}</button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>

    <!-- <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

</ion-content>