page-detail-Commande {
  .btnlight{
    width: max-content;
  }
  .main-modal {

    opacity: 1;
    z-index: 1000000;
    position: relative;
    background: #fff !important;
    margin: 0px auto;
    display: block;
    overflow: auto;
  }
  .item-inner {
    padding: 0 !important;
  }
  .label {
    margin: 0 !important;
  }
  .articlePaiment.item-md,
  .articlePaiment.item-ios {

    padding: 7px!important;
    border-top: 1px solid #e9e9e9;
    .label{
      font-family: Montserrat_regular;
      ion-col:last-child{
        font-family: Montserrat_regular;
      }
    }

    &:last-child{
      border-top: 1px solid #e9e9e9 !important;
      border-bottom: 1px solid #e9e9e9 !important;
    }
  }
  .livraison {
    position: relative;
    margin: 0;
    margin-top: 15px;
    border: none;
    display: block;
    overflow: hidden;
  }
  .livraison .price {
    padding: 0 16px;
  }

  h5{
    text-align: center;
    text-transform: initial !important;
  }
  .item_style {
    text-align: center !important;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000 !important;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    ion-col:last-child{
      font-family: Montserrat_regular;
     color: #000 !important;
     *{
       color: #000;
     }
    }
    ion-col:first-child{
      font-family: 'Montserrat_regular';
      color: #989898;
      font-size: small;
    }
  }
.master{
  width: 40px;
  position: relative;
  top: 8px;
}
.footer .list{
  bottom: 0;
  left: 0;
  .item,.item-inner{
    padding: 0;
  }
  .total{
    border-top: 3px solid #000;
    padding: 15px 7px;
    background: #f6c505;
  color: #000
  }
  .frais{
    padding: 7px;
  }
  .price {
    font-family: Montserrat_bold;
  }
}
  .content{
    background: #f4f4f4;

  }
  ion-list {

    width: 100%;

    ion-list-header {
      border-top: none !important;
      font-weight: bold !important;
      margin-bottom: 0 !important;
      &.list-header-wp {
        font-size: 1.4rem !important;
      }
    }
    ion-item {
      min-height: 3rem !important;
      font-size: 1.4rem !important;
      &:last-child {
        border: none !important;
      }

      ion-label {
        margin: 0;
        &:last-child {
          text-align: right;
        }
        &:first-child {
          text-align: left !important;
        }
      }
      }
  }
.group-btn-nav{
  width: 25px;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 0;
  text-align: center;
  display: flex;
  img{
    margin: auto;
  }
}
  .add-button {
    padding-top: 10px;
    width: 100%;
    background: #f8f8f8;
    text-align: center;
    p {
      margin: 0;
    }
    button {
      color: #e91e3c !important;
    }
  }
  .writing_style {
    padding: 0px;
    text-align: center;
  }
  .item_style.title {
    font-family: 'Montserrat_bold';
    font-size: large;
    padding-bottom: 10px;
    overflow: hidden;
    white-space: normal;
  }
  .item_style.price {
    color: #f6c505;
    text-transform: capitalize;
    overflow: hidden;
    //font-size: 2.5rem;
  }

  .item_style_description {

    font-family: 'Montserrat_regular';
    font-size: 2rem;
  }
  .closeicon {
    position: absolute;
    left: auto;
    right: 5%;
    top: 5%;
    width: 30px;
    z-index: 999999999999;
  }
.col{
  white-space: normal;
}
  .alert-ios .alert-wrapper, .alert-md .alert-wrapper {
    border-radius: 0;
    overflow: auto;
    max-width: 100%;
    text-align: center;
  }
  .grid{
    padding: 0;
  }
  .food-detail .numCmd {
    padding: 16px;
    margin: 0 0 7px 0;
    width: 100%;
    background-color: #f4f4f4;
    background-image: url("../assets/img/bgsliderProduct.jpg");
    background-size: 100% 75%;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    vertical-align: middle;
    align-items: center;
    ion-col{
      padding: 0;
    }
    p {
      margin: 0;
      color: #fff;
      text-align: center;
      font-size:small;
      text-transform: initial;
    }
    h5 {
      font-family: Montserrat_bold;
      margin: 0;
      font-size: xx-large;
      text-align: center;
      color: #f6c505;
    }
  }
  ion-footer.footer_action_button.footer.footer-md, ion-footer.footer_action_button.footer.footer-ios {
    position: sticky;
    background: #ffffffe8;
  }
  div.footer{
    position: sticky;
    width: 100%;
    bottom: 0;
    background: #fff;
  }

  .paywith{
    padding: 5px !important;
  }
}