<!--
  Generated template for the DetailCommandePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>détails de la commande</ion-title>
        <!-- <div class="group-btn-nav">
             <img src="./assets/img/aide.png">Articles & Paiments
         </div>-->
    </ion-navbar>
</ion-header>
<ion-content class="food-detail">

    <ion-grid *ngIf="food && food.detail">
        <ion-item class="numCmd">
            <ion-row>
                <ion-col col-12>
                    <p>Numéro de commande</p>

                </ion-col>
                <ion-col col-12>
                    <h5>{{food.cmd.id}}</h5>
                </ion-col>
            </ion-row>
            <ion-list class="livraison">

                <ion-item class="item_style">
                    <ion-row>
                        <ion-col col-4>Livrée depuis :</ion-col>
                        <ion-col col-8> {{store}}</ion-col>
                    </ion-row>
                </ion-item>
                <ion-item class="item_style" *ngIf="food.cmd.adresse!=''">
                    <ion-row>
                        <ion-col col-4>Livrée au :</ion-col>
                        <ion-col col-8> {{food.cmd.adresse}}</ion-col>
                    </ion-row>
                </ion-item>
                <ion-item class="item_style">
                    <ion-row>
                        <ion-col col-4>Type :</ion-col>
                        <ion-col col-8 *ngIf="food.cmd.quand==null">
                            <span *ngIf="food.cmd.type=='emporter'">{{'pickUpPoint'|translate}}</span>
                            <span *ngIf="food.cmd.type=='livraison'">{{'Delivery'|translate}}</span>
                            <span *ngIf="food.cmd.type=='stuart'">Stuart</span>
                            {{food.cmd.delivery_date}}
                        </ion-col>
                        <ion-col col-8 *ngIf="food.cmd.quand!=null">
                            <span *ngIf="food.cmd.type=='emporter'">{{'pickUpPoint'|translate}}</span>
                            <span *ngIf="food.cmd.type!='emporter'">{{'Delivery'|translate}}</span>
                            {{food.cmd.quand}}
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-list class="modelRow">


            <h5>Articles & Paiements</h5>
            <ion-item *ngFor="let detail of food.detail" class="articlePaiment">
                <ion-row>

                    <ion-col col-2>{{detail.quantity}}x</ion-col>
                    <ion-col col-7>
                        <p>{{ detail.name }}</p>
                    </ion-col>
                    <ion-col text-right col-3>
                        {{ roNumber(detail.price) }} €
                    </ion-col>

                </ion-row>
                <ion-item class="category" *ngIf="detail.menu_option.extras">
                    <h3 col-12>Suppléments</h3>
                    <ion-row col-12 *ngFor="let itemcategory of detail.menu_option.extras">
                        <ion-col col-6>
                            <p>{{itemcategory.name}}</p>
                        </ion-col>
                        <ion-col text-right col-6>
                            <span *ngIf="itemcategory.price>0">{{itemcategory.price}} €</span>
                            <span *ngIf="itemcategory.price==0">--</span>
                        </ion-col>

                    </ion-row>
                </ion-item>
                <ion-item class="category" *ngIf="detail.menu_option.acc">
                    <h3 col-12>Accompagnement</h3>
                    <ion-row *ngFor="let itemcategory of detail.menu_option.acc">
                        <ion-col col-6>
                            <p>{{itemcategory.name}}</p>
                        </ion-col>
                        <ion-col text-right col-6>
                            <span *ngIf="itemcategory.price>0">{{itemcategory.price}} €</span>
                            <span *ngIf="itemcategory.price==0">--</span>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item class="category" *ngIf="detail.menu_option.boisson">

                    <h3 col-12>Boissons</h3>
                    <ion-row *ngFor="let itemcategory of detail.menu_option.boisson">
                        <ion-col col-6>
                            <p>{{itemcategory.name}}</p>
                        </ion-col>
                        <ion-col text-right col-6>
                            <span *ngIf="itemcategory.price>0">{{itemcategory.price}} €</span>
                            <span *ngIf="itemcategory.price==0">--</span>
                        </ion-col>

                    </ion-row>
                </ion-item>
                <ion-item class="category" *ngIf="detail.menu_option.dessert">

                    <h3 col-12>Dessert</h3>
                    <ion-row *ngFor="let itemcategory of detail.menu_option.dessert">
                        <ion-col col-6>
                            <p>{{itemcategory.name}}</p>
                        </ion-col>
                        <ion-col text-right col-6>
                            <span *ngIf="itemcategory.price>0">{{itemcategory.price}} €</span>
                            <span *ngIf="itemcategory.price==0">--</span>
                        </ion-col>

                    </ion-row>
                </ion-item>
                <ion-item class="category" *ngIf="detail.menu_option.sauces">

                    <h3 col-12>Sauces</h3>
                    <ion-row col-12 *ngFor="let itemcategory of detail.menu_option.sauces">
                        <ion-col col-6>
                            <p>{{itemcategory.name}}</p>
                        </ion-col>
                        <ion-col text-right col-6>
                            <span *ngIf="itemcategory.price>0">{{itemcategory.price}} €</span>
                            <span *ngIf="itemcategory.price==0">--</span>
                        </ion-col>

                    </ion-row>
                </ion-item>
            </ion-item>
        </ion-list>
    </ion-grid>
    <div class="footer">
        <ion-list *ngIf="food && food.cmd">
            <ion-item class="frais">
                <ion-item *ngIf="food.cmd.alergie != null && food.cmd.alergie != ''">
                    Note : {{food.cmd.alergie}}
                </ion-item>
                <ion-item *ngIf="food.cmd.alergie == null||food.cmd.alergie == ''">
                    Note : Aucune note
                </ion-item>

                <ion-item *ngIf="food.detail[0].price_promos!='0.00'&&(food.detail[0].code!='0'&&food.detail[0].code)">
                    Remise Code Promo : - {{food.detail[0].price_promos}}€ {{food.detail[0].code}}
                </ion-item>
                <ion-item *ngIf="food.detail[0].fidelite!='0'&&food.detail[0].fidelite">
                    Remise Fidelité : - {{food.detail[0].price_fidelite}}€
                </ion-item>
                <ion-item>
                    <ion-row class="category" *ngIf="food.cmd.frais_livraison!='0.00'">
                        <h3 col-12>Frais de service</h3>
                        <ion-col col-6>
                            <p>Frais de livraison</p>
                        </ion-col>
                        <ion-col col-6 text-right>
                            <span>{{food.cmd.frais_livraison}} €</span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="category" *ngIf="food.cmd.frais_petit_commande!='0.00'">
                        <ion-col col-6>
                            <p>Frais petite commande</p>
                        </ion-col>
                        <ion-col col-6 text-right>
                            <span>{{food.cmd.frais_petit_commande}} €</span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="category" *ngIf="food.cmd.frais_service!='0.00'">
                        <ion-col col-6>
                            <p>Frais service</p>
                        </ion-col>
                        <ion-col col-6 text-right>
                            <span>{{food.cmd.frais_service}} €</span>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-item>
            <ion-item class="total">
                <ion-row>
                    <ion-col text-left col-6>Total</ion-col>
                    <ion-col text-right col-6 class="price">{{food.cmd.total}} €</ion-col>
                </ion-row>
            </ion-item>
            <ion-item class="paywith" *ngIf="food.cmd.type_Paiement=='Carte'">
                <ion-row>
                    <ion-col text-left col-12>Payée avec <img
                            src="./assets/img/masterCard.jpg" class="master">
                        <!--****9294-->
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </div>
    <button ion-button class="btnlight" (tap)='refuser()' *ngIf="canRefuse">Annuler ma commande</button>

</ion-content>

<ion-footer>
    <button clear small color="light" ion-button class="panier btnpanier" (tap)="cart()">
        <small *ngIf="panierLength">{{panierLength}}</small>
    </button>
</ion-footer>