<ion-header>
<ion-navbar>
<button ion-button menuToggle class="menu">
  <ion-icon name="menu"></ion-icon>
</button>
<ion-title>{{'offer' | translate}}</ion-title>
<div class="group-btn-nav">

  <button clear small color="light" ion-button class="search-nav" (tap)="openSearchPage()">
    <ion-icon name="search"></ion-icon>
  </button>
</div>
</ion-navbar>
</ion-header>

<ion-content>
<div class="name-st" padding>
  <b>{{'offer_1' | translate}}</b>
  <h4>{{'offer_2' | translate}}</h4>
  <p>{{'offer_3' | translate}}</p>
</div>

<ion-card *ngFor="let item of list, let i = index">
<img (tap)="openPage(item.id)" src="{{item.image}}"/>
<div class="sale_off" *ngIf="item.discount != null">
    <small>-{{('0' + item.discount).slice(-2)}} %</small>
</div>
<ion-card-content (tap)="openPage(item.id)">
<ion-card-title>{{item.name}}</ion-card-title>
<p class="price" *ngIf="item.discount == null || item.discount == 0">

{{currencyProvider.formatMoney(item.price)}}

</p>
<p class="price_sale_off" *ngIf="item.discount != null && item.discount != 0">
 <span class="price old-price">
  {{currencyProvider.formatMoney(item.price)}},
</span>
  <span class="price">

  {{currencyProvider.formatMoney(item.price - item.price*item.discount/100)}}

</span>
</p>
<p>{{item.description.substr(0, 150)+'...'}}</p>
</ion-card-content>
<ion-row no-padding>
<ion-col col-4>
<button clear icon-left ion-button small (tap)="modalAddCart(item)">
<img src="assets/img/panier.png"/>{{'add_cart' | translate}}
</button>
</ion-col>
<ion-col col-4 text-center>
<button clear icon-left ion-button small [ngClass]="item.favoriest ? 'active':''" (tap)="addFavoriest(item)">
  <ion-icon name="heart"></ion-icon>{{'favoriest' | translate}}
</button>
</ion-col>
<ion-col col-4 text-right>
<button clear icon-left ion-button small (tap)="share(item)">
 <ion-icon name="share-alt"></ion-icon>{{'share' | translate}}
</button>
</ion-col>
</ion-row>
</ion-card>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
