<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{'Accueil' | translate}}</ion-title>
    <div class="group-btn-nav">

    <!--  <button clear small color="light" ion-button class="search-nav" (tap)="openSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>-->
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="home_content">

  <img src="assets/img/logo-connexion.png" class="logo">
  <button class="btnlight" (tap)="openCatPage()" ion-button>découvrir</button>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  
</ion-content>