
page-home {
	.content{
		background-color: #f4f4f4 !important;
	}
	.logo{
		display: flex;
		vertical-align: middle;
		position: relative;
		justify-content: center;
		margin: auto;
		width: 150px;
		margin-top: 15vh;
		margin-bottom: 20px;

	}
	.banner{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: 350px;
		overflow: hidden;
		margin-bottom: 20px;
		.banner-bg{
			width: 100%;
			height: 100%;
		}
		.slogan{
			position: absolute;
			color: #fff;
			text-align: center;
			padding: 0px 30px;
			h3{
				font-family: 'Montserrat_regular';
				margin-top: 0px;
				font-size: 5.5rem;
			}
			p{
				font-weight: 300;
				font-size: 1.3rem;
			}
			button{
				background: #e91e3c;
				text-transform: uppercase;
				color: #fff;
				margin: 10px auto;
				border-radius: 25px;
				padding-left: 20px;
				padding-right: 20px;
				&.activated{
					color: #212739;
				}
			}
		}
		.decor{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.lst-food{
		.name-st{
			text-align: center;
			width: 100%;
			margin-bottom: 20px;
			b{
				width: 100%;
				font-weight: bold;
				font-size: 1.2rem;
				text-align: center;
				text-transform: uppercase;
				color: #212739;
			}
			h4{
				font-family: 'Montserrat_regular';
				font-size: 4rem;
				width: 100%;
				text-align: center;
				color: #e91e3c;
			}
			p{
				color: #7e7e7e;
				font-size: 1.2rem;
				text-align: center;
				width: 100%;
			}
		}
		.card{
			position: relative;
			margin-bottom: 15px;
			.sale_off{
				position: absolute;
				top: 10px;
				left: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				.badge{
					width: 50px;
					height: 50px;
				}
				p{
					margin-top: -2px;
					padding-right: 7px;
					text-align: right;
					width: 100%;
					line-height: 1.3rem;
					font-size: 1.6rem !important;
					letter-spacing: -1px;
					display: block;
					position: absolute;
					color: #e91e3c !important;
					font-weight: bold;
					b{
						letter-spacing: 0.5px;
						font-family: 'Montserrat_regular';
						padding-right: 3px;
						color: #212739;
						font-size: 1.3rem;
					}
					small{
						font-weight: 900;
						font-size: 1.2rem;
						letter-spacing: -2px;
					}
				}
			}
			.card-title{
				font-size: 2.4rem;
				margin-top: 0;
				padding-top: 0;
				padding-bottom: 5px;
				font-family: 'Montserrat_regular';
				font-weight: 500;
				color: #212739 !important;
			}
			p{
				color: #7e7e7e;
				font-size: 1.3rem;
			}
			.price{
				display: inline-block;
				color: #e91e3c;
				font-size: 1.4rem;
				margin-bottom: 5px;
				text-transform: uppercase;
				font-weight: bold;
				margin-right: 10px;
				&.old-price{
					font-style: italic;
					text-decoration: line-through;
					color: #7e7e7e;
				}
			}
			button{
				text-transform: lowercase;
				color: #212739;
				font-weight: normal;
				ion-icon{
					color: #212739;
				}
			}
		}
	}
	.send-mail{
		margin: 20px 0px 80px 0px;
		text-align: center;
		b{
			width: 100%;
			font-weight: bold;
			font-size: 1.2rem;
			text-align: center;
			text-transform: uppercase;
			color: #212739;
		}
		p{
			color: #7e7e7e;
			font-size: 1.2rem;
			text-align: center;
			width: 100%;
		}
		h4{
			font-family: 'Montserrat_regular';
			font-size: 4rem;
			width: 100%;
			text-align: center;
			color: #e91e3c;
		}
		input{
			margin-top: 25px;
			width: 100%;
			background: #fff;
			font-size: 1.3rem;
			border-radius: 25px;
			border: 3px solid #ddd;
			height: 45px;
			padding: 0px 15px;
			text-align: center;
		}
		button{
			margin: 20px auto;
			background: #e91e3c;
			color: #fff;
			padding-right: 20px;
			padding-left: 20px;
			border-radius: 50px;
			font-family: 'Montserrat_regular';
		}
	}



	ion-item{
		ion-thumbnail {
			min-height: 50px !important;
			min-width: 50px !important;
			img{
				width: 50px !important;
				height: 50px !important;
			}
		}
		h2{
			color: #212739;
			font-family: 'Montserrat_regular';
			font-size: 2.5rem;
		}
		h1{
			color: #212739;
			font-family: 'Montserrat_regular';
			font-size: 3.5rem;
		}
		.close{
			color: #fff;
			margin-right: 0 !important;
			ion-icon.icon-wp, ion-icon.icon-ios{
				font-size: 2.2rem !important;
			}
		}
		p{
			display: flex;
			align-items: center;
			font-size: 1.2rem !important;
			color: #212739;
			input{
				width: 40px;
				// border: none;
				height: 20px;
				padding: 0;
				text-align: center;
				font-weight: bold;
			}
			button{
				margin: 0 10px !important;
				height: 1.8rem !important;
				ion-icon{
					color: #212739;
				}
			}
		}
	}
	.payment{
		margin-bottom: 30px;
		.fee{
			width: 100%;
			display: block;
			margin: 5px 0px;
			span:first-child{
				font-weight: bold;
				color: #212739;
			}
			span:last-child{
				float: right;
				font-weight: bold;
				// font-family: 'Montserrat_regular';
				color: #e91e3c;
			}
			&.total-pay{
				margin-top: 10px;
				font-size: 2.4rem;
			}
		}
		button{
			margin-top: 30px;
			background: #e91e3c;
			&:last-child{
				margin-top: 15px;
				background: #212739;
			}
		}
	}
	.no-item{
		margin-top: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		b{
			text-align: center;
			width: 100%;
			display: block;
			font-size: 4rem;
			font-family: 'Montserrat_regular';
			color: #e91e3c;
		}
		h4{
			text-align: center;
			font-size: 2rem;
		}
		p{
			padding: 0px 40px;
			font-size: 1.3rem;
			text-align: center;
			color: #7e7e7e;
		}
	}


	.listeCommandesStyle{
		width: 100%;
	}
}


h2.valide_style {
    text-align: center;
}