<!--
  Generated template for the MentionLigalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
       <ion-title *ngIf="type==1">Mentions Légales</ion-title>
     <ion-title *ngIf="type==2">Politique de confidentialité </ion-title>
       <ion-title *ngIf="type==3">Cookies</ion-title>
      <ion-title *ngIf="type==4">Conditions Générales de vente </ion-title>
       <ion-title *ngIf="type==5">Conditions Générales d'utilisations</ion-title>
        <ion-title *ngIf="type==6">Programme fidélité   </ion-title>
       
          <ion-title *ngIf="type==7">Règlement jeux concours</ion-title>
  </ion-navbar>
      
</ion-header>


<ion-content padding>
 <p class="description" [innerHTML]="content"></p>
</ion-content>
