page-settings {
	.content button {
		font-family: roboto;
		text-transform: none !important;
		font-size: 14px !important; 
	}

	.content {
		background-color: #f6f6f6;
	}
	.item-md{
		background-color: transparent;
	}
	.item_style {
		position: relative;
		margin-bottom: 15px !important;
		padding: 5px !important;
		background-color: #fff;



	}
	.label.label-md b,.label.label-ios b {
		font-family: Montserrat_bold !important;

	}
	.label.label-md,.label.label-ios {
		color: #000 !important;
		font-size: medium !important;
		font-family: Montserrat_light !important;
		margin-bottom: 10px;
	}
	.item-inner{
		padding: 0 !important;
	}
	.label{
		margin: 0 !important;
	}


}
