<ion-header>

    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'settings' | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list no-lines>
        <!-- <h2>Zone chalendise</h2> -->
     <!--   <ion-item>
            <ion-label><b>{{'Catchment_area'|translate}}</b></ion-label>
            <ion-toggle [(ngModel)]="zone.hasZone" *ngIf="zone" (ionChange)="toggleSettingZone($event)"></ion-toggle>
        </ion-item>
        <ion-item class="item_style" *ngIf="zone && zone.hasZone">
            <ion-label>{{'payment'|translate}}</ion-label>
            <ion-select (ionChange)="updateChalendisePaiement($event)" [(ngModel)]="zone.paiement">
                <ion-option value="All">{{'all'|translate}}</ion-option>
                <ion-option value="On_line">{{'on_line'|translate}}</ion-option>
                <ion-option value="Livraison">{{'at_deliv'|translate}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="item_style" *ngIf="zone && zone.hasZone">
            <ion-label>{{'type'|translate}}</ion-label>
            <ion-select (ionChange)="updateChalendiseType($event)" [(ngModel)]="zone.type">
                <ion-option value="All">{{'all'|translate}}</ion-option>
                <ion-option value="Livraison">{{'Delivery'|translate}}</ion-option>
                <ion-option value="Emporter">{{'pickUpPoint'|translate}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="item_style" *ngIf="zone && zone.type!=='Emporter' && zone.hasZone">
            <ion-label ion-col>{{'max_dist'|translate}}</ion-label>
            <ion-input ion-col text-right (ionChange)="updateChalendiseDistance($event)" type="number"
                       [(ngModel)]="zone.zone"></ion-input>
        </ion-item>-->
        <!-- <h2>Montant</h2> -->
      <!--  <ion-item>
            <ion-label><b>{{'amount'|translate}}</b></ion-label>
            <ion-toggle [(ngModel)]="chalendise.hasMontant" *ngIf="chalendise"
                        (ionChange)="toggleSettingsMontant($event)"></ion-toggle>
        </ion-item>
        <ion-item class="item_style" *ngIf="chalendise && chalendise.hasMontant">
            <ion-label ion-col>Montant minimum</ion-label>
            <ion-input ion-col text-right type="number" (ionChange)="updateMontant($event)"
                       [(ngModel)]="chalendise.montant"></ion-input>
        </ion-item>-->
        <!-- <ion-item  *ngIf="zone">

          <p>Etat: {{zone.etat}}</p>

        </ion-item> -->
        <!--<ion-item>
            <ion-label><b>{{'other'|translate}}</b></ion-label>
        </ion-item>-->
        <ion-item class="item_style">
            <ion-label>{{'notification'|translate}}</ion-label>
            <ion-toggle [(ngModel)]="toggle" (ionChange)="togglePush()"></ion-toggle>
        </ion-item>
        <ion-item class="item_style">
            <button ion-item (click)="language()">{{'language'|translate}}</button>
        </ion-item>

    </ion-list>
</ion-content>
