<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'addPaimentCard'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="stripeStyle" padding>

        <div class="labelErreur" *ngIf="errorMessage!=='' && errorMessage!==null">
            <p>{{errorMessage}}</p>
        </div>
        <div *ngIf="myCardData!=null" class="oldCard">
            <h4 text-center>{{'card_saved'|translate}}</h4>
            <ion-item>Num : <span>{{myCardData.last4}}</span>
                Exp : <span>{{myCardData.exp_month}}/{{myCardData.exp_year}}</span></ion-item>
        </div>
        <form #checkout="ngForm" (ngSubmit)="pay(checkout)" class="checkout">
            <ion-input #hiddenInput type="text" style="width:0;height:0;padding:0;margin:0;opacity:0;"></ion-input>
            <div class="form-row">
                <ion-item class="form01">
                    <div id="card-info" #cardInfo></div>
                </ion-item>
                <br>
                <!--      <div class="labelErreur" id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
                -->
                <!--          <img class="imglock icnlock" src="assets/img/lock-padlock-symbol-for-protectcopy.png"/>-->
                <p class="lock" padding>
                    <ion-icon style="padding-right: 7px" ios="ios-lock" md="md-lock"></ion-icon> Vos informations de paiement sont sauvegardées en toute sécurité.<img
                        src="./assets/img/masterCard.png" class="master">
                </p>
                <!--   <div class="right">
                     <img class="imglock" src="assets/img/visa.png"/></div>-->
            </div>
                <button class="btnlight  margTop20" ion-button block type="submit">
                    Enregistrer
                </button>

        </form>

        <button class="btndark" ion-button block (tap)="goCommander()">
            Annuler
        </button>
        <button class="btnlight" *ngIf="myCardData!=null" ion-button (tap)="goBack()"
                block>
            {{'Use_my_card'|translate}}
        </button>
        <!--  <form #checkout="ngForm" (ngSubmit)="createToken(checkout)" class="checkout">
           <div class="form-row">
             <label for="card-info" style="margin-bottom: 10px;">Informations carte bancaire</label><br>
               <div id="card-info" ></div>
             <br>
             <div class="left"><img class="imglock icnlock" src="assets/images/lock-padlock-symbol-for-protectcopy.png"/>
               <label class="lock">paiement 100% sécurisé</label></div>
             <div class="right">
               <img class="imglock" src="assets/images/visa.png"/></div>
           </div>
           <button class="btnprimary" ion-button full type="submit">
             ENREGISTRER
           </button>
         </form> -->


    </div>

</ion-content>

<ion-footer>
    <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
        <small *ngIf="panierLength">{{panierLength}}</small>
    </button>
</ion-footer>