page-store-card {
  .content {
    background-color: #f4f4f4 !important;
  }

 .master{
  width: 40px;
   position: absolute;
   top: auto;
}

 background: #fff;
  .info {
    text-align: center;
    margin-bottom: 20px;
    .top-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 170px;
      overflow: hidden;
      img {
        z-index: 0;
        width: calc(100% + 50px);
        filter: blur(7px);
      }
    }

    .main-info {
      z-index: 1;
      margin-top: -70px;
      text-align: center;
      width: 100%;
      img {
        border: 4px solid #ddd;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 0px auto;
      }
      h2 {
        display: block;
        width: 100%;
        margin-bottom: 0 !important;
        margin-top: 15px !important;
        font-size: 3.5rem;
        font-family: 'Montserrat_regular';
        color: #e91e3c;
      }
      p {
        display: block;
        width: 100%;
        margin-top: 0 !important;
        font-size: 1.4rem;
        color: #7e7e7e;
      }
    }
  }
  .lock {
    font-size: smaller;
    margin: 0;
    .icon {
      font-size: 20px;
      color: #f6c505;
    }
  }

  input, textarea {
    background: #fff;
    //border-radius: 18px;
    border: none;
    padding: 15px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    width: 100%;
    font-weight: 500;
  }
  input {
    height: 36px;
  }
  label {
    display: block;
    width: 100%;
    // font-weight: bold;
    color: #7e7e7e;
    margin-top: 15px;
  }
  h3 {
    display: block;
    margin-top: 50px !important;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Montserrat_regular';
    color: #212739;
  }
  button {
    margin-top: 20px;
    background: #e91e3c;
    color: #fff;
  }
  .change-pass {
    margin-bottom: 50px;
  }
  .item-md.item-block .item-inner {
    border-bottom: none !important;
  }
  .oldCard .item-md {
    margin-bottom: 0;
  }
  .checkout, .item-md:last-child, .item-ios:last-child {
    margin-bottom: 20px;
  }
  .checkout .item {
    border-top: none;
    border-bottom: none;
    margin-top: 20px;
    border-radius: 16px;
  }
}
  