page-categories {
  /*ion-slides {
      display: block;
      width: auto;
      height: 100%;
      margin: 0 -30px;
  }
  .titles-slide {
      width: 25% !important;
  }
  */

  .categSlider {
    background: url("../assets/img/bgsliderProduct.jpg");
    background-size: contain;
    border-bottom: none;
    background-repeat: no-repeat;
    min-height: 175px;
    position: relative;
    background-position: top;
  }

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    display: none;
  }

  ion-slides {
    position: absolute;
    bottom: 0px;
    z-index: 999;
  }

  .titles-slide {
    padding: 0;
  }

  .categSlide {
    background: #fff;
    color: #000;
    text-align: center;
    height: 80px;
    width: 80px;
    box-shadow: 0px 5px 14px #ddd;
    border-radius: 50%;
    white-space: nowrap;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;

    .button-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

  }

  h6.card-title {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    font-size: small;
    text-overflow: ellipsis;
    margin-bottom: 0;

  }

  .categSlide.slide-selected {

    background: #E8B900;
    color: #000;
    border-bottom: none;
  }

  .content-md, .content-ios {
    background-color: #fff !important;
  }

  .description p {
    color: #7e7e7e;
    font-size: 1.3rem;
    line-height: 2.2rem;
    white-space: normal;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .price {
    font-family: 'Montserrat_bold' !important;
    color: #000 !important;
    font-size: smaller;

    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    text-align: right;

  }

  .titleProduct {
    padding: 0;

    * {
      padding: 0;
    }
  }

  .menu {
    display: block !important;
  }

  .label-md, .label-ios {
    margin: 0 !important;
    overflow: visible;
  }

  .bgProduct {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  ion-label {
    white-space: normal;
    margin: 0;
  }

  .categList .imgProduct {
    border-radius: 50%;
  }

  /*
  .card-background-page {
      ion-card {
          position: relative;
          color: #fff;
          max-height: 170px;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      // img{
      // 	filter: blur(1.5px);
      // }
      .wrapper-bg{
          position: absolute;price
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background: rgba(0,0,0,0.7);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
      }
      .item-md,.item-ios{
          display:inline-block;
          padding-left: 8px;
      }
      .card-title {
          font-family: "Montserrat_regular";
          text-transform: uppercase;
          color: #fff;
          text-align: left;
          font-size: large;
              }
      p{
          font-family: "Montserrat_regular";
          text-transform: uppercase;
          text-align: left;
          color: #fff;
          font-size: 14px;
          display: block;
          font-weight: 100;
          margin-left: 0;
      }

      .whiteblock {
          position: relative;
          text-align: center;
          border-radius: 0;
          padding: 0px 10px 0;
          border: 1px solid #fff;
          overflow: hidden;
          min-height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .voirPlus{
          position: relative;
          top: 30px;
          width: 120px;
          margin: 0;
          border: 6px solid #f9faf9;
          box-shadow: none;
          border-radius: 25px;
      }
      ion-col,.col{
          position: relative;

      }
      .item{
          background: transparent;
          margin-bottom: 5px;
      }

  }
  */

  .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
    margin: 0;
  }

  h2.item-title {
    font-family: 'Montserrat_bold';
    color: #E8B900;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
  }
}