<ion-header>
   <ion-navbar hideBackButton>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Commander</ion-title>
   </ion-navbar>
    <div class="categSlider" style="padding: 0">
        <ion-slides #titleSlides class="titles-slides">
            <!--(tap)="openPage(lst)"-->
            <ion-slide class="titles-slide" *ngFor="let lst of list;let i = index" >
                <button ion-button  [class]="titleSlideSelectedIndex==i ? 'categSlide slide-selected' : 'categSlide slide-not-selected'" [disabled]="isListe && optionSearsh"
                        (tap)="changeSliderPosition(i)">
                    <img [src]="base_url+lst.path" style="height: 40px">
                    <!--  <p>{{lst.total}} produits</p>-->
                </button>
                <h6 class="card-title">{{lst.name_cat}}</h6>

            </ion-slide>
        </ion-slides>

    </div>
</ion-header>
<ion-content>
    <ion-grid class="blocSearch" *ngIf="isSerch">
        <!--  <ion-buttons start>
            <button  icon-only (tap)="search()">
              <ion-icon name="close-circle" ></ion-icon>
            </button>
          </ion-buttons>-->
       <!-- <ion-row>
            <ion-col>
                <ion-searchbar (input)="searchBook($event)" (ionClear)="ionClear($event)" placeholder="Recherche">
                </ion-searchbar>
            </ion-col>
        </ion-row>-->
    </ion-grid>

    <ion-list class="categList">
        <ion-item *ngFor="let item of listFood, let i = index" class="margTop20">
            <ion-row>
                <ion-col col-3 (tap)="modalDatailFood(item)">
                    <img img-preloader="assets/img/loading.gif" [src]="item.image ? 'https://extranet.novo-burger.fr/'+item.image : 'assets/img/loading.gif'" class="imgProduct">
                    <div class="sale_off" *ngIf="item.discount && item.discount != 0">
                        <small>-{{('0' + item.discount).slice(-2)}} %</small>

                    </div>
                </ion-col>
                <ion-col col-9 (tap)="modalDatailFood(item)">
                    <ion-row class="titleProduct">
                        <ion-col col-12> <h2 class="item-title">{{item.name}}</h2></ion-col>
                       <!-- <ion-col col-4>  <p class="price" *ngIf="item.discount == null || item.discount == 0">
                            {{currencyProvider.formatMoney(item.price)}}</p></ion-col>-->
                    </ion-row>
                    <p class="description" [innerHTML]="getSafehtml(item.description)"></p>
                    <ion-row>
                        <ion-col col-12 *ngIf="item.type=='food'"> <img src="assets/img/seul.png" width="15px"/> <span class="price" *ngIf="item.discount == null || item.discount == 0">
                    {{currencyProvider.formatMoney(item.price)}} </span></ion-col>
                <ion-col col-12 *ngIf="item.type!='food'">  <img src="assets/img/menu.png" width="15px"/> <span class="price" *ngIf="item.discount == null || item.discount == 0">
                    {{currencyProvider.formatMoney(item.price)}} </span></ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
          </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
        <small *ngIf="panierLength">{{panierLength}}</small>
    </button>
</ion-footer>