<ion-menu [content]="content" >
    <ion-header class="appName">
        <ion-toolbar>
            <ion-title >
                <img src="./assets/img/logo.png" class="logo-red"/>
                <span *ngIf="user != null">Bonjour {{user.user_name}}</span></ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list class="lst_menu" >
                                                                <!--daisble true ferme-->
            <button menuClose ion-item icon-left *ngFor="let p of pages" (click)="openPage(p)" class="menuClient" [disabled]="(!isClient&&(p.title!='FAQ'&&p.title!='A propos'&&p.title!='Restaurants'))">
                {{p.title | translate}}
            </button>
            <!-- <p class="nbrProduct" *ngIf="total_card>0">{{total_card}}</p>
             <p class="nbrProduct" *ngIf="total_card==0">0</p>
            -->
            <button *ngIf="isClient" menuClose ion-item icon-left (tap)="logout()" class="logout" >
                Déconnexion
            </button>
            <button *ngIf="!isClient" menuClose ion-item icon-left (tap)="logout()" class="logout" >
                Connexion
            </button>
        </ion-list>
       <!-- <ion-list class="lst_menu" *ngIf="!isClient">

            <button menuClose ion-item icon-left *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon name="{{p.icon}}" item-left></ion-icon>
                {{p.title | translate}}
            </button>
            <button menuClose ion-item icon-left (tap)="logout()" class="logout">
                {{'logout'|translate}}
            </button>
        </ion-list>-->
        <div class="propulse">
            <img src="./assets/img/logo-webcom-agency.png" (tap)="openLink()"/>

        </div>
    </ion-content>
</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false">
    <img src="../assets/img/ouverture.jpg"/>
</ion-nav>