// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// automatically applied to the <body> element in the app.

@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster1.4.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Calisto MT";
  src: url("../assets/fonts/CalistoMTFett.ttf");
}

@font-face {
  font-family: "Calisto MT Bold";
  src: url("../assets/fonts/CalistoMTStd-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Uber_Move_Bold";
  src: url("../assets/fonts/UberMoveBold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Uber_Move_Regular";
  src: url("../assets/fonts/UberMoveRegular.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Uber_Move_Medium";
  src: url("../assets/fonts/UberMoveMedium.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Play_Bold";
  src: url("../assets/fonts/Play-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Play_Regular";
  src: url("../assets/fonts/Play-Regular.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "dancingscript-bold";
  src: url("../assets/fonts/dancingscript-bold.otf");
}

@font-face {
  font-family: "cookie";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Cookie-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat_light';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Light.otf');
}

.datetime-text:empty:not(:focus):before {
  content: "choix"
}

@font-face {
  font-family: 'Montserrat_regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Montserrat_bold';
  src: url('../assets/fonts/Montserrat-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat_medium';
  src: url('../assets/fonts/Montserrat-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat_semibold';
  src: url('../assets/fonts/Montserrat-SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat_extralight';
  src: url('../assets/fonts/Montserrat-ExtraLight.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat_extrabold';
  src: url('../assets/fonts/Montserrat-ExtraBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DaysOne-Regular";
  src: url('../assets/fonts/DaysOne-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("../assets/fonts/oswald/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald-SemiBold";
  src: url("../assets/fonts/oswald/Oswald-DemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Oswald-Bold";
  src: url("../assets/fonts/oswald/Oswald-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Oswald-Medium";
  src: url("../assets/fonts/oswald/Oswald-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Oswald-Light";
  src: url("../assets/fonts/oswald/Oswald-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Oswald-Italic";
  src: url("../assets/fonts/oswald/Oswald-RegularItalic.ttf");
  font-weight: 500;
}

.panier {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 90px;
  height: auto;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.note, .promo {
  width: 40px;
  height: 40px;
}


.label {
  font-family: Montserrat_regular;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat_bold;
  //text-transform: uppercase;
}

.datetime-text, p, ion-input {
  font-family: Montserrat_regular;

  ::placeholder {
    font-family: Montserrat_regular;
    text-transform: initial !important;
    color: #000 !important;
    font-size: small !important;

  }
}

.button-inner {
  white-space: inherit !important;
}

.searchbar-md .searchbar-search-icon, .searchbar-ios .searchbar-search-icon {
  left: auto;
  right: 0px;
  top: 5px;
}

.searchbar .searchbar-clear-icon {
  right: 26px;

}

.user-i {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;

  > img {
    width: calc(100% + 10px);
    max-width: initial;
    min-height: calc(100% + 10px);
    filter: blur(5px);
  }

  .main-user-i {
    position: absolute;
    left: 0;
    color: #fff;

    img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin-right: 15px;
      float: left;
      border: 2px solid #fff;
    }

    h2 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      font-family: 'Montserrat_bold';
      font-size: 2.2rem;
      margin-bottom: 0;
      margin-top: 6px;
    }

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      font-size: 1.1rem;
      margin: 0;
    }
  }
}

.lst_menu {
  position: relative;

  .label {
    text-transform: initial;
  }
}

.button-default-ios {
  height: 3.6rem;
}

.toolbar-content-ios {
  display: initial !important;
}

.toolbar-content {
  display: flex;
  min-height: 62px;

}

.categorieHeader .bar-button-menutoggle-md, .categorieHeader .bar-button-menutoggle-ios {

  position: absolute;
  top: 8px;
  left: 4px;
  margin: 0;
  padding: 0;

}

.categorieHeader .toolbar-background {
  background-image: url("../assets/img/bgHeaderHome.png");

}

.toolbar-background {
  background: #000;
}

.toolbar {
  border-bottom: 3px solid #E8B900;

}

.appName .toolbar-background {
  background-image: url("assets/img/bgHeaderMenu.jpg");
  background-size: cover;
}

/*.appName .logo-red {
  width: 40px;
  padding-right: 10px;
}*/

.categorieHeader .toolbar-md, .categorieHeader .toolbar-ios {
  padding: 4px;
  min-height: 156px;
}

.toolbar-title {

  text-align: center;
  color: #fff;
  font-family: "dancingscript-bold" !important;
  font-size: 20px;

  &::first-letter {
    text-transform: capitalize !important;
  }
}

.appName .toolbar-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 12px auto;

  img {
    width: 42px;
    margin-right: 5px;
  }
}

.appName .toolbar-title span {
  font-family: dancingscript-bold;
  text-align: left;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.propulse {
  position: relative;
  text-align: center;
  top: 20px;
  width: 100%;

  img {
    width: 30%;
  }

  p {
    font-family: Montserrat_light;
    font-size: small;
    margin: 0;
  }
}

.menu-inner, .menu-inner .content {
  background: #f9f9f9 !important;

  .item {
    background: transparent !important;
    text-transform: uppercase;
    color: #212739;
    border: none !important;

    ion-icon {
      font-size: 2.2rem;
      color: #212739;
    }

    .item-inner {
      border: none;
      font-family: 'Montserrat_regular';
      font-size: 1.45rem;
      color: #212739;
    }
  }
}

.menu-inner .toolbar-ios ion-title {
  padding-left: 15px;
}

.text-input-ios {
  margin: 0 !important;
  padding: 11px !important;
}

.toolbar-ios ion-title {
  left: 0;
  top: 0;
  padding: 0;
  position: relative;
}

.bar-button {
  color: #fff;
  // color: #e91e3c;
}

.group-btn-nav .cart-nav img {
  height: 25px !important;
}

.group-btn-nav {
  float: right;

  button {
    position: relative;
    color: #fff;
    font-weight: 500;
    float: right;
    padding: 20px;

    p {
      position: absolute;
      bottom: -13px;
      top: auto;
      right: 10px;
      background: #fff;
      color: #E8B900;
      padding: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
    }

    ion-icon {
      font-size: 1.8rem;
      margin-right: 5px;
    }

    &.cart-nav ~ .search-nav {
      padding-left: 5px;
      padding-right: 0;
    }
  }

  .cart-nav img {
    height: 1.5em;
  }
}

.menu {
  display: block !important;
}

p.nbrProduct {
  position: absolute;
  bottom: 40px;
  top: auto;
  left: 28px;
  background: #fff;
  color: #E8B900;
  padding: 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: smaller;
  text-align: center;
}

.content {
  button {
    font-family: 'Montserrat_regular';
    text-transform: none !important;
    font-size: 12px !important;

    &.button-small {
      font-size: 1.5rem !important;

      ion-icon {
        font-size: 2rem !important;
      }
    }
  }
}

button {
  &.active {
    color: #e91e3c !important;

    ion-icon {
      color: #e91e3c !important;
    }
  }
}

i {
  font-style: normal !important
}

.item-md.item-block .item-inner,
.item-ios.item-block .item-inner {
  border-bottom: none !important;
}

.picker-md .picker-button, .picker-md .picker-button.activated,
.picker-ios .picker-button, .picker-ios .picker-button.activated,
.picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt.picker-opt-selected,
.picker-ios .picker-prefix, .picker-ios .picker-suffix, .picker-ios .picker-opt.picker-opt-selected {
  color: #E8B900 !important;
}

.chalendise_style {
  background: transparent;
  text-align: center;
  font-size: 34px;
  color: red;
}

.item-input-has-focus.input-has-focus:last-child {
  color: #E8B900 !important;
  border-color: #E8B900 !important;
  box-shadow: none !important;
}

.item-input-has-focus.input-has-focus .item-inner, .item-input-has-focus.input-has-focus .label-md[stacked],
.item-input-has-focus.input-has-focus .label-ios[stacked] {
  color: #E8B900 !important;
  box-shadow: none !important;
}

.btndark {
  font-family: 'Montserrat_regular' !important;
  // max-width: 220px;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #fff;
  border: none;
  vertical-align: middle;
  position: relative;
  background-color: #000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: auto !important;
  min-height: 40px;
  padding: 12px 15px !important;
  line-height: initial !important;
  align-items: center;
  text-transform: initial !important;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 25px;

}

.btnlight:hover:not(.disable-hover) {
  background: #E8B900;
  color: #000;

}

.btnlight {
  font-family: 'Calisto MT' !important;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #000;
  border: none;
  vertical-align: middle;
  position: relative;
  background: #E8B900;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: auto !important;
  min-height: 40px;
  padding: 12px 15px !important;
  line-height: initial !important;
  align-items: center;
  text-transform: initial !important;
  overflow: hidden;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 20px;
}

.btnfb {
  font-family: 'Play_Regular' !important;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 25px;
  color: #fff;
  border: none;
  vertical-align: middle;
  position: relative;
  background: #4867aa;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: auto !important;
  min-height: 40px;
  padding: 12px 15px !important;
  line-height: initial !important;
  align-items: center;
  text-transform: initial !important;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}

.btnmail {
  font-family: 'Play_Regular' !important;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #fff;
  border: none;
  vertical-align: middle;
  position: relative;
  background-image: linear-gradient(90deg, #eb4132, #fbbd01, #31aa52, #4086f4);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 25px;
  height: auto !important;
  min-height: 40px;
  padding: 12px 15px !important;
  line-height: initial !important;
  align-items: center;
  text-transform: initial !important;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}

.alert-ios .alert-wrapper, .alert .alert-wrapper {
  border-radius: 8px;
}

.btnTransparent {
  font-family: 'Montserrat_regular' !important;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #000;
  border: none;
  box-shadow: 0px 0px 14px #ddd;
  vertical-align: middle;
  position: relative;
  background-color: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: auto !important;
  min-height: 40px;
  padding: 12px 15px !important;
  line-height: initial !important;
  align-items: center;
  text-transform: initial !important;
  overflow: hidden;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 20px;
}

.btnTransparent:hover:not(.disable-hover) {
  background-color: transparent;
  color: #f6c505;
  border: 1px solid #f6c505;
}

.button-ios {
  border-radius: 0;
}

.back-button.show-back-button, .btnBack {
  background-size: contain;
  background-image: url(../assets/img/back.png);
  width: 18px;
  height: 18px;
  position: absolute;
  right: 10px;
  z-index: 999;
  float: right;
  background-repeat: no-repeat;
  background-position: right;
}

.sale_off {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  background: #E8B900;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: medium !important;
  text-align: center;
  border-radius: 50%;
}

.panier.btnpanier, .panier.btnpanier.activated {

  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  background-image: url(../assets/img/panierblanc.png);
  width: 55px;
  height: 55px;
  position: absolute;
  right: 10px;
  z-index: 999;
  float: right;
  background-color: #f6c505 !important;
  bottom: 8px !important;
}


.panier small {
  position: absolute;
  top: 15px;
  left: 75%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-size: 9px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.promo.btnpromo, .promo.btnpromo.activated {

  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  background-image: url(../assets/img/promo.png);
  right: 0px;
  z-index: 999;
  float: right;
  background-color: #f6c505e3 !important;
}

.note.btnnote, .note.btnnote.activated {

  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  background-image: url(../assets/img/note.png);
  right: 0px;
  z-index: 999;
  float: right;
  background-color: #f6c505e3 !important;
}

.back-button.show-back-button span {
  display: none;
}

.btnrouge {
  font-family: 'Montserrat_regular' !important;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #fff;
  border: none;
  vertical-align: middle;
  position: relative;
  background-color: #e30613;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: auto !important;
  min-height: 40px;
  padding: 12px 15px !important;
  line-height: initial !important;
  align-items: center;
  text-transform: uppercase !important;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
}

.radio-ios .radio-checked .radio-inner {
  border-color: #f6c505;
  left: 6px;
  top: 0px;
}

.bar-button-md, .bar-button-ios {
  position: absolute;
}

.radio-md .radio-icon, .radio-ios .radio-icon {
  left: 0;
  top: 0;
  margin: 0;
  border-radius: 50%;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #ECECEC;
}

.radio-md .radio-inner {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  position: absolute;
  width: 14px;
  height: 14px;
}

.checkbox {
  display: table-cell !important;

}

.checkbox-md .checkbox-icon, .checkbox-ios .checkbox-icon {
  border-color: #e9e9e9;
  border-width: 1px;
}

.checkbox-md .checkbox-checked, .checkbox-ios .checkbox-checked {
  background-color: #f6c505 !important;
  border-color: #f6c505;

}

.radio-md .radio-checked, .radio-ios .radio-checked {
  border: 1px solid #BFBFBF;
  border-radius: 50%;
  background: #fff;
}

.item-radio-checked.item-md ion-label, .item-radio-checked.item-ios ion-label {
  color: #f6c505;
}

.radio-md .radio-inner {
  background-color: #f6c505 !important;

}

.label-checkbox {
  font-family: Montserrat_regular;
  font-style: italic;
  color: #000 !important;
  font-weight: initial !important;
  display: table-cell !important;
  padding: 0 7px;

}

.btnvert * {
  text-transform: uppercase !important;

}

/*.ion-md-menu:before,.ion-ios-menu:before,.ion-ios-contact:before,.ion-md-contact:before,{
	display: none;
}*/
.ion-md-menu:before, .ion-ios-menu:before {
  content: "";
  background-image: url(../assets/img/icnmenu.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left;
  width: 18px;
  height: 18px;
}

.bar-button-menutoggle ion-icon {
  padding: 0 !important;
}

.ion-md-menuu,
.ion-ios-menuu {
  display: none;
  padding: 0 !important;
  margin: 0 !important;
  background-image: url(../assets/img/menu/menu.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.ion-md-paiement,
.ion-ios-paiement {
  background-image: url(../assets/img/menu/paiement.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text, .tabs-ios[tabsLayout=icon-top] .has-icon .tab-button-text {
  height: 20px;
  line-height: 20px;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-ios .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menu-inner .item ion-icon, .menu-inner .content .item ion-icon {
  font-size: 2.2rem;
  color: #ddd;
  padding: 0 !important;
}

.item-md ion-icon[item-left] + .item-inner, .item-ios ion-icon[item-left] + .item-inner,
.item-md ion-icon[item-left] + .item-input, .item-ios ion-icon[item-left] + .item-input,
.item-md ion-icon[item-start] + .item-inner, .item-ios ion-icon[item-start] + .item-inner,
.item-md ion-icon[item-start] + .item-input, .item-ios ion-icon[item-start] + .item-input {
  margin-left: 2px;
}

.button-inner {
  white-space: normal;
}

/*
.menu-inner .content .menuClient:nth-child(4) {
  background: #000 !important;
  .item-inner {
    color: #fff;
  }
}*/

.item-md h3, .item-md h4, .item-md h5, .item-md h6,
.item-ios h3, .item-ios h4, .item-ios h5, .item-ios h6 {
  white-space: normal;
  font-size: initial;
}

.md-infinite, .settings {
  display: none;
}

.ion-md-commande,
.ion-ios-commande {
  display: none;
  padding: 0 !important;
  margin: 0 !important;
  background-image: url(../assets/img/menu/commande.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
}

/*
.lst_menu .item-md [item-left], .item-md [item-right],.lst_menu .item-md [item-start], .item-md [item-end]{
  display: none;
  margin: 0;
}*/
.ion-md-contactt,
.ion-ios-contactt {
  background-image: url(../assets/img/menu/contact.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.ion-md-profil,
.ion-ios-profil {
  display: none;
  padding: 0 !important;
  margin: 0 !important;
  background-image: url(../assets/img/menu/profil.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.ion-md-support,
.ion-ios-support {
  background-image: url(../assets/img/menu/support.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.ion-md-logoutA,
.ion-ios-logoutA {
  background-image: url(../assets/img/menu/logout.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.menu-inner .item .item-inner, .menu-inner .content .item .item-inner {
  font-family: Montserrat_regular;
}

.list-md .item-block .item-inner, .list-ios .item-block .item-inner, .list-ios > .item-block:first-child, .list-ios > .item-block:last-child {
  border: none;
}

.margTop10 {
  margin-top: 10px !important;
}

.margTop20 {
  margin-top: 20px !important;
}

.fab-md, .fab-ios {
  color: #fff;
  background-color: #f6c505;
}

.err {
  padding: 5px 16px;
  width: 100%;
  font-size: 1.2rem;
  color: #000;
  margin: 0 auto;
}

.promoCode {
  input {
    font-family: Montserrat_regular;
    width: 100%;
    height: 42px;
    padding: 0px 15px;
    background: #fff;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: none;
    margin: 5px 0px;
    font-weight: 500;
    color: #000;
  }

  ::placeholder {
    font-family: 'Montserrat_regular';
    color: black;
  }

  button {

    font-family: 'Montserrat_regular';
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: center !important;
    margin: auto !important;
    margin-bottom: 20px !important;
    color: #fff !important;
    border: none;
    vertical-align: middle;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: auto !important;
    min-height: 40px;
    padding: 12px 15px !important;
    line-height: initial !important;
    align-items: center !important;
    text-transform: uppercase !important;
    overflow: hidden;
    cursor: pointer;
    text-align: center !important;
    border-radius: 20px !important;
    float: none;

    * {
      text-transform: uppercase;
      text-align: center !important;
      justify-content: center !important;

    }

  }

  .alert-ios .alert-wrapper, .alert-md .alert-wrapper {
    border-radius: 0;
    overflow: auto;
    text-align: center;
    padding: 20px;
    min-width: 300px !important;
    max-width: 70% !important;
    width: 70% !important;
    height: 100%;
  }

  .alert-md .alert-message, .alert-md .alert-input-group, .alert-ios .alert-message, .alert-ios .alert-input-group {
    padding: 0 !important;
  }

  .button-md:hover:not(.disable-hover),
  .button-ios:hover:not(.disable-hover) {
    background-color: initial !important;
    color: #fff !important;
    border: 1px solid #fff !important;
  }

  .cancel {
    background: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 50% !important;
    position: absolute;
    left: auto;
    right: 1px;
    top: 1px;
    padding: 0 !important;
    z-index: 999999999999;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px;

    * {
      color: black;
    }
  }
}

.alert-md .alert-input:focus, .alert-ios .alert-input:focus {
  border-bottom-color: #f6c505;
}

.checkbox-md .checkbox-icon {
  position: relative;
  width: 21px;
  height: 21px;
  top: 7px;
  border-radius: 50%;
}

.checkbox-md .checkbox-checked .checkbox-inner {
  left: 5px;
  top: 0px;
  position: absolute;
  width: 9px;
  height: 14px;
  border-radius: 3px;
  border-top-width: 0;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 0;
}

.toggle-md.toggle-checked .toggle-icon {
  background-color: #a4d4bc;
}

.toggle .toggle-icon {
  background-color: #b97f80;
}

.toggle-md.toggle-checked .toggle-inner, .toggle-ios.toggle-checked .toggle-icon {
  background-color: #f6c505;
}

::placeholder {
  font-family: Montserrat_regular;
  color: black;
  text-transform: uppercase;
}

p.lock {
  font-family: Montserrat_regular;
}

.pad0 {
  padding: 0 !important;
}

.marg0 {
  margin: 0 !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  box-shadow: none;
}

.alert-md [aria-checked=true] .alert-radio-icon,
.alert-ios [aria-checked=true] .alert-radio-icon {
  border-color: #f6c505;
}

.alert-md [aria-checked=true] .alert-radio-label,
.alert-ios [aria-checked=true] .alert-radio-label {
  color: #f6c505;

}

.alert-md .alert-button, .alert-ios .alert-button {
  background: #f6c505;
  color: #000;

}

.alert-md .alert-radio-inner {
  background-color: #f6c505;
}

.alert-ios [aria-checked=true] .alert-radio-inner {
  border-color: #f6c505;
}

.toggle-md {
  position: relative;
  display: block;
  width: 70px;
  height: 30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  contain: strict;
  padding: 12px;
}

.toggle-md.toggle-checked .toggle-icon {
  background-color: #fff;
  padding: 12px;
  width: 70px;
}

.toggle-md .toggle-inner {
  left: 0;
  top: 2px;
  border-radius: 20px;
  position: absolute;
  width: 40px;
  height: 25px;
  background-color: #b70b0c;
}

.toggle-md .toggle-inner {
  left: 0;
  top: 2px;
  border-radius: 20px;
  position: absolute;
  width: 40px;
  height: 25px;
}

.toggle-md.toggle-checked .toggle-inner:after {
  content: 'ON';
  text-align: center;
  display: block;
  line-height: 25px;
  color: #fff;
}

.toggle-md .toggle-inner:after {
  content: 'OFF';
  text-align: center;
  display: block;
  line-height: 25px;
  color: #fff;
}

.toggle-md.toggle-checked .toggle-inner {
  -webkit-transform: translate3d(29px, 0, 0);
  transform: translate3d(29px, 0, 0);
}

.button-md.activated, .button-ios.activated {
  color: #fff !important;
  background: #E8B900;
  border: 1px solid #fff !important;
  font-weight: bold;
  border-radius: 0px;

}

.content button {
  text-transform: initial !important;
}

.menu-enabled.show-menu .content button {
  text-transform: none !important;
  border-bottom: 1px solid #e9e9e9 !important;
}

.menu-inner .content .item.logout {
  font-family: Uber_Move_Medium;
  //color: #f6c505 !important;;
  background-image: url("../assets/img/menu/log-out.png") !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  background-size: 20px !important;
  padding-left: 40px !important;

  .item-inner .label {
    font-family: Uber_Move_Medium;
    text-transform: uppercase;
    //color: #f6c505 !important;
  }
}

.menu-inner .content .item .item-inner .label {
  font-family: Uber_Move_Medium;
  //color: #AEAEAE;
  color: #000 !important;
}

.menu-inner .content .item:first-child {
  font-family: Uber_Move_Medium;
  //color: #f6c505 !important;;
  background-image: url("../assets/img/menu/resteau.png") !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  background-size: 20px !important;
  padding-left: 40px !important;
}

.menu-inner .content .item:nth-child(2) {
  font-family: Uber_Move_Medium;
  //color: #f6c505 !important;;
  background-image: url("../assets/img/menu/shopping-bag (1).png") !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  background-size: 20px !important;
  padding-left: 40px !important;
}

.menu-inner .content .item:nth-child(3) {
  font-family: Uber_Move_Medium;
  //color: #f6c505 !important;;
  background-image: url("../assets/img/menu/user.png") !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  background-size: 20px !important;
  padding-left: 40px !important;
}

.menu-inner .content .item:nth-child(4) {
  font-family: Uber_Move_Medium;
  //color: #f6c505 !important;;
  background-image: url("../assets/img/menu/credit-card.png") !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  background-size: 20px !important;
  padding-left: 40px !important;
}

.menu-inner .content .item:nth-child(5) {
  font-family: Uber_Move_Medium;
  //color: #f6c505 !important;;
  background-image: url("../assets/img/menu/adresse.png") !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  background-size: 20px !important;
  padding-left: 40px !important;
}

.menu-inner .content .item:nth-child(6) {
  font-family: Uber_Move_Medium;
  //color: #f6c505 !important;;
  background-image: url("../assets/img/menu/shopping-cart.png") !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  background-size: 20px !important;
  padding-left: 40px !important;
}

.menu-inner .content .item:nth-child(7) {
  font-family: Uber_Move_Medium;
  //color: #f6c505 !important;;
  background-image: url("../assets/img/menu/faq.png") !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  background-size: 20px !important;
  padding-left: 40px !important;
}

.menu-inner .content .item:nth-child(8) {
  font-family: Uber_Move_Medium;
  //color: #f6c505 !important;;
  background-image: url("../assets/img/menu/info.png") !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  background-size: 20px !important;
  padding-left: 40px !important;
}

.alert-button-group {
  flex-wrap: wrap;
  justify-content: center !important;
  padding: 8px !important;
}

.alert-button {
  background: #f6c505;
  color: #fff !important;
  padding: 5px 2% !important;
  min-width: 46%;
  width: auto;
  margin: 0 1% !important;
  border-radius: 25px !important;
}

.alert-md .alert-message,.alert-ios .alert-message {
  text-align: center !important;
}

.alert-button .button-inner {
  justify-content: center !important;
}

.successAlert {
  .alert-wrapper {
    border-radius: 10px;
  }

  .alert-head {
    text-align: center;
    color: #575757;

    img {
      padding-left: 33px;
    }
  }

  .alert-message {
    text-align: center;

  }

  .alert-button-group {
    flex-wrap: wrap;
    justify-content: center !important;
    padding: 8px 8px 24px 24px;
  }

  .alert-button {
    background: #f6c505;
    color: #fff;
    padding: 5px 20%;
    width: 100%;
    border-radius: 25px;
  }

  .alert-button .button-inner {
    justify-content: center;
  }
}


/*
.lst_menu .ion-md-panier, .ion-ios-panier {
  display: block !important;
  margin: 9px 8px 9px 0 !important;
  background-image: url(../assets/img/menu/panier.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}*/
@media screen and (max-height: 620px) {
  .lst_menu {
    max-height: 300px;
    overflow: auto;
  }
}