page-checkout {
  .content {
    background: #f4f4f4;
  }

  .item-md, .item-ios {
    // margin-bottom: 10px !important;
  }

  .imgItem .item-md, .item-ios {
    margin-bottom: 10px !important;
    background: transparent;

    .item-inner {
      background: #fff;
    }
  }

  .btnTransparent {
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%;
    box-shadow: 0px 0px 19px #ddd !important;
    text-transform: initial;

    b {
      font-family: Montserrat_bold;
      font-size: medium;
      padding-left: 5px;
    }
  }

  .calendar {
    padding: 10px 16px 0;
    background-color: #fff;

    ion-datetime {
      background: white;
      border: 1px solid #eee;
      border-radius: 25px;
      width: 100%;
      background-image: url("../assets/img/calender.png");
      background-position: 96% center;
      background-size: 20px;
      background-repeat: no-repeat;
    }
  }

  .time {
    padding: 10px 16px;
    background-color: #fff;

    ion-datetime {
      background: white;
      border: 1px solid #eee;
      border-radius: 25px;
      width: 100%;
      background-image: url("../assets/img/time.png");
      background-position: 96% center;
      background-size: 20px;
      background-repeat: no-repeat;
    }
  }

  h5 {
    width: 100%;
    padding: 15px 15px 0;
  }

  h6 {
    width: 100%;
  }

  .typeLiv {
    background: #fff !important;
    border-top: #757575;
    border-bottom: #757575;

    .item-radio.item-md ion-label, ion-searchbar, .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
      font-family: Montserrat_regular !important;
      color: #000 !important;
      text-align: center;

      ::placeholder {
        font-family: Montserrat_regular !important;
        color: #000 !important;

      }
    }

    ::placeholder {
      font-family: Montserrat_regular !important;
      color: #000;
    }

    .item.item-block {
      padding-left: 5px;
    }

    [col-8] .label {
      padding: 16px;

    }

  }

  .item .radio{
    margin: 0;
  }
  .searchbar {
    background: inherit;
    padding: 5px 8px;
    //border: 1px solid #e5e5e5;
    border-radius: 25px;
  }

  .searchbar-md .searchbar-input {
    padding: 0;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .methode .item-md, .methode .item-ios {
    margin-bottom: 10px !important;
    padding: 35px 0px !important;

    .item-inner {
      padding: 0 !important;
    }

    .radio-md, .radio-ios {
      position: absolute;
      display: block;
      margin: 9px 10px 9px 0;
      bottom: 0px;
      left: 50%;
    }
  }

  .methode h2 {
    font-family: Montserrat_bold;
    color: #000;
    text-align: center;
    font-size: 1.4rem;
    padding: 0 16px;
    text-transform: capitalize;
  }

  .imgItem .item-inner {
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    * {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
      text-transform: uppercase;

      img {
        width: 50px;
      }
    }
  }

  ion-item {
    ion-thumbnail {
      min-height: 50px !important;
      min-width: 50px !important;

      img {
        width: 50px !important;
        height: 50px !important;
      }
    }

    h2 {
      color: #212739;
      font-family: 'Montserrat_regular';
      font-size: 2.5rem;
    }

    .close {
      color: #fff;
      margin-right: 0 !important;

      ion-icon.icon-wp, ion-icon.icon-ios {
        font-size: 2.2rem !important;
      }
    }

    ion-col {

      margin: auto !important;
      overflow: hidden;
      white-space: normal;
    }

    .qtyCart {
      text-align: right;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-items: right;
      align-items: center;
      justify-content: flex-end;

      input {
        width: 50px;
        border: 1px solid #c1c1c1;
      }

      button, input {
        display: inline-block;
        height: 40px;
        text-align: center;
        margin: 0;
        color: #000;
      }
    }

    .price {
      font-family: Montserrat_bold;
      display: inline-block;
      color: #f6c505;
      font-size: 20px !important;
      margin-bottom: 5px;
      text-transform: capitalize;
      font-weight: bold;
      margin-right: 10px;
    }

    p {
      display: flex;
      align-items: center;
      font-size: 1.2rem !important;
      color: #212739;

      input {
        width: 40px;
        // border: none;
        height: 20px;
        padding: 0;
        text-align: center;
        font-weight: bold;
      }

      button {
        margin: 0 10px !important;
        height: 1.8rem !important;

        ion-icon {
          color: #212739;
        }
      }
    }
  }

  .payment {
    margin-bottom: 30px;

    .fee {

      width: 100%;
      display: block;
      margin: 5px 0px;
      padding: 5px 16px;
      border-bottom: 2px solid #eee;

      span:first-child {
        font-weight: bold;
        color: #212739;
      }

      span:last-child {
        float: right;
        font-weight: bold;
        // font-family: 'Montserrat_regular';
        // color: #f6c505;
      }

      &.total-pay {
        padding-bottom: 30px;
        font-size: 2.4rem;
        border: none;
      }
    }

    /*button {
        margin-top: 30px;
        background: #f6c505;
        &:last-child {
            margin-top: 15px;
            background: #212739;
        }
    }*/
  }

  .no-item {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    b {
      text-align: center;
      width: 100%;
      display: block;
      font-size: 4rem;
      font-family: 'Montserrat_regular';
      color: #e91e3c;
    }

    h4 {
      text-align: center;
      font-size: 2rem;
    }

    p {
      padding: 0px 40px;
      font-size: 1.3rem;
      text-align: center;
      color: #7e7e7e;
    }
  }

  .last-row {

    width: 100%;

    .item {
      box-shadow: 1px 1px 20px #ccc;
      margin-bottom: 10px;

      ion-col img {
        height: 30px;
      }

      ion-col h2 {
        font-family: Montserrat_bold;
        color: #000;
        text-align: left;
        font-size: 12px;
      }

      ion-col p {
        font-family: Montserrat_semibold;
        // color: #f6c505;
      }

      .label {
        margin: 7px 0;

      }

    }

  }

  p.max {
    font-family: Montserrat_regular;
    color: #f6c505 !important;
    padding-left: 24px;
  }

  .err {
    margin: 0 !important;
  }

  .methode .label-md, .methode .label-ios {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  div.block-ptR {
    margin-bottom: 10px !important;
    background: #fff;
    padding: 20px 10px;

    .item-md, .item-ios {
      min-height: 70px;
      z-index: 9999;
      background: transparent;
    }
  }

  .card-background-page {
    ion-card {
      position: relative;
      color: #fff;
      max-height: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // img{
    // 	filter: blur(1.5px);
    // }
    .wrapper-bg {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .card-title {
      font-family: "DaysOne-Regular";
      font-weight: 500;
      font-size: 14px;
    }

    p.calender {
      background-image: url("../assets/img/calender.png");
      color: #000;
      background-position: left 5px;
      background-repeat: no-repeat;
      background-size: 20px;
      padding: 5px 0 5px 30px;
      font-weight: 100;
      margin-left: 0;
      overflow: hidden;
      white-space: normal;
    }

    p.lieu {
      background-image: url(../assets/img/gps.png);
      color: #000;
      background-position: left 7px;
      background-repeat: no-repeat;
      background-size: 11px;
      padding: 5px 0 5px 15px;
      font-weight: 100;
      margin-left: 0;
      overflow: hidden;
      white-space: normal;
    }

    a {
      color: #f6c505;
      text-decoration: underline;
    }

    h5 {
      padding-left: 15px;
    }
  }

  .list-md p, .list-ios p {
    font-family: Montserrat_regular;
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem !important;
    line-height: normal;
    text-overflow: inherit;
    color: #f6c505;
    white-space: normal;
    padding-bottom: 5px;
  }
}