 

<ion-content class="checkout">

    <!--<div class="delivary_now"  *ngIf="isDelivaryNow">
      {{DelivaryDateNow | date: 'dd/MM/yyyy'}} à {{DelivaryDateNow | date: 'H:mm'}} (à présent)
    </div>-->
    <div *ngIf="islivraisonActivated==1">

        <ion-list ion-row radio-group [(ngModel)]="delivary_type" (ionChange)="changedDelivry()" class="typeLiv">
            <h5>Votre commande</h5>
            <ion-item ion-col *ngIf="IsLivraison">
                <ion-label>Livraison</ion-label>
                <ion-radio value="livraison"></ion-radio>
            </ion-item>
            <ion-item ion-col *ngIf="IsStuart">
                <ion-label>Stuart</ion-label>
                <ion-radio value="stuart"></ion-radio>
            </ion-item>
            <ion-item ion-col (tap)="livraison()" *ngIf="IsEmporter">
                <ion-label>Emporter</ion-label>
                <ion-radio value="emporter"></ion-radio>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="islivraisonActivated==1 && (delivary_type=='livraison'||delivary_type=='stuart')">
            <!-- <div *ngIf="pay_method == 1">
               <ion-item>
                 <ion-label stacked>Numéro de carte</ion-label>
                 <ion-input [(ngModel)]="card_info.number" type="text"></ion-input>
               </ion-item>

               <ion-item>
                 <ion-label stacked>Exp Month</ion-label>
                 <ion-input [(ngModel)]="card_info.expMonth" type="text"></ion-input>
               </ion-item>

               <ion-item>
                 <ion-label stacked>Exp Year</ion-label>
                 <ion-input [(ngModel)]="card_info.expYear" type="text"></ion-input>
               </ion-item>

               <ion-item>
                 <ion-label stacked>CVC</ion-label>
                 <ion-input [(ngModel)]="card_info.cvc" type="text"></ion-input>
               </ion-item>
             </div>-->

            <div *ngIf="user_id == null">
                <ion-item>
                    <ion-label stacked>Nom</ion-label>
                    <ion-input [(ngModel)]="full_name" type="text"></ion-input>
                    <p
                            padding
                            class="err"
                            *ngIf="full_name.length < 5 || full_name.length > 50">
                        *Plus de 5 et moins de 50 caractères, ne contiennent pas de caractères spéciaux personnages.
                    </p>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Téléphone</ion-label>
                    <ion-input type="number"  [(ngModel)]="phone" type="text"></ion-input>
                    <p padding class="err" *ngIf="phone.length < 10 || phone.length > 50">
                        * Plus de 10 et moins de 50 chiffres.
                    </p>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-input type="text" [(ngModel)]="email" type="text"></ion-input>
                    <p padding class="err" *ngIf="email.length < 10 || email.length > 50">
                        * Plus de 10 et moins de 50 chiffres.
                    </p>
                </ion-item>
            </div>

            <ion-list ion-row class="typeLiv">
                <ion-item ion-col col-4>
                    <h6>Livré à</h6>
                </ion-item>
                <ion-item ion-col col-8 >
                    <button ion-button class="btnTransparent" (tap)="loadAdress()">Mes adresses
                    </button>
                </ion-item>
            </ion-list>
            <ion-list ion-row class="typeLiv">

                <ion-item class="form01 form-location" style="display: block">

                    <!-- [class]="selectedLocalisation ? 'autocomplete2' : 'autocomplete'"  -->
                    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"
                                   [showCancelButton]="false"
                                   placeholder="Votre adresse"
                    ></ion-searchbar>
                    <ion-list [hidden]="autocompleteItems.length == 0">
                        <ion-item-sliding *ngFor="let item of autocompleteItems">
                            <ion-item tappable (tap)="selectSearchResult(item)">
                                {{ item.description }}
                            </ion-item>
                        </ion-item-sliding>
                    </ion-list>


                </ion-item>

                <ion-item>
                    <ion-input [(ngModel)]="complementAdresse" type="text"
                               placeholder="{{'comp_address'|translate}}"></ion-input>
                </ion-item>


              <!--  <ion-item
                        *ngIf="!isValidDistance && (delivary_type == 'livraison'||delivary_type=='stuart') && address !==''"
                        class="chalendise_style"
                        [ngClass]="{'inRange':isValidDistance}">
                    <p>{{'maxDis_address'|translate}} {{ maximumDistance }} km</p>
                </ion-item>-->
                <ion-item *ngIf="check=='false'" class="chalendise_style">
                    <p>{{message}}</p>
                </ion-item>
            </ion-list>

        </ion-list>
        <ion-list class="typeLiv">
            <ion-item>
                <h6>Quand ?</h6>
            </ion-item>
            <ion-item class="calendar">
                <ion-datetime
                        monthShortNames='Janvier, Fevrier, MARS, Avril, Mai, Juin, Juillet,Aout,Septembre,Octobre,Novembre,Décembre'
                        displayFormat="DD MMM YYYY"
                        min="{{ actualDate }}"
                        max="2030-12-09"
                        [(ngModel)]="DelivaryDate"
                        (ionChange)="TimeSchedule(data.type)"
                        cancelText="Annuler" doneText="Valider"
                ></ion-datetime>
            </ion-item>
            <ion-item class="time">
                <ion-datetime
                        [(ngModel)]="actualTime"
                         doneText="Valider" cancelText="Annuler"
                        displayFormat="HH:mm"
                        pickerFormat="HH mm">
                </ion-datetime>
            </ion-item>
        </ion-list>

        <!--  <ion-item>
            <ion-label>Temps</ion-label>
            <ion-datetime
              displayFormat="HH:mm"
              [(ngModel)]="DelivaryTime"
              (ionChange)="TimeSchedule()"
            ></ion-datetime>
          </ion-item>-->
    </div>
    <!--
        <h2 *ngIf="islivraison==2">Paiement  </h2>
    -->
    <ion-list ion-row class="imgItem" *ngIf="islivraisonActivated==2" radio-group [(ngModel)]="pay_method"
              (ionChange)="changedPaiment()">
        <ion-item *ngIf="IsCachPaiement" col-12>
            <ion-label>
                <img src="assets/img/payLiv.png" alt="payer à la livraison"/><br>
                Payer à la livraison
            </ion-label>
            <ion-radio value="0"></ion-radio>
        </ion-item>

        <ion-item *ngIf="IsOnLignePaiement" (tap)="goToPaiment()" col-12>
            <ion-label>
                <img src="assets/img/methodpay.png" alt="carte bancaire"/><br>
                carte bancaire
            </ion-label>
            <ion-radio value="1"></ion-radio>
        </ion-item>
    </ion-list>


    <ion-row class="payment" padding>

       <!-- <p *ngIf="(!validatePrice   || delivary_type!='stuart')&&minimumPrice" class="minimum_price_style">
            {{'MinOrder'|translate}} {{ currencyProvider.formatMoney(minimumPrice) }}
        </p>-->
        <!-- <ion-row class="err_show" *ngIf="msg_err != 0">
             <p class="err" *ngIf="!validate">
                 {{'err_info'|translate}}
             </p>
         </ion-row>-->
        <button *ngIf="islivraisonActivated!=1 " icon-left ion-button (tap)="order(1)" class="btnlight">
            <!--[disabled] = "!couldMakeOrder()"-->
            {{'terminer'|translate}}

        </button>


        <button *ngIf="islivraisonActivated==1" icon-left ion-button (tap)="order(2)" class="btnlight">
            <!--[disabled] = "!couldMakeOrder()"-->
            {{'valider'|translate}}


        </button>

        <button icon-left ion-button class="btndark" (tap)="cancel()">
            {{'annuler'|translate}}
        </button>
    </ion-row>

</ion-content>
