<!--
  Generated template for the CommandesClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Mes commandes</ion-title>
        <div class="group-btn-nav" >
            <!-- <button clear small color="light" ion-button class="search-nav" (tap)="search()">
                 <ion-icon name="search"></ion-icon>
             </button>-->
        </div>
    </ion-navbar>
    <!-- <ion-grid>
         <ion-row>
             <ion-col col-5 class="caisse">

                 <h4><img src="./assets/img/macaisse.png" width="25px"> {{'my_crate'|translate}}</h4>
             </ion-col>
             <ion-col col-7 class="sold">
                 <h4>{{soldeCaisse}} €</h4>
             </ion-col>
         </ion-row>
     </ion-grid>-->
</ion-header>


<ion-content class="home_content">
    <div class="no-item" *ngIf="commandesClient && commandesClient.length==0">
        <img src="assets/img/paniervide.gif" class="vide" (tap)="commander()">
        <p>Aucune commande n'a encore <br> été effectuée. </p>
    </div>

  
<ion-list style="margin-bottom: 30px" *ngIf="commandesClient">
    <ion-item *ngFor="let item of commandesClient" class="margTop20">
        <ion-row >
            <ion-col col-2 style="margin: auto" (tap)="opendDetails(item)">
                <img src="assets/img/logo.png" style=" max-width: 38px;">
            </ion-col>
            <ion-col col-5 (tap)="opendDetails(item)">
                <h6>{{item.cmd.store}} </h6>
                <h6>ID commande : {{item.cmd.id}} </h6>
                <h6>{{item.cmd.total}} €</h6>
                <!--  <p style="text-transform: capitalize">{{item.cmd.type}}</p>-->
                <p *ngIf="item.cmd.quand==''"><b>{{item.cmd.delivery_date }}</b></p>
                <p *ngIf="item.cmd.quand!=''"><b>{{item.cmd.quand }}</b></p>


            </ion-col>
            <!-- <ion-col col-3 style="margin: auto">
                 <p style="text-transform: capitalize">{{item.cmd.type}}</p>
             </ion-col>-->
            <ion-col col-2 style="margin: auto" (tap)="opendDetails(item)">
                <p class="valide_style"  *ngIf="item.cmd.status=='livrée'">
                    Livrée
                </p>
                <p class="valide_style"  *ngIf="item.cmd.status=='refusée'">
                    Annulée
                </p>
                <p class="valide_style"  *ngIf="item.cmd.status=='en cours de traitement'">
                    Traitement
                </p>
                <p class="valide_style" *ngIf="item.cmd.status=='en attente'">
                    Attente
                </p>
            </ion-col>
            <ion-col col-1 style="background: #689507;color: #fff;justify-content: center;    display: flex;    align-items: center;"  *ngIf="item.cmd.status=='livrée'">
                <ion-icon name="checkmark"></ion-icon>
            </ion-col>

            <ion-col col-1 style="background: #bf181a;color: #fff;justify-content: center;    display: flex;    align-items: center;"  *ngIf="item.cmd.status=='refusée'">
                <ion-icon name="close"></ion-icon>
            </ion-col>

            <ion-col col-1 style="background: #e68319;color: #fff;justify-content: center;    display: flex;    align-items: center;"  *ngIf="item.cmd.status=='en attente'">
                <ion-icon ios="ios-sync" md="md-sync"></ion-icon>
            </ion-col>
            <ion-col col-1 style="background: #689507;color: #fff;justify-content: center;    display: flex;    align-items: center;"  *ngIf="item.cmd.status=='en cours de traitement'">
                <ion-icon ios="ios-pulse" md="md-pulse"></ion-icon>
            </ion-col>
            <ion-col style="background: #f6c505;color: #fff;justify-content: center;    display: flex;    align-items: center;" col-1  (tap)="send_message(item.cmd.id)">
                <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-item>

</ion-list>
</ion-content>


<ion-footer>
    <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
    </button>
</ion-footer>
