page-paiment-cards {
.content{
  background-color: #f4f4f4;
}
  h6{
    padding:15px;
  }
  .listCard{
    margin-bottom: 50px;
  }
  ion-list.listCard ion-label{
    display: flex;
    align-items: center;
    img{
      padding-right: 5px;
    }
  }
}
