<ion-header>

    <ion-navbar>

        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'payment_cards'|translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <h6 class="margTop20" *ngIf="myCardData!=null">{{'your_pay_card'|translate}}</h6>

    <button class="btnlight" (tap)="addCard()" ion-button>{{'add_card'|translate}}</button>
</ion-content>
