<ion-header>
    <ion-navbar >
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title (tap)="login()">Commander</ion-title>
        <div class="group-btn-nav">
           <!-- <button clear small  color="light" ion-button class="panier btnBack" (tap)="goBack()">
            </button>-->
        </div>

    </ion-navbar><!--
    <ion-grid class="blocSearch">
         <span class="titleCat">{{title}}</span>
    </ion-grid>-->
</ion-header>
<ion-content>

    <ion-list>
        <ion-item *ngFor="let item of list, let i = index" class="margTop20">
            <ion-thumbnail item-left (tap)="modalDatailFood(item)">
                <img src="https://extranet.novo-burger.fr/{{item.image}}">
                <div class="sale_off" *ngIf="item.discount && item.discount != 0">
                    <small>-{{('0' + item.discount).slice(-2)}} %</small>
                </div>
            </ion-thumbnail>
            <ion-row class="item_style">
                <ion-col  (tap)="modalDatailFood(item)" style="margin:auto">
                    <h2 class="item-title">{{item.name}}</h2><br>
                    <p class="price" *ngIf="item.discount == null || item.discount == 0">
                        {{currencyProvider.formatMoney(item.price)}}</p>
                    <p [innerHTML]="getSafehtml(item.description)"></p>

                </ion-col>
                <!--<ion-col col-6 style="margin:auto">

                    <p class="price_sale_off" *ngIf="item.discount != null && item.discount != 0">
                        <span class="price old-price"> {{currencyProvider.formatMoney(item.price)}} </span>
                        <span class="price"> {{currencyProvider.formatMoney(item.price - item.price*item.discount/100)}} </span>
                    </p>
                    &lt;!&ndash;<img src="assets/img/addcart.png" (tap)="modalAddCart(item)" class="imgright"/>&ndash;&gt;
                    <img src="./assets/img/addpanier.png" (tap)="addToCart(item)" class="btnImg"/>
                    <img src="./assets/img/detail.png" (tap)="modalDatailFood(item)" class="btnImg"/>
                    &lt;!&ndash; <img src="assets/img/share.png" (tap)="share(item)" class="imgright"/>
                                        <img src="assets/img/view.png" (tap)="modalDatailFood(item)" class="imgright"/>&ndash;&gt;
                </ion-col>-->
            </ion-row>
        </ion-item>
    </ion-list>

    <!-- <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

</ion-content>

<ion-footer>
    <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
        <small *ngIf="panierLength">{{panierLength}}</small>
    </button>
</ion-footer>
