page-address {
  .content{
    background: #f4f4f4;
  }
  .edit {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    color: #fff;
    font-weight: 500;
    float: right;
    padding: 0px;
    margin: 0;
  }
  .btnTransparent {
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 50%;
    min-width: 200px;
    text-transform: initial;
    box-shadow: 0px 0px 19px 8px #ddd;
    border: none;
    b {
      font-family: Montserrat_bold;
      font-size: medium;
      padding-left: 5px;
      color:#f6c505;
    }
  }

  .row .col:first-child img {
    height: auto;
    width: 100%;
    max-width: 50px;
    position: absolute;
    top: -13px;
    z-index: 999;
  }

  .row .col:last-child{
    display: flex;
    img{
      margin: auto;
      height: 20px;
      float: right;
      text-align: right;
    }
  }
  .row .col {
    white-space: normal;
    min-height: 75px;
  }
  .item,.item-block .item-inner {
    border:none;
    padding: 0 !important;
    background: transparent;
    .label{
    margin: 13px 0;
      background: #fff;
      overflow: visible;
  }}
  .group-btn-nav .cart-nav img {
    height: 25px !important;
    padding: 5px;
  }

}
