<!--
  Generated template for the AddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Adresses enregistrées</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="adresse_content">
    <button ion-button class="btnTransparent" (tap)="addAddress(list)">Ajouter une nouvelle adresse <b>+</b></button>
    <ion-list>
        <ion-item *ngFor="let lst of list" >
            <ion-row>
                <ion-col col-3>
                    <img *ngIf="lst.title_adr=='Chez moi'" src="assets/img/homeJaune.png"/>
                    <img *ngIf="lst.title_adr=='Autre'" src="assets/img/gpsJaune.png"/>
                   <!-- <img *ngIf="lst.title_adr=='Aucun'" src="assets/img/gpsRed.png"/>-->
                    <img *ngIf="lst.title_adr=='Bureau'" src="assets/img/bureauJaune.png"/>
                </ion-col>
                <ion-col col-8>
                    <h6>{{lst.title_adr}} </h6>
                    <p>{{lst.adr}}</p>
                </ion-col>
                <ion-col col-1>
                    <img (tap)="deleteAdrr(lst.id)" src="assets/img/delete.png"/>
                </ion-col>
            </ion-row>
        </ion-item>

    </ion-list>
</ion-content>

<ion-footer>
    <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
    </button>
</ion-footer>