page-categories-commerct {
	.content-md,.content-ios{
		background-color:#f4f4f4 ;
	}

	.label-md,.label-ios{
		margin: 0 !important;
		overflow: visible;
	}
	.bgProduct{
		position: absolute;
		top: 0;
		bottom: auto;
		left: 0;
		width: 100%;
		z-index: -1;
	}


	.card-background-page {
		ion-card {
			position: relative;
			color: #fff;
			max-height: 170px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		// img{
		// 	filter: blur(1.5px);
		// }
		.wrapper-bg{
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: rgba(0,0,0,0.7);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.item-md,.item-ios{
			display:inline-block;
			padding-left: 8px;
		}
		.card-title {
			font-family: "Montserrat_regular";
			text-transform: uppercase;
			color: #fff;
			text-align: left;
			font-size: large;
		}
		p{
			font-family: "Montserrat_regular";
			text-transform: uppercase;
			text-align: left;
			color: #fff;
			font-size: 14px;
			display: block;
			font-weight: 100;
			margin-left: 0;
		}

		.whiteblock {
			position: relative;
			text-align: center;
			border-radius: 0;
			padding: 0px 10px 0;
			border: 1px solid #fff;
			overflow: hidden;
			min-height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.voirPlus{
			position: relative;
			top: 30px;
			width: 120px;
			margin: 0;
			border: 6px solid #f9faf9;
			box-shadow: none;
			border-radius: 25px;
		}
		ion-col,.col{
			position: relative;

		}
		.item{
			background: transparent;
			margin-bottom: 5px;
		}

	}
}
