<ion-header>
  <ion-navbar > 
    <button ion-button menuToggle class="menu" >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo-header.png" width="30px"/></ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="home_content card-background-page">
    <ion-grid class="blocSearch" *ngIf="isSerch">
        <!--  <ion-buttons start>
            <button  icon-only (tap)="search()">
              <ion-icon name="close-circle" ></ion-icon>
            </button>
          </ion-buttons>-->
        <ion-row>
            <ion-col>
                <ion-searchbar (input)="searchBook($event)" (ionClear)="ionClear($event)" placeholder="Recherche">
                </ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list class="margTop10">
        <ion-item *ngFor="let lst of list"  (tap)="openPage(lst)" col-12>
            <div style="padding: 10px;background: #00000073;position: relative">
                <img src="{{base_url+lst.path}}" class="bgProduct">
                <ion-row class="whiteblock" >
                    <ion-col col-10>
                        <h1 class="card-title">{{lst.name_cat}}</h1>
                        <p>{{lst.total}} produits</p>
                    </ion-col>
                    <ion-col col-2>
                        <img src="assets/img/go.png" width="20%"/>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
