<ion-header>
  <ion-navbar>
      <button ion-button menuToggle class="menu">
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{'search' | translate}}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->

  <ion-searchbar (ionInput)="search($event.target.value)"></ion-searchbar>


  <ion-row *ngIf="msg_err != null" padding>
    <h4 class="msg_err">{{msg_err}}</h4>
  </ion-row>


  <ion-row *ngIf="list != null && list != 0" class="lst-food">
      <div padding class="name-st">
        <b>{{'search_1' | translate}}</b>
        <h4>{{'search_1' | translate}}</h4>
        <p>{{'search_1' | translate}}</p>
      </div>

      <ion-card *ngFor="let item of list, let i = index">
        <img (tap)="openPage(item.id)" src="{{item.image}}"/>
        <div class="sale_off" *ngIf="item.discount != null">
            <small>-{{('0' + item.discount).slice(-2)}} %</small>
        </div>
        <ion-card-content (tap)="openPage(item.id)">
          <ion-card-title>{{item.name}}</ion-card-title>
          <p class="price" *ngIf="item.discount == null || item.discount == 0">{{currencyProvider.formatMoney(item.price)}}</p>
          <p class="price_sale_off" *ngIf="item.discount != null && item.discount != 0">
            <span class="price old-price"> &nbsp; {{currencyProvider.formatMoney(item.price)}} &nbsp; </span>
            <span class="price">{{currencyProvider.formatMoney(item.price - item.price*item.discount/100)}}</span>
          </p>
          <p>{{item.description.substr(0, 150)+'...'}}</p>
        </ion-card-content>
        <ion-row no-padding>
            <ion-col col-4>
              <button clear icon-left ion-button small (tap)="modalAddCart(item)">
                 <img src="assets/img/panier.png"/>{{'add_cart' | translate}}
              </button>
            </ion-col>
            <ion-col col-4 text-center>
                    <button clear icon-left ion-button small [ngClass]="item.favoriest ? 'active':''" (tap)="addFavoriest(item)">
  <ion-icon name="heart"></ion-icon>{{'favoriest' | translate}}
</button>
            </ion-col>
            <ion-col col-4 text-right>
              <button clear icon-left ion-button small (tap)="share(item)">
                  <ion-icon name="share-alt"></ion-icon>{{'share' | translate}}
              </button>
            </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
</ion-content>