<!--
  Generated template for the HistoriqueCommandesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'order_history'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-item class="choiceWeek">
    <ion-label>{{'search_date'|translate}}</ion-label>
    <ion-datetime (ionChange)="dateChanged($event)" displayFormat="MMM DD YYYY" [(ngModel)]="date_picked.month"></ion-datetime>
  </ion-item>
  <ion-list class="listeCommandesStyle" *ngIf="commandesList" >
    <ion-item *ngFor="let commande of commandesList" class="item_style" >

      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Id:{{commande.cmd.id}}</h2>
            <h1>{{commande.cmd.full_name}}</h1>
            <p class="total">

              {{'total'|translate}}:&nbsp;
              {{commande.total}} €</p>
            <p class="date"> {{'date'|translate}} : {{commande.cmd.date }} </p>

            <p class="nbrAchat">
             {{'nbr_achat'|translate}} : {{commande.detail.length}}</p>
            <p>
           <!-- <p class="typeEmp" *ngIf="commande.cmd.type=='Emporter'" [ngClass]="commande.cmd.type=='Emporter' ? 'typeEmp':'typeLiv'">
              Type : Point retrait
          </p>
              <p class="typeEmp" *ngIf="commande.cmd.type!='Emporter'" [ngClass]="commande.cmd.type!='Emporter' ? 'typeEmp':'typeLiv'">
                  Type : Livraison
              </p>-->
          </ion-col>
          <ion-col>
            <ion-row  style="float: right"  *ngIf="commande.cmd.validate == 3">
             <div class="btnlight statutV" ion-button><ion-icon name="md-checkmark"></ion-icon> {{'validated'|translate}}</div>
            </ion-row>
            <ion-row  style="float: right" *ngIf="commande.cmd.validate == 2" >
             <div class="btndark statutR"  ion-button><ion-icon name="md-close"></ion-icon> {{'refused'|translate}}</div>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
  </button>
</ion-footer>