page-historique-commandes {

    [icon-only] ion-icon {
        padding: 0px 0.5em;
        font-size: 1.8em;
        line-height: .67;
        pointer-events: none;
        margin: 0px 0px 0px -16px;
    }

    .content {
        background-color: #f6f6f6;
    }
    ion-col {
        overflow: hidden;
        text-overflow: initial;
        white-space: normal;
    }
    .choiceWeek {
        background: transparent !important;
        * {
            color: #000 !important;
            padding: 0 5px
        }
        .text-input-md, .text-input-ios, .label {
            margin: 0 !important;
        }
        .datetime-text {
            font-weight: bold;
        }
    }
    .item_style {
        position: relative;
        margin-bottom: 15px;
        .item-title {
            //font-size: 18px;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 5px;
            font-family: 'Montserrat_regular';
            font-weight: 500;
            color: #212739 !important;
            display: inline-block;
        }
        p {
            color: #000;
            font-size: smaller;
            font-family: Montserrat_light;
            background-size: auto 15px;
            background-repeat: no-repeat;
            background-position: 5px center;
            padding-left: 30px;
        }
        p.total {
            color: #000 !important;
            font-size: medium !important;
            font-family: Montserrat_bold !important;
            padding: 0 !important;
            margin-bottom: 10px;
        }
        .listeCommandesStyle h1 {
            font-family: Montserrat_bold;
            color: #f6c505;
        }
        ion-icon {
            display: inline-block;
            font-size: 18px;
            padding-right: 5px;
            font-weight: bold;
        }
    }
    .listeCommandesStyle h1 {
        color: #f6c505;
        text-transform: capitalize;
    }
    ion-item.margTop20.item.item-block.item-md {
        background-color: #fff;
        border-radius: 0;
        width: 100%;
        margin: 0;
    }
    ion-item.margTop20.item.item-block.item-md:first-child {
        background-color: #fff;
        border-radius: 0;
        width: 100%;
        margin: 0 !important;
    }
    .grid .row .col {
        margin: auto;
    }
    .dayName_style {
        font-family: Montserrat_bold;
    }
    .date {
        background: url("../assets/img/calender.png");
    }
    .nbrAchat {
        background: url("../assets/img/menu/panier.png");
    }
    .typeEmp {
        background: url("../assets/img/iconaemporter.png");
    }
    .typeLiv {
        background: url("../assets/img/iconenlivraison.png");
        background-position: left center !important;
    }
    div.btnvert,
    div.btnrouge{
        width: 50px;
        height: 50px !important;
        border-radius: 50%;
        margin: 0;
    }
    .statutR{
        text-transform: uppercase;
        font-family: Montserrat_bold !important;
        background-color: #f53d3d !important;
        line-height: 50px;
        padding-right: 5px;
    }

}
