<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{obj.name}}</ion-title>
        <div class="group-btn-nav">

            <!--<button clear small color="light" ion-button class="search-nav" (tap)="openSearchPage()">
              <ion-icon name="search"></ion-icon>
            </button>-->

        </div>
    </ion-navbar>
</ion-header>

<ion-content class="food-detail">
    <!--<img src="{{obj.image}}" style="width:100%" />-->
    <img src="https://extranet.novo-burger.fr/{{obj.image}}" style="width:100%"/>
    <div class="sale_off" *ngIf="obj.discount != null">
        <small>-{{('0' + obj.discount).slice(-2)}} %</small>
    </div>
    <div padding class="wrapper_pst">
        <h2>{{obj.name}}</h2>
        <p class="price" *ngIf="obj.discount == null || obj.discount == 0">

            {{currencyProvider.formatMoney(obj.price)}}

        </p>
        <p class="price_sale_off" *ngIf="obj.discount != null && obj.discount != 0">
      <span class="price old-price">
        {{currencyProvider.formatMoney(obj.price)}}
      </span>
            <span class="price">
        {{currencyProvider.formatMoney(obj.price - obj.price*obj.discount/100)}}
      </span>
        </p>
        <p class="offer_des" *ngIf="obj.discount != null && obj.discount != 0">
            <ion-icon name="star"></ion-icon>
            {{obj.offer_description}}
            <ion-icon name="star"></ion-icon>
        </p>
        <p class="description">{{obj.description}}</p>
        <ion-row class="gr-btn">
            <button icon-left ion-button round block (tap)="modalAddCart(obj)">
                <ion-icon name="cart"></ion-icon>
                {{'add_cart' | translate}}
            </button>

            <button icon-left ion-button round block [ngClass]="obj.favoriest ? 'active':''" (tap)="addFavoriest(obj)">
                <ion-icon name="heart"></ion-icon>
                Favorites
            </button>

            <button icon-left ion-button round block (tap)="share(obj)">
                <ion-icon name="share-alt"></ion-icon>
                {{'share' | translate}}
            </button>
        </ion-row>
    </div>
</ion-content>


<ion-footer>
    <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
    </button>
</ion-footer>
