<ion-header>
  <!--<button ion-button item-end class="exit_style flat">
    <ion-icon ios="ios-arrow-back" md="md-arrow-back" (tap)="closePage()"></ion-icon>
  </button>-->
  <ion-navbar>
    <ion-title>{{data.dayName}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-list>
    <ion-item class="margTop20">
      <ion-label>Service</ion-label>
      <ion-toggle (ionChange)="updateDayService($event)" [checked]="isOnService"></ion-toggle>
    </ion-item>
  </ion-list>
  <h3>Matiné</h3>
  <ion-list>
    <ion-item>
      <ion-label>Ouverture</ion-label>
      <ion-datetime displayFormat="h:mm A" (ionChange)="updateDay($event)" pickerFormat="h mm A" [(ngModel)]="data.morning_from"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Fermeture</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"  (ionChange)="updateDay($event)" [(ngModel)]="data.morning_to"></ion-datetime>
    </ion-item>
  </ion-list>
  <h3>Après midi</h3>
  <ion-list>
    <ion-item>
      <ion-label>Ouverture</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"  (ionChange)="updateDay($event)" [(ngModel)]="data.afternoon_from"></ion-datetime>
      <ion-grid>
        <ion-row>
          <ion-col>
            Ouverture
          </ion-col>
          <ion-col>
            {{data.afternoon_from}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label>Fermeture</ion-label>
      <ion-datetime displayFormat="h:mm A"  (ionChange)="updateDay($event)" pickerFormat="h mm A" [(ngModel)]="data.afternoon_to"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>