page-day-details {
    *{
        .ion-page {
            	border-radius: 12px;
            }
    }

h3{
    font-size: large;
    padding: 0 15px;
}
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md ,
    .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios,.datetime-md,.datetime-ios {
        color: #000;
        font-weight: 100;
    }
    .back-button{
        display: block;
    }
    .image_product_style{
        height: 250px;
    }
    .card-header-md {
        padding: 0px;
    }
    .title_product_style{
        padding:6px 16px;
    }

    .grid {
        padding: 0px;

    }

    .exit_style{
        position: absolute;
        color: #fff;
        background-color: transparent;
        padding: 0px;
        height: auto;
        top: 15px;
        left: 15px;
        z-index: 999;
        box-shadow:none;
    }

    .exit_style:hover{
        background-color: #00000018;
    }
    .button-md:hover:not(.disable-hover) {
        background-color: #00000018;
    }

    .image_product_detail_style{
        width: 100%;
    }

    .item-end_style{
        float: right;
    }
    .item-start_style{
        float: left;
    }

    .column_12_style{
        width: 100%;
    }

    .description_style{
        width: 100%;
        text-align: -webkit-center;
        text-align: center;
    }

    .button_add_style{
        background: rgb(91, 107, 255)
    }
    .button_quantity_style{
        background: rgb(27, 27, 27);
        padding: 0;
    }

    .button_transparent_style{
        background: rgba(0, 0, 0, 0);
    }
    .quantity_digit_style{
        color: rgb(255, 255, 255);
    }
    .quantity_digit_style > h4{
        text-align: center;
        margin:  10px 0;
    }
    .button_add_style{
        width: 100%;
        box-shadow: #000;
        padding: 0;
    }
    
    .button_add_style> button{
        margin: 0px 0 0 0;
        height: 55px;
    }

    h2.day_name_style {
        margin: 0 0 20px 0;
        text-align: -webkit-center;
        font-size: 32px;
    }
    .content{
        background-color:#f4f4f4 ;
    }
    ion-col{
        overflow: hidden;
        text-overflow: initial;
        white-space: normal;
    }
    .choiceWeek{
        background: transparent !important;
        *{ color: #000 !important;
            padding: 0 5px}
        .text-input-md, .text-input-ios,.label{
            margin: 0 !important;
        }
        .text-input-md, .text-input-ios{
            font-weight: bold;
        }
    }
    .sale_off {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0px 0px 8px;
        .badge {
            width: 50px;
            height: 50px;
        }
        p {
            margin-top: -2px;
            padding-right: 7px;
            text-align: right;
            width: 100%;
            line-height: 1.3rem;
            font-size: 1.6rem !important;
            letter-spacing: -1px;
            display: block;
            position: absolute;
            color: #e91e3c !important;
            font-weight: bold;
            b {
                letter-spacing: 0.5px;
                font-family: 'Montserrat_regular';
                padding-right: 3px;
                color: #212739;
                font-size: 1.3rem;
            }
            small {
                font-weight: 900;
                font-size: 1.2rem;
                letter-spacing: -2px;
            }
        }
    }
    .item_style {
        position: relative;
        margin-bottom: 15px;
        .item-title {
            //font-size: 18px;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 5px;
            font-family: 'Montserrat_regular';
            font-weight: 500;
            color: #212739 !important;
            display: inline-block;
        }
        p {
            color: #7e7e7e;
            font-size: 1.3rem;
        }
        .price {
            font-family: Montserrat_bold;
            display: inline-block;
            color: #f6c505;
            font-size: 1.5rem;
            margin-bottom: 5px;
            text-transform: capitalize;
            font-weight: bold;
            margin-right: 10px;
            &.old-price {
                font-style: italic;
                text-decoration: line-through;
                color: #7e7e7e;
            }
        }
        button {
            text-transform: lowercase;
            color: #212739;
            font-weight: normal;
            ion-icon {
                color: #212739;
            }
        }
    }
    .item-md ion-thumbnail ion-img,
    .item-md ion-thumbnail img {
        width: 100px;
        height: auto;
    }
    .checkbox-md .checkbox-icon {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .checkbox-md .checkbox-checked .checkbox-inner {
        left: 8px;
        top: 0px;
        position: absolute;
        width: 12px;
        height: 20px;
        border-radius: 3px;
        border-top-width: 0;
        border-right-width: 3px;
        border-bottom-width: 3px;
        border-left-width: 0;
    }
    .imgright{
        float: right;
        margin-left: 2px;
        width: 30%;
        max-width: 30px;
    }
    ion-item.margTop20.item.item-block.item-md{
        background-color: #fff;
        border-radius: 0;
        width: 100%;
        margin: 0;
        padding-top:16px ;
        padding-bottom:16px ;
    }
    .item-md,.item-ios{
        border-bottom: 1px solid #f6f6f6;
    }
    .grid .row .col {
        margin: auto;
    }
    .dayName_style{
        font-family: Montserrat_bold;
    }
}
