<!--
  Generated template for the AddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Mes coupons fidélité</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="adresse_content">
  <button ion-button class="btnTransparent" (tap)="addAddress()">Ajouter un code <b>+</b></button>
  <ion-list>
    <ion-item >
      <ion-row>
        <ion-col col-8>
          <h6>Crédit</h6>
          <p>Valide jusqu’au 28 novembre</p>
        </ion-col>
        <ion-col col-4>
          16.00 €
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item >
      <ion-row>
        <ion-col col-8>
          <h6>2.00€ Offrets sur vos deux premiéres commandes </h6>
          <p>Valide jusqu’au 28 novembre</p>
        </ion-col>
        <ion-col col-4>
          2.00 €
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
  </button>
</ion-footer>