page-coupon-fidelite {
  .edit{
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    color: #fff;
    font-weight: 500;
    float: right;
    padding: 0px;
    margin: 0;
  }
  .btnTransparent{
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: max-content;
    min-width: max-content;
    text-transform: initial;
    padding: 5px 15px !important;
    b{
      font-family: Montserrat_bold;
      font-size: medium;
      padding-left: 5px;
    }
  }
  .row .col:first-child{
    h6{
      font-family: Montserrat_regular;
      text-transform: initial !important;
    }
    p{
      margin-top: 5px;
      font-size: small;
    }
    font-size: small;
    background-image: url("../assets/img/border-left.png");
    background-position: right center;
    background-size: auto 60%;
    background-repeat: no-repeat;
  }
  .row .col:first-child img{
    height:20px;
    position: relative;
    top: 4px;
  }

  .row .col:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6c505;
    font-family: 'Montserrat_bold';
  }
  .row .col{
    white-space: normal;
  }
  .item{
    border-top: 1px solid #e9e9e9
  }
  .item:last-child{
    border-bottom: 1px solid #e9e9e9
  }

}
