page-signup {
	.form-signup{
		background: #f1f1f1;
		label{
			color: #757575;
			font-weight: bold;
			padding-bottom: 7px;
			display: block;
		}
		input {
			font-family: montserrat_light;
			width: 100%;
			height: 42px;
			padding: 0px 15px;
			background: #fff;
			border-radius: 20px;
			border: none;
			-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
			box-shadow: none;
			margin: 5px 0px;
			font-weight: 500;
			color: #000;
		}
		::placeholder{
			color: black;
		}
	}
	.civ .item{
		border-radius: 25px;

	}
}
