<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'subscribe'|translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="form-signup">
    <ion-list>
        <ion-list radio-group [(ngModel)]="civ" class="civ">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Mr</ion-label>
                        <ion-radio value="Monsieur"></ion-radio>
                    </ion-item>

                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>Mme</ion-label>
                        <ion-radio value="Madame"></ion-radio>
                    </ion-item>
                </ion-col>

            </ion-row>
        </ion-list>
        <form [formGroup]="form" >

            <ion-input formControlName="user_name" type="text" placeholder="{{'first_name'|translate}}*"></ion-input>
            <p class="err" *ngIf="!form.controls.user_name.valid  && (form.controls.user_name.dirty || iserror)">
                {{'err_fname'|translate}}</p>

 <ion-input formControlName="full_name" type="text" placeholder="{{'last_name'|translate}}*"></ion-input>
            <p class="err" *ngIf="!form.controls.full_name.valid  && (form.controls.full_name.dirty || iserror)">
                {{'err_lname'|translate}}</p>


           <!-- <ion-input formControlName="address" id="txtAdresse" type="text" placeholder="{{'address'|translate}}*"></ion-input>

            <p class="err" *ngIf="!form.controls.address.valid && (form.controls.address.dirty || iserror)">
                {{'err_fiveCarac'|translate}}</p>

-->

            <ion-input type="number" formControlName="phone" placeholder="{{'phone'|translate}}*"></ion-input>
            <p class="err" *ngIf="!form.controls.phone.valid  && (form.controls.phone.dirty || iserror)">
                {{'err_phone'|translate}}</p>

            <ion-input type="email" formControlName="email" placeholder="{{'email'|translate}}*"></ion-input>
            <p class="err" *ngIf="!form.controls.email.valid  && (form.controls.email.dirty || iserror)">
                {{'err_email'|translate}}</p>


            <ion-input formControlName="pwd" type="password" placeholder="{{'password'|translate}}*"></ion-input>
            <p class="err" *ngIf="!form.controls.pwd.valid && (form.controls.pwd.dirty || iserror)">

                {{'err_fiveCarac'|translate}}</p>

            <ion-input formControlName="repwd" type="password" placeholder="{{'confirm_password'|translate}}*"></ion-input>
            <p class="err" *ngIf="!form.controls.repwd.valid  && (form.controls.repwd.dirty || iserror)">
                {{'err_fiveCarac'|translate}}</p>


            <ion-list style="display: none;" radio-group formControlName="send_code_method">
                <ion-list-header>
                    {{'get_verified_code_via' | translate }} ({{'sms_verification'|translate}})
                </ion-list-header>
                <!-- <ion-item>
                  <ion-label><span style="font-size: 12px">{{'sms' | translate}}</span></ion-label>
                  <ion-radio value="0"></ion-radio>
                </ion-item> -->
                <ion-item>
                    <ion-label><span style="font-size: 12px">{{'mail' | translate}}</span></ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
            </ion-list>
            <ion-row style="display: table;margin-top: 20px">
                <ion-checkbox class="checkbox">
                </ion-checkbox>
                <label class="label-checkbox">
                   {{'checkboxConf'|translate}}
                </label>
            </ion-row>



        </form>
        <div class="" padding>
            <button ion-button block class="btnlight"  (click)="signup()">{{'register'|translate}}
            </button>
        </div>
    </ion-list>
</ion-content>

