page-code-promp-bo {
    .group-btn-nav button ion-icon {
        font-size: 3.5rem;
        margin-right: 5px;
    }
    .content {
        background-color: #f6f6f6;
    }
    ion-col {
        overflow: hidden;
        text-overflow: initial;
        white-space: normal;
    }
    .item_style {
        position: relative;
        margin-bottom: 15px;
        padding: 0;

        p {
            color: #000;
            font-size: smaller;
            font-family: Montserrat_light;
            background-size: 15px;
b{
    font-family: Montserrat_semibold;

}
        }


    }
    p.total {
        color: #000 !important;
        font-size: medium !important;
        font-family: Montserrat_bold !important;
        margin-bottom: 10px;
        padding-left: 15px;
    }
    .item-inner{
        padding: 0 !important;
    }
    .label{
        margin: 0 !important;
    }
    .row{
        border-bottom: 1px solid #f5f5f5;
    }
    .col:first-child{
        border-right: 1px solid #f5f5f5;
    }
    .col{
        padding: 12px;

    }
    .col.horaire{
        background: url("../assets/img/horaire.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 40px;
        margin: auto;
    }
    .col.reduction{
        background: url("../assets/img/reduction.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 40px;
        margin: auto;
    }
    .col.montant{
        background: url("../assets/img/montant.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 40px;
        margin: auto;
    }

}
