<!--
  Generated template for the CodePrompBoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Code Promo</ion-title>
        <div class="group-btn-nav">
            <button clear color="light" ion-button class="cart-nav" (tap)="addCodePromo()">
                <ion-icon name="add"></ion-icon>
            </button>
        </div>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list class="listeCommandesStyle margTop20" *ngIf="code_promoList">
        <div *ngFor="let codepromo of code_promoList">
            <p class="total">Code Promo : {{codepromo.code}}</p>
            <ion-item (tap)="updateCodePromo($event,codepromo)" class="item_style">
                <ion-grid class="pad0">
                    <ion-row>
                        <ion-col class="montant">
                            <p>Montant</p>
                            <p><b>{{codepromo.montant}}</b></p>
                        </ion-col>
                        <ion-col class="reduction">
                            <p> Réduction </p>
                            <p><b>{{codepromo.reduction}}</b></p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="horaire">
                            <p>Ouverture</p>
                            <p><b>{{codepromo.date_from}}</b></p>
                        </ion-col>
                        <ion-col class="horaire">
                            <p>Fermeture</p>
                            <p> <b>{{codepromo.date_to}}</b></p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
