page-commande-admin-tabs {
  .ion-md-emporter-circle,
  .ion-ios-emporter-circle,
  .tab-button-icon.icon-ios.ion-ios-emporter-circle-outline{
    background: url("../../assets/img/aEmporterGray.png");
    background-position: center;
    background-size: auto 35px;
    background-repeat: no-repeat;
    width: 60px;
    height: 35px;
  }
  .ion-md-livraison-circle,
  .ion-ios-livraison-circle,
  .tab-button-icon.icon-ios.ion-ios-livraison-circle-outline{
    background: url("../../assets/img/EnLivraisonGray.png");
    background-position: left;
    background-size: auto 30px;
    background-repeat: no-repeat;
    width: 60px;
    height: 35px;
  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-icon.ion-md-livraison-circle,
  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon.ion-ios-livraison-circle {
    background: url("../../assets/img/EnLivraison.png");
    background-position: left;
    background-size: auto 30px;
    background-repeat: no-repeat;
    width: 60px;
    height: 35px;

  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-icon.ion-md-emporter-circle,
  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon.ion-ios-emporter-circle{
    background: url("../../assets/img/aEmporterNav.png");
    background-position: center;
    background-size: auto 35px;
    background-repeat: no-repeat;
    width: 60px;
    height: 40px;

  }
  .has-icon .tab-button-icon, .has-title .tab-button-text {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    height: 40px;
    margin: auto !important;
    line-height: 40px;
  }
  .tabs-md .tab-button[aria-selected=true] ,
  .tabs-ios .tab-button[aria-selected=true] {
    color: #f6c505;
    padding: 0;
    display: block;
    margin: auto;
  }
  .tabs-md .tab-button ,
  .tabs-ios .tab-button {
    padding: 0;
    display: block;
    margin: auto;
  }
  .tabs-md .tab-button-text ,
  .tabs-ios .tab-button-text {
    font-family: "DaysOne-Regular" !important;
  }
}
