<ion-tabs [selectedIndex]="0">
    <ion-tab [root]="aEmporterRoot" tabTitle="En Emporter" tabIcon="emporter-circle"></ion-tab>
    <ion-tab [root]="enLivraisonRoot" tabTitle="En Livraison" tabIcon="livraison-circle"></ion-tab>
</ion-tabs>
