<ion-content padding class="food-detail">
  <ion-row class="close-modal" (tap)="dismiss()"></ion-row>
  <ion-row class="main-modal" col-2>
    <div class="wrapper">
      	<ion-item>
	        <ion-label>{{'enable' | translate}}</ion-label>
	        <ion-toggle [(ngModel)]="toggle"  (ionChange)="togglePush()"></ion-toggle>
	    </ion-item>
    </div>
  </ion-row>
</ion-content>