<!--
  Generated template for the AddCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>add-card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div padding>
      <ion-row class="form-add-card">
        <input type="number" placeholder="Numéro de carte">
        <input type="date" placeholder="Date d'expiration">
        <input type="text" placeholder="Code CCV">
      </ion-row>
  </div>
  <button ion-button class="btnlight" (tap)="send()">Ajouter</button>

</ion-content>
