page-add-card {
  .content{
    background-color: #f4f4f4 !important;
  }

.form-add-card{
   input {
     font-family: montserrat_light;
     width: 100%;
     height: 42px;
     padding: 0px 15px;
     background: #fff;
     border-radius: 0;
     border: none;
     -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
     box-shadow: none;
     margin: 5px 0px;
     font-weight: 500;
     color: #000;
   }
   ::placeholder{
     color: black;
   }

 }
}
