page-faq {
  .content{
    background: #f4f4f4;
  }
.hide{
  display: none;
}
.show{
  display: block;
}
  .col:last-child{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .up{
    background-image: url(../assets/img/goBlack.png);
    background-size: 17%;

  }
  .down{
    background-image: url(../assets/img/goDown.png);
    background-size: 30%;

  }
  .btnhide{
    margin: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;  }
  .bgshow{
    background-color: #fff;
  }
  p{
    white-space: normal;
    text-align: left;
    font-size: small !important;
    width: 100%;

  }
  .item{
    border: none;
margin-bottom: 10px;
  }
  [col-10]{
    font-size: small;

    white-space: normal;
    font-family: Montserrat_bold;

  }
}
