<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>FAQ</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="margTop20" *ngIf="faq">
        <ion-item *ngFor="let item of faq; let i=index" [ngClass]="showDiv[i] ? 'bgshow':''">
            <ion-row>
                <ion-col (tap)="btnhide(i)" col-10> {{item.question}}</ion-col>
                <ion-col (tap)="btnhide(i)" col-2>
                    <div [ngClass]="showDiv[i]  ? 'btnhide down':'btnhide up'" ></div>
                </ion-col>

                <ion-col col-12 [ngClass]="showDiv[i]  ? 'show':'hide'"><br> <p>{{item.reponse}}</p>
                </ion-col>
            </ion-row>
        </ion-item>

    </ion-list>
</ion-content>
<!--

<ion-footer>
    <button clear small  color="light" ion-button class="panier btnpanier" (tap)="cart()">
    </button>
</ion-footer>-->
