<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menu" >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Livraison & Point retrait</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-list class="margTop20">
    <ion-item (tap)="livraison()">
      <ion-row>
        <ion-col col-9>
          <div class="card-title">Livraison</div>
        </ion-col>
        <ion-col col-3>
          <img src="assets/img/go.png" width="50px" style="float: right"/>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item (tap)="pointR()">
      <ion-row>
        <ion-col col-9>
          <div class="card-title">Point retrait</div>
        </ion-col>
        <ion-col col-3>
          <img src="assets/img/go.png" width="50px" style="float: right"/>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab>  <ion-icon ios="ios-more" md="md-more"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (tap)="twitter()"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab (tap)="facebook()"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab (tap)="call()"><ion-icon name="call"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
