page-livraison-point-retrait {
  .content-md,.content-ios{
    background-color:#f6f6f6 ;
  }
  .card-background-page {
    ion-card {
      position: relative;
      color: #fff;
      max-height: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    // img{
    // 	filter: blur(1.5px);
    // }
    .wrapper-bg{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba(0,0,0,0.7);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .card-title {
      font-family: "DaysOne-Regular";
      font-weight: 500;
      font-size: 14px;
    }

    p{
      font-family: "DaysOne-Regular";
      color: #f6c505;
      font-size: 12px;
      display: inline-block;
      font-weight: 100;
      margin-left: 0;
    }
  }
}
