<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="menu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'methodePay'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home_content">
    <br/>
    <div col-6>
        <button class="cardPay" (tap)="paiementCard()" ion-button>
            <img src="assets/img/card.png"/>
            <h2>{{'payCard'|translate}}</h2>
        </button>
    </div>
    <div col-6>
        <button class="cardPay" ion-button>
            <img src="assets/img/livraison.png"/>
            <h2>{{'payLiv'|translate}}</h2>
        </button>
    </div>


</ion-content>
